{% extends 'storage_insights_base.html' %}

{%block tab_header %}
    Configure a new scan
{%endblock%}


{%block inside_content %}

  <form id="scan_form" class="form-horizontal" role="form" name="scan_form" action="" method="post">
    {%csrf_token%}
    <table  class="table" style="border:0px solid;width:100%">
      <tr>
        <th> Select underlying ZFS dataset {%if form.fields.dataset.required %}<sup class="required"></sup>{%endif%}</th>
        <td>
          <select id = "id_dataset" name="dataset" class="form-control" onchange="change_dataset(this);this.form.submit()">
            {% for choice in dataset %}
      		    <option value="{{choice.0}}" onclick="option_selected(this)" {%if form.initial.dataset == choice.0%} selected="selected" {%endif%}>{{choice.1}}</option>
            {%endfor%}
          </select>
        </td>
        <td> {{ form.dataset.errors }} </td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th> Selected dataset directory{%if form.fields.path.required %}<sup class="required"></sup>{%endif%}</th>
        <td>
          <input type="text" name="path" class="form-control" id="id_path" placeholder="Click the Browse button to choose a directory.." readonly placeholder="Share Path" value="{{form.path.value|default_if_none:""}}"> <br/>
        </td>
        <td> {{ form.path.errors }} </td>
        <td rowspan=4>
          <a href="#" role="button" class="btn btn-primary btn-xs" onClick="displayTree();return false;"> Browse...</a>
          <div id="pathdiv" style="min-height:200px;height:200px;min-width:200px;width:300px;overflow:auto;display:block;border:0px solid"> </div>
        </td>
      </tr>
      <tr>
        <th style="word-wrap: break-word; max-width: 50px;">Create a new sub-directory under the selected directory {%if form.fields.new_folder.required %}<sup class="required"></sup>{%endif%}</th>
        <td>
          <input type="text"  name="new_folder" class="form-control" id="id_new_folder" onkeyup="copyText();" placeholder="Enter new directory name" value={{form.new_folder.value|default_if_none:""}}> 
        </td>
        <td> {{ form.new_folder.errors }} </td>
        <td> &nbsp;</td>
      </tr>
      <tr>
        <th> Final path to scan <sup class="required"></sup></th>
        <td>
          <input type="text" name="final_path" class="form-control" id="id_final_path" readonly value="{{form.path.value|default_if_none:""}}"> <br>
        </td>
        <td> &nbsp;</td>
        <td> &nbsp; </td>
      </tr>

      <tr>
        <th> Enter subdirectries to exclude from scan <br/> (Enter comma separated list of subdirectory names only){%if form.fields.exclude_dirs.required %}<sup class="required"></sup>{%endif%}</th>
        <td>
          <input type="text"  name="exclude_dirs" class="form-control" id="id_exclude_dirs" placeholder="Comma separated list of subdirectory names only" value="{{form.exclude_dirs.value|default_if_none:""}}"> 
        </td>
        <td> {{ form.exclude_dirs.errors }} </td>
        <td> &nbsp;</td>
      </tr>
      <tr>
        <th> Generate file checksums (for duplicate detection) {%if form.fields.generate_checksum.required %}<sup class="required"></sup>{%endif%}</th>
        <td> {{ form.generate_checksum }} </td>
        <td> {{ form.generate_checksum.errors }} </td>
        <td> &nbsp;</td>
      </tr>
      <tr>
        <th> Database transaction size: </th>
        <td>
          <input type="text" name="db_transaction_size" value="{{form.db_transaction_size.value|default_if_none:""}}" class="form-control" id="id_db_transaction_size" />
        </td>
        <td> {{ form.db_transaction_size.errors }} </td>
      </tr>
    </table>

    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <a href="/applications/storage_insights/view_scan_configurations/" role="button" class="btn btn-default"> Cancel</a>&nbsp;&nbsp;
      <button type="submit" class="btn btn-primary"> Create </button>
    </div>

  </form>
  <script src="/static/jstree/dist/jstree.js"></script>
  <script>
    var selected_path = '';
    var e = document.getElementById("id_dataset")
    if (document.forms["scan_form"].elements["path"].value == '') {
      document.forms["scan_form"].elements["path"].value = e.options[e.selectedIndex].value;
      document.forms["scan_form"].elements["final_path"].value = e.options[e.selectedIndex].value;
    }

    function change_dataset(sel){
      if (sel.value[0] != '/')
        document.getElementById('id_path').value = '/' + sel.value;
      else
        document.getElementById('id_path').value = sel.value;
      $('.lightbox').show();
      $("#scan_form").attr("method", "get");
    };
    function displayTree() {
      document.getElementById("pathdiv").style.display = "block";
      $('#pathdiv').jstree({ 'core' : {
        'multiple':false,
        'data' : {
          'url' : function (node) {
            return node.id === '#' ? 
              '/storage/view_dir_contents?first=1' : 
              '/storage/view_dir_contents'; 
          },
          'data' : function (node) {
            var e = document.getElementById("id_dataset")
            var ds_name = e.options[e.selectedIndex].text;
            if (node.data) {              
              return {'dir' : node.data['dir'] , 'id':node.id, "from": "dataset", "dataset_name": ds_name};
            }
            else
              return { 'dir' : node.text , 'id':node.id, "from": "dataset", "dataset_name": ds_name};
          }
        }
      }
      });
      $(function () {
        $('#pathdiv').on('changed.jstree', function (e, data) {
          var i, j, r = [];
          var ds_elem = document.getElementById("id_dataset");
          var ds_name = ds_elem.options[ds_elem.selectedIndex].value;
          r = data.instance.get_node(data.selected[0]).text;
          rfp = data.instance.get_node(data.selected[0]).data["dir"];
          $('.lightbox').show();
          location.href = location.pathname+"?path="+rfp+"&dataset="+ds_name
        })
        .jstree();
      });
    }
    function copyText() {
      if (selected_path == '') {
        selected_path = document.forms["scan_form"].elements["path"].value;
      }
      folder_val = $("#id_new_folder").val();
      document.forms["scan_form"].elements["final_path"].value = selected_path+'/'+folder_val;
    }
  </script>

{%endblock%}

{%block help_header%}
    Configure a new scan
{%endblock%}

{%block help_body%}
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("scan_configurations_tab")
  </script>
{% endblock %}

