{% extends 'storage_insights_base.html' %}

{%block tab_header %}
    Remove scan schedule
{%endblock%}

{%block inside_content %}

  <p id="p-warning-text">Are you sure you want to remove the schedule for the scan of folder  "{{configuration.scan_dir}}" {%if configuration.exclude_dirs%} (excluding folder(s) : "{{configuration.exclude_dirs}}"){%endif%}? This current schedule is {{cron_task.schedule_description}}. </p>
  <br>
  <form action="" method="POST">
    {%csrf_token%}
    <input type=hidden name="scan_configuration_id" value="{{scan_configuration_id}}">

    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <input type="button" class="btn btn-default cover-page" value="Cancel" onClick="window.location='/applications/storage_insights/view_scan_configurations'"> &nbsp;&nbsp;
      <button type="submit" class="btn btn-danger cover-page" >Confirm and remove</button>
    </div>
  </form>

{%endblock%}

{%block help_header%}
  Remove scan schedule - confirmation
{%endblock%}

{%block help_body%}
  <p>Confirming this operation results in the scan schedule for the specified scan being removed from the system. Please ensure that this is actually intended before continuing.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("scan_configurations_tab")
  </script>
{% endblock %}
