{% extends 'application_base.html' %}

{%block tab_items %}
  <li id="dashboard_tab">
    <a href="/applications/storage_insights/view_dashboard">Storage Insights dashboard</a>
  </li>
  <li id="query_tab">
    <a href="/applications/storage_insights/view_query_types">Storage Insights queries</a>
  </li>
  <li id="scan_configurations_tab">
    <a href="/applications/storage_insights/view_scan_configurations">Scan configurations</a>
  </li>
  <li id="view_scans_tab">
    <a href="/applications/storage_insights/view_scans">Scan details</a>
  </li>
{%endblock tab_items %}



