{% extends 'storage_insights_base.html' %}

{%block tab_header %}
    Scan configurations
{%endblock%}

{%block global_actions %}
  <div class="btn-group btn-group-sm pull-right" >
    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Click for global pool actions" href="#"> <i class="fa fa-cog fa-fw"></i> Actions&nbsp;<span class="fa fa-caret-down" title="Toggle dropdown menu"></span> </a>
    <ul class="dropdown-menu">
      <li><a class="action-dropdown" href="/applications/storage_insights/create_scan_configuration"  title="Create a new scan cofiguration"> <i class="fa fa-plus fa-fw"></i>Create a new scan configuration</a> 
    </ul>
  </div>
{%endblock%}

{% block inside_content %}
  {% if not configurations %}
    <p>The scanner does not appear to have been configured. </p>
  {%else %}
    <div style="width:100%; min-height:400px;overflow:auto;clear:both;padding: 9px 9px 4px; background-color: rgb(255, 255, 255); border: 0px solid rgb(221, 221, 221); border-radius: 4px 4px 4px 4px;">
    <h3> Active configurations</h3>
      <table  class="table table-striped" style="width:95%">
        <tr>
          <th > Scan folder</th>
          <th > Excluded folders</th>
          <th > Generate checksum</th>
          <th> Schedule</th>
          <th style="text-align:right"> Actions</th>
        </tr>
        {%for c in configurations %}
            {%if c.status_id != -1 %}
              <tr>
                <td> {{c.scan_dir}} </td>
                <td> {{ c.exclude_dirs}}</td>
                <td> {%if c.generate_checksum%} Enabled {%else%} Disabled {%endif%}</td>
                <td> {%if c.schedule_description%} {{c.schedule_description}} {%else%} Not scheduled {%endif%}</td>
                <td>
                  <div class="btn-group btn-group-xs pull-right" >
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#" title="Click for pool specific actions"> <i class="fa fa-cog fa-fw"></i>Actions&nbsp;<span class="fa fa-caret-down" title="Toggle dropdown menu"></span> </a>
                    <ul class="dropdown-menu">
                      <li><a  class="action-dropdown" href="/applications/storage_insights/update_scan_schedule?scan_configuration_id={{c.id}}"  title="Update scan schedule" > <i class="fa fa-cog fa-fw"></i>Update scan schedule</a> </li>
                      {%if c.schedule_description %}
                      <li><a  class="action-dropdown" href="/applications/storage_insights/delete_scan_schedule?scan_configuration_id={{c.id}}"  style="color:red" title="Remove scan schedule" > <i class="fa fa-trash fa-fw"></i>Remove scan schedule</a> </li>
                      {%endif%}
                      <li><a  class="action-dropdown" href="/applications/storage_insights/delete_scan_configuration?scan_configuration_id={{c.id}}"  style="color:red" title="Remove scan configuration" > <i class="fa fa-trash fa-fw"></i>Remove scan configuration</a> </li>
                    </ul>
                  </div>
                </td>
              </tr>
            {%endif%}
        {%endfor%}
    </table>
    <h3> Deleted configurations</h3>
      <table  class="table table-striped" style="width:95%">
        <tr>
          <th > Scan folder</th>
          <th > Excluded folders</th>
          <th > Generate checksum</th>
          <th style="text-align:right"> Actions</th>
        </tr>
        {%for c in configurations %}
            {%if c.status_id == -1 %}
              <tr>
                <td> {{c.scan_dir}} </td>
                <td> {{ c.exclude_dirs}}</td>
                <td> {%if c.generate_checksum%} Enabled {%else%} Disabled {%endif%}</td>
                <td>
                  <div class="btn-group btn-group-xs pull-right" >
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#" title="Click for pool specific actions"> <i class="fa fa-cog fa-fw"></i>Actions&nbsp;<span class="fa fa-caret-down" title="Toggle dropdown menu"></span> </a>
                    <ul class="dropdown-menu">
                      <li><a  class="action-dropdown" href="/applications/storage_insights/delete_scan_configuration?scan_configuration_id={{c.id}}&type=expunge"  style="color:red" title="Permanently remove scan configuration and all associated file data" > <i class="fa fa-trash fa-fw"></i>Remove all scan configuration data</a> </li>
                    </ul>
                  </div>
                </td>
              </tr>
            {%endif%}
        {%endfor%}
    </table>
    </div>
  {%endif%}

{%endblock%}


{% block tab_active %}
  <script>
    make_tab_active("scan_configurations_tab")
  </script>
{% endblock %}


