[Unit]
Description=Ramdisk
After=syslog.target network.target

[Service]
ExecStart=/opt/integralstor/integralstor_utils/install/scripts/ramdisk start 
User=root
TasksMax=infinity

[Install]
WantedBy=multi-user.target

