{% extends 'dashboard_base.html' %}
{%block tab_header %}
CPU related statistics
{%endblock%}
{%block inside_content%}
<br><br>

<canvas id="myChart" width="400" height="400"></canvas>


    {%if cpu_status.ipmi_status %}
      <table class="table table-bordered table-hover table-responsive" style="width:800px">
      <thead>
        <th colspan=1>
          Component Type
        </th>
        <th colspan=3>
          Component Detail
        </th>
        <th colspan=5>
          Status
        </th>
      </thead>
      {%for ipmi in cpu_status.ipmi_status %}
      <tr>
        <td colspan=1>
          {{ipmi.component_name}}
        </td>
        <td colspan=3>
          {{ipmi.parameter_name}}
        </td>
        <td colspan=2>
    	{{ipmi.reading}} 
        </td>
        <td colspan=2>
    	  {% if ipmi.status == "ok" %}
    		<i class="fa fa-check-circle green fa-2x"></i>	
        {%else%}
      		<i class="fa fa-remove red fa-2x"></i>	
        {%endif%}
        </td>
      </tr>
      {%endfor%}
    </table>
    {%endif%}
    {%if cpu_status.load_avg %}
      <table class="table table-bordered table-hover table-responsive" style="width:800px">
      <thead>
        <th colspan=1>
          Load average - 1 minute
        </th>
        <th >
          Load average - 5 minutes
        </th>
        <th >
          Load average - 15 minutes
        </th>
      </thead>
      <tr>
        <td>
          {{cpu_status.load_avg.1_min}}
        </td>
        <td>
          {{cpu_status.load_avg.5_min}}
        </td>
        <td>
          {{cpu_status.load_avg.15_min}}
        </td>
      </tr>
      </table>
    {%endif%}
{% endblock %}
{% block tab_active%}
    <script>
    make_tab_active("cpu_tab")
    </script>
{% endblock%}
{% block js %}


<script src="/static/js/Chart.js"></script>
<script>
Chart.types.Line.extend({
    name: "LineAlt",
    initialize: function (data) {
    Chart.types.Line.prototype.initialize.apply(this, arguments);
    var xLabels = this.scale.xLabels;
    xLabels.forEach(function (label, i) {
      if ( i % 10 != 0 )
        xLabels[i] = '';
    })
  }
});
var data = {
  labels : "{{labels}}",
  datasets : [
    {
      label: "IO Wait Chart",
      fillColor: "rgba(220,220,220,0.2)",
      strokeColor: "rgba(220,220,220,1)",
      pointColor: "rgba(220,220,220,1)",
      pointStrokeColor: "#fff",
      pointHighlightFill: "#fff",
      pointHighlightStroke: "rgba(220,220,220,1)",
      data : {{data}}
    }
  ]
};
var ctx = document.getElementById("myChart").getContext("2d");
var myLine = new Chart(ctx).Line(data,{});
</script>
{% endblock %}
