{% extends 'storage_access_base.html' %}

{%block tab_header %}
  Add an ISCSI target user
{%endblock%}

{% block inside_content %}

  {{form.errors}}
  <form class="form-horizontal" role="form" name="create_form" action="" method="post">
    {%csrf_token%}
    {{form.authentication_type}}
    {{form.target_name}}
    <table  class="table" >
      <tr>
        <th  style="max-width:60px;word-wrap: break-word">  
          Target name :
        </th>
        <td> {{form.target_name.value}} </td>
        <td> &nbsp; </td>
      </tr>
      <tr>
        <th  style="max-width:60px;word-wrap: break-word">  
          User's userid :
        </th>
        <td>
          <input type="text"  name="username" class="form-control" id="id_username" value="{%if form.username.value%}{{form.username.value}}{%endif%}" placeholder="Enter username for ISCSI user"> 
        </td>
        <td> {{ form.username.errors }} </td>
      </tr>
      <tr>
        <th  style="max-width:60px;word-wrap: break-word">  
          Password :
        </th>
        <td>
          <input type="password"  name="password" class="form-control" id="id_password" placeholder="Enter the password for this user"> 
        </td>
        <td> {{ form.password.errors }} </td>
      </tr>
      <tr>
        <th  style="max-width:60px;word-wrap: break-word">  
          Confirm password :
        </th>
        <td>
          <input type="password"  name="password_conf" class="form-control" id="id_password_conf" placeholder="Enter the password again for confirmation"> 
        </td>
        <td> {{ form.password_conf.errors }} </td>
      </tr>
    </table>

    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <a href="/storage_access/view_iscsi_target?name={{form.target_name.value}}" role="button" class="btn btn-default"> Cancel</a>&nbsp;&nbsp;
      <button type="submit" class="btn btn-primary"> Create</button>
    </div>
  </form>

{%endblock%}

{%block help_header%}
  Add ISCSI authentication help
{%endblock%}

{%block help_body%}
  <p>Use ISCSI user authentication when you want ISCSI CHAP access control. For ISCSI authentication, you will need to create ISCSI user accounts to the target using this screen. These accounts are used only for ISCSI access and not for any other purpose.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("view_iscsi_targets_tab")
  </script>
{% endblock %}
