{% extends 'storage_access_base.html' %}

{%block tab_header %}
  Delete an ISCSI LUN - confirmation
{%endblock%}

{% block inside_content %}

  <p id="p-warning-text">Are you sure you want to remove the LUN with backing storage {{store}} from target "{{target_name}}"? </p>
  <br>
  <form action="" method="POST">
    {%csrf_token%}
    <input type=hidden name="target_name" value="{{target_name}}">
    <input type=hidden name="store" value="{{store}}">
    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <input type="button" class="btn btn-default" value="Cancel" onClick="window.location='/storage_access/view_iscsi_targets'"> &nbsp;&nbsp;
      <button type="submit" class="btn btn-danger" onClick ="$('#processing').modal('show');">Confirm and delete</button>
    </div>
  </form>

{%endblock%}

{%block help_header%}
  Remove a LUN from an ISCSI target
{%endblock%}

{%block help_body%}
  <p>Confirming this operation results in the specified LUN being removed from the specified ISCSI target. Please ensure that this is actually intended before continuing.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("view_iscsi_targets_tab")
  </script>
{% endblock %}
