{% extends 'system_base.html' %}

{%block tab_header %}
  Network Time Protocol(NTP) settings
{%endblock%}

{%block global_actions %}

  <div class="btn-group btn-group-sm pull-right" >
    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Click to modify Windows services settings" href="#"> <i class="fa fa-cog fa-fw"></i> Actions&nbsp;<span class="fa fa-caret-down" title="Toggle dropdown menu"></span> </a>
    <ul class="dropdown-menu">
    <li><a href="/system/update_ntp_settings/" role="button" class="action-dropdown cover-page"><i class="fa fa-cog fa-fw"></i>&nbsp;Update Servers</a></li>
      <li><a class="action-dropdown cover-page" href="/system/sync_ntp" role="button"><i class="fa fa-refresh fa-fw"></i>&nbsp;One time ntp sync</a></li>

    </ul>

  </div>
{%endblock%}



{% block inside_content %}

  {%if not ntp_servers %}
    <p id="p-instructional-text"> You have not configured NTP.</p><br>
    <a href="/system/update_ntp_settings/" role="button" class="btn btn-default btn-sm"><i class="fa fa-cog fa-fw"></i>Configure NTP settings</a>

  {%else%}
    <table class="table table-bordered" style="width:200px">
      <tr>
        <th> Configured NTP servers </th>
      </tr>
      {% for server in ntp_servers %}
        <tr>
          <td> {{ server}} </td>
        </tr>
      {%endfor%}
    </table>

  {%endif%}

{%endblock%}

{%block help_header%}
  NTP setting 
{%endblock%}

{%block help_body%}
  <p>The IntegralStor system needs to be time synchronised with your Active Directory server in order for Active Directory based authentication to work properly. This requires that the NTP time synchronisation protocol be setup. Please ensure that NTP is running on the Active Directory server and that these NTP settings point to the Active Directory server. Alternatively, you could have IntegralStor and the Active Directory servers point to the same external NTP server in order to synchronize the times. This page displays the currently configured NTP server settings.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("ntp_settings_tab")
  </script>
{% endblock %}
