{% extends 'storage_base.html' %}

{%block tab_header %}
  Add new directory ACL entries
{%endblock%}

{%block inside_content %}


  <br>
  Please select the users and groups for which you want to add ACL entries. These will be added with default ACL settings which can then be modified later.
  <br>
  <form action="" method="POST">
    {%csrf_token%}
    {{form.share_index}}
    {{form.share_name}}
    {{form.path}}
    <br/>
    <table  >
      <tr>
        <th>
          Apply recursively to all sub-directories : 
        </th>
        <td>
          {{form.recursive}}
        </td>
      </tr>
    </table>
    
    <div style="overflow:auto;width:100%">
      <div class="table-responsive" style="float:left;width:45%;padding:0px 5px 0px 5px;margin-left:00px;margin-right:20px;border:1px solid #f4f4f4;height:150px;-webkit-overflow-scrolling: touch;">
        <h4> Users</h4>
        {%if form.users.field.choices|length > 0%}
          <table style="width:100%;" class="table table-striped" >
            {% for choice in form.users.field.choices %}
              <tr>
                <td > {{choice.0}} </td>
                <td style="text-align:center;">
                  <input type="checkbox" name="users" id="{{choice.0}}" value="{{choice.0}}" > 
                </td>
              </tr>
            {%endfor%}
          </table>
        {%else%}
          No new users to add.
        {%endif%}
      </div>
      <div class="table-responsive" style="float:left;width:45%;padding:0px 5px 0px 5px;margin-left:00px;margin-right:20px;border:1px solid #f4f4f4;height:150px;-webkit-overflow-scrolling: touch;">
        <h4> Groups</h4>
        {%if form.groups.field.choices|length > 0%}
          <table style="width:100%;" class="table table-striped " >
            {% for choice in form.groups.field.choices %}
              <tr>
                <td> {{choice.0}} </td>
                <td style="text-align:center;">
                  <input type="checkbox" name="groups" id="{{choice.0}}" value="{{choice.0}}" > 
                </td>
              </tr>
            {%endfor%}
          </table>
        {%else%}
          No new groups to add.
        {%endif%}
      </div>
    </div>
    <br>
    <div class="btn-group btn-group-sm" style="" role="group" aria-label="...">
      {%if form.share_name%}
        <input type="button" class="btn btn-default" value="Cancel" onClick="window.location='/access/view_cifs_share?access_mode=by_id&index={{form.share_index.value}}'"> &nbsp;&nbsp;
      {%else%}
        <a href="/storage/view_dir_ownership_permissions?path={{form.path.value}}" role="button" class="btn btn-default"> Cancel</a>
      {%endif%}
      <button type="submit" class="btn btn-primary cover-page" ">Add </button>
    </div>
  </form>

{%endblock%}

{%block help_header%}
  Adding a new directory ACL entry
{%endblock%}

{%block help_body%}
  <p>Confirming this operation results in new ACL entries being added to the specified share. This may cause some access issues for the share. Please ensure that this is actually intended before continuing.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("dir_manager_tab")
  </script>
{% endblock %}

