{% extends 'shares_base.html' %}

{%block tab_header %}
  Delete a Windows ACL entry - confirmation
{%endblock%}

{%block inside_content %}


  <p id="p-warning-text">Are you sure you want to delete the ACL entry for the {%if type == 'user'%} user {%else%} group {%endif%} "{{name}}" for share "{{share_name}}"? </p>
  <br>
  <form action="/delete_ace/" method="POST">
    {%csrf_token%}
    <input type=hidden name="name" value="{{name}}">
    <input type=hidden name="type" value="{{type}}">
    <input type=hidden name="share_name" value="{{share_name}}">
    <input type=hidden name="share_index" value="{{share_index}}">
    <input type=hidden name="path" value="{{path}}">
    <input type=hidden name="for" value="share">
    <br/>
    <table class="table table-bordered">
      <th>
        Apply recursively to all sub-directories
      </th>
      <td>
        <input id="id_recursive" name="recursive" type="checkbox" />
      </td>
    </table>
    <br/>
    <div class="btn-group btn-group-sm" role="group" aria-label="...">

      <input type="button" class="btn btn-default" value="Cancel" onClick="window.location='/view_cifs_share?access_mode=by_id&index={{share_index}}'"> &nbsp;&nbsp;
      <button type="submit" class="btn btn-danger cover-page" ">Confirm and delete</button>
    </div>
  </form>

{%endblock%}

{%block help_header%}
  Deleting a share ACL entry
{%endblock%}

{%block help_body%}
  <p>Confirming this operation results in the specified share's ACL entry being deleted from the system. This may cause some access issues for the share. Please ensure that this is actually intended before continuing.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("view_cifs_shares_tab")
  </script>
{% endblock %}

