{% extends 'storage_base.html' %}

{%block tab_header %}
  Remove a spare disk from ZFS pool - confirmation
{%endblock%}

{%block inside_content %}

  <p id="p-warning-text">Are you sure you want to remove a spare disk from pool "{{pool_name}}"? </p>
  <br>
  <form action="" method="POST">
    {%csrf_token%}
    <input type=hidden name="pool_name" value="{{pool_name}}">

    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <input type="button" class="btn btn-default cover-page" value="Cancel" onClick="window.location='/storage/view_zfs_pool/?name={{pool_name}}&view=components'"> &nbsp;&nbsp;
      <button type="submit" class="btn btn-danger cover-page" >Confirm and remove</button>
    </div>
  </form>

{%endblock%}

{%block help_header%}
  Remove a spare disk from a ZFS pool
{%endblock%}

{%block help_body%}
  <p>Confirming this operation results in a spare disk being removed  from the specified pool. If this is the only spare disk assigned to the pool then removing it could mean that the pool is vulnerable to disk failures. Please ensure that this is actually intended before continuing.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("view_zfs_pools_tab")
  </script>
{% endblock %}

