{% extends 'storage_base.html' %}

{%block tab_header %}
  Initiating a ZFS pool check(scrub) - confirmation
{%endblock%}

{%block inside_content %}

  <p id="p-warning-text">Scrubbing a pool can have a severe impact on the performance of the disks. <br><br>Are you sure you want to initiate a scrub on the ZFS pool with name  "{{name}}"? </p>
  <br>
  <form action="" method="POST">
    {%csrf_token%}
    <input type=hidden name="name" value="{{name}}">
    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <input type="button" class="btn btn-default cover-page" value="Cancel" onClick="window.location='/storage/view_zfs_pool?name={{name}}'"> &nbsp;&nbsp;
      <button type="submit" class="btn btn-danger cover-page" >Confirm and proceed</button>
    </div>
  </form>

{%endblock%}

{%block help_header%}
  Scrubbing a ZFS pool
{%endblock%}

{%block help_body%}
  <p>
  Detecting and correcting silent data errors is done through scrubbing the disks. 
  Confirming this operation results in a scrub operation being initiated on the specified ZFS pool. 
  Please ensure that this is actually intended before continuing.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("view_zfs_pools_tab")
  </script>
{% endblock %}
