
{% extends 'key_management_base.html' %}


{% block tab_header %}
Upload a Public Key <br /><br /><br />
{% endblock  %}

{% block inside_content %}

<form action="/upload_host_key" method="POST" enctype="multipart/form-data" class="form-horizontal">
	<div class="form-group">
              <label for="upload_file" class="col-sm-2 control-label">Enter host IP</label>
                  <div class="col-sm-10">
                    <input id="ip" type="text" name="ip" class="form-control">
                    <p class="help-block">Enter the Replication's Destination IP here</p>
                  </div>
        </div>
	<div class="form-group">
              <label for="upload_file" class="col-sm-2 control-label">Upload public key</label>
                  <div class="col-sm-10">
                    <input id="upload_file" type="file" name="pub_key" class="form-control">
                    <p class="help-block">Upload Replication's Destination HOST file here</p>
                  </div>
        </div>
	<div class="form-group">
                  <div class="col-sm-10">
			<input type="submit" class="btn btn-primary" value="Add SSH Key">
                </div>
        </div>
</form>

{% endblock %}
