{% extends 'shares_base.html' %}
{%block tab_header %}
Add an ISCSI ACL
{%endblock%}
{% block inside_content %}
<br><br>
{{conf_message}}


{{form.errors}}
<form class="form-horizontal" role="form" name="create_form" action="" method="post">
{{form.target_name}}
  <table  class="table " style="width:80%">
    <tr>
      <td>
        <label >Target name :</label>
      </td>
      <td>
        {{form.target_name.value}}
      </td>
      <td>
      &nbsp;
      </td>
    </tr>
    <tr>
      <td>
        <label for="id_acl">ACL (IP address of initiator name):</label>
      </td>
      <td>
        <input type="text"  name="acl" class="form-control" id="id_acl" value="{%if form.acl.value%}{{form.acl.value}}{%endif%}" placeholder="Enter an IP address or initiator name"> 
      </td>
      <td>
    {{ form.acl.errors }}
      </td>
    </tr>
    </table>

<a href="/view_iscsi_target?name={{form.target_name.value}}" role="button" class="btn btn-default"> Cancel</a>&nbsp;&nbsp;
<button type="submit" class="btn btn-primary"> Add</button>
</form>

{%endblock%}
{%block help_header%}
Add ISCSI ACL help
{%endblock%}
{%block help_body%}
<p>Use ISCSI ACLs when you want to restrict access to a target based on IP address or an initiator name. The ACL can be an initiator name, a specific IP address or a subnet in CIDR format (e.g 10.10.0.0/24)</p>
{%endblock%}

{% block tab_active %}
  <script>
   make_tab_active("view_iscsi_targets_tab")
  </script>
{% endblock %}
