{% extends 'logged_in_base.html' %}

{%block tab_items %}
  <li id="change_admin_pswd_tab"><a href="/change_admin_password/">Change Admin Password</a></li>
  {%if request.user.is_superuser%} 
    <li id="reboot_tab"><a href="/reboot_or_shutdown?do=reboot">Reboot</a> </li>
    <li id="shutdown_tab"><a href="/reboot_or_shutdown?do=shutdown">Shutdown</a> </li>
  {%endif%}
{%endblock tab_items %}

{% block menu_active %}
  <script>
    make_side_menu_active("admin_menu")
  </script>
{% endblock %}

<!--
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li id="change_admin_pswd_tab"><a href="/change_admin_password/">Change Admin Password</a></li>
      {%if request.user.is_superuser%} 
        <li><a href="/reboot/">Reboot</a> </li>
      {%endif%}
        {% include 'help_and_refresh.html' %}
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="content">
        <span class="bigger-120">
          <i class="fa fa-circle text-yellow"></i> 
          <span> 
            {% block tab_header %}
              Information
            {% endblock %}
          </span>
        </span>
        <span class="white-space:pre-line"></span>
        {% block inside_content %}
          Information Not found. Please refresh the page
        {% endblock inside_content %}
      </div>
    </div>
  </div>
-->

