<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
  <head>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <link rel="stylesheet" type="text/css" href="/static/css/fractalio.css">
    <link rel="stylesheet" href="/static/jquery-ui-1.10.2.custom/css/ui-lightness/jquery-ui-1.10.2.custom.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/font-awesome-4.2.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/static/css/AdminLTE.css">

    <title> {%block title%}IntegralView admin console{%endblock%}</title>
  </head>
  <body class="skin-blue">
    <div class="wrapper">
      <table id="header_table"  width="100%" border=0>
        <tr>
          <td align="left" style="padding:10px"> <img src="/static/images/integralview.png" style="border:solid 0px;width:80px;height:40px;"></td>
          <td align="right">
            <img src="/static/images/logo.jpg" style="border:solid 0px;width:140px;height:80px;float:right;">
          </td>
        </tr>
      </table>

       {%block content%}

       {%endblock%}
       <br><br>
       {%block footer%}
      
       {%endblock%}
    </div>
  </body>
</html>

