<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
  <head>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" type="text/css" >
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/AdminLTE.css">
    <link rel="stylesheet" type="text/css" href="/static/css/skin-purple.css">
    <link rel="stylesheet" type="text/css" href="/static/css/fractalio.css">
    <link rel="stylesheet" type="text/css" href="/static/font-awesome-4.6.3/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/static/font-awesome-4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/modify_bootstrap.css">
    <title> 
      {%block title%}
        IntegralView administration console 
      {%endblock%}
    </title>
  </head>
  <body class="skin-purple">
    <div class="row" style="width:100%;margin:0 auto;border:0px solid;background-color:#000">
      <div class="col-sm-2" style="background-color:#000000;min-height:50px;">
        <img src="/static/images/LOGO-transparent.png" style="height:45px;width45px;margin-right:5px;" alt="Fractalio Data" class="pull-left margin-left-20"/>
      </div>
      <div class="col-sm-8 " style="padding-top:5px;background-color:#000">
        <img src="/static/images/istor.png" style="width:50px;border:0px solid;>
        <a href="http://fractalio.com" class="white margin-left-30 hidden-phone" style="line-height:3em"><span style="color:white"><b></b></span><sub style="color:white">&nbsp;&nbsp;version {{version}}</sub></a>
      </div>
      <div class="col-sm-2 " style="background-color:#000">
        &nbsp;
      </div>
    </div>
    <!-- end of top menu -->
    </div>

    {%block content%}
    {%endblock%}
      <div class="lightbox" id="wait_lightbox">
        <div class="row">
          <div class="col-lg-12" style="margin-top:15%;color:#fff">
            <h1>
              {% block light-box-text %}
              Processing . . . . <br><br>
              <i class="fa fa-refresh fa-spin fa-2x fa-fw" aria-hidden="true"></i>
              {% endblock %}
            </h1>
          </div>
        </div>
      </div>


  </body>

  <script src="/static/js/jquery-2.2.3.min.js"></script>
  <script src="/static/js/app.js"></script>
  <script src="/static/js/fractalio.js"></script>
    {%block footer%}
    {%endblock%}

</html>

