{% extends 'admin_base.html' %}

{%block tab_header %}
  Change administrator password
{%endblock%}

{% block inside_content %}

  <form action="/change_admin_password/" method="post">
    <table class="table" >
      <tr>
        <th>Current Password: </th>
        <td>
          <input type="password"  name="oldPasswd" class="form-control" id="id_oldPasswd" placeholder="Enter current password" required>  
        </td>
        <td>  
          {{ form.oldPasswd.errors }}
        </td>
      </tr>
      <tr>
        <th> New password:  </th>
        <td>
          <input type="password"  name="newPasswd1" class="form-control" id="id_newPasswd1" placeholder="New password" required>  
        </td>
        <td>  
          {{ form.newPasswd1.errors }}
        </td>
      </tr>
      <tr>
        <th> Reenter new password:  </th>
        <td>
          <input type="password"  name="newPasswd2" class="form-control" id="id_newPasswd2" placeholder="Reenter new password" required> 
        </td>
        <td>  
          {{ form.newPasswd2.errors }}
        </td>
      </tr>
    </table>
    <button type="submit" class="btn btn-primary btn-sm">Change password</button>
  </form>



{%endblock%}

{%block help_header%}
Change password help
{%endblock%}

{%block help_body%}
<p>Use this screen to changes the password of the currently logged in admin user. You will need to enter the password twice to confirm what you had intended.<p>
{%endblock%}

