{% extends 'logged_in_base.html' %}

{%block contents%}

<span id="topic-text">File access -> Local users -> Change user password for user "{{form.userid.value}}"</span><br>


<p style="color:red;"> {{error}}</p>

<form action="/change_local_user_password/" method="post">
{{form.userid}}
<div  style=" position:relative;border:0px solid #DDDDDD;width:600px; padding:15px 15px 15px;margin:0px 15px;border-radius:4px 4px 0px 0px">
  <div class="form-group" >
    <label for="id_password" >New password:</label>
    <input type="password"  name="password" class="form-control" id="id_password" placeholder="New password"> 
    {{ form.password.errors }}
  </div>
  <div class="form-group" >
    <label for="id_password_conf" >Reenter new password:</label>
    <input type="password"  name="password_conf" class="form-control" id="id_password_conf" placeholder="Reenter new password"> 
    {{ form.password_conf.errors }}
  </div>
  <button type="submit" class="btn btn-primary">Change password >></button>
</div>
</form>


{%endblock%}
{%block help_header%}
Change password help
{%endblock%}
{%block help_body%}
<p>This screen allows you the change the access password for a particular local user. This will only be used if the authentication method is set to Local Users.</p>
{%endblock%}

