{% extends 'users-groups_base.html' %}

{%block tab_header %}
  Change local user's password
{%endblock%}

{% block inside_content %}


  <form action="/change_local_user_password/" method="post">
    {{form.username}}
    <table class="table" >
      <tr>
        <th>New Password: </th>
        <td>
          <input type="password"  name="password" class="form-control" id="id_password" placeholder="New password"> 
        </td>
        <td>  
          {{ form.password.errors }}
        </td>
      </tr>
      <tr>
        <th>Reenter new password: </th>
        <td>
          <input type="password"  name="password_conf" class="form-control" id="id_password_conf" placeholder="Reenter new password"> 
        </td>
        <td>  
          {{ form.password_conf.errors }}
        </td>
      </tr>
    </table>
    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <!--<a href="/view_local_user/?username={{form.username.value}}&searchby=username" role="button" class="btn btn-default btn-sm"> Cancel</a>&nbsp;&nbsp;-->
      <a href="/view_local_users" role="button" class="btn btn-default btn-sm"> Cancel</a>&nbsp;&nbsp;
      <button type="submit" class="btn btn-primary">Change password </button>
    </div>
  </form>

{%endblock%}

{%block help_header%}
  Change password help
{%endblock%}

{%block help_body%}
<p>This screen allows you the change the access password for a particular local user. This will only be used if the authentication method is set to Local Users.</p>
{%endblock%}

{% block tab_active %}
  <script>
   make_tab_active("view_local_users_tab")
</script>
{% endblock %}

