{% extends 'users-groups_base.html' %}

{%block tab_header %}
  Create a local user
{%endblock%}

{% block inside_content %}

  {{form.errors}}
  <form class="form-horizontal" role="form" name="create_form" action="" method="post">
    <table  class="table " style="width:80%">
      <tr>
        <th  style="max-width:60px;word-wrap: break-word">  
          User's userid :
        </th>
        <td>
          <input type="text"  name="username" class="form-control" id="id_username" value="{%if form.username.value%}{{form.username.value}}{%endif%}" placeholder="Enter username for local user"> 
        </td>
        <td> {{ form.username.errors }} </td>
      </tr>
      <tr>
        <th  style="max-width:60px;word-wrap: break-word">  
          User's Name :
        </th>
        <td>
          <input type="text"  name="name" class="form-control" id="id_name" value="{%if form.name.value %}{{form.name.value}}{%endif%}" placeholder="Enter the name of the user"> 
        </td>
        <td> {{ form.name.errors }} </td>
      </tr>
      <tr>
        <th  style="max-width:60px;word-wrap: break-word">  
          Password :
        </th>
        <td>
          <input type="password"  name="password" class="form-control" id="id_password" placeholder="Enter the password for this user"> 
        </td>
        <td> {{ form.password.errors }} </td>
      </tr>
      <tr>
        <th  style="max-width:60px;word-wrap: break-word">  
          Confirm password :
        </th>
        <td>
          <input type="password"  name="password_conf" class="form-control" id="id_password_conf" placeholder="Enter the password again for confirmation"> 
        </td>
        <td>
          {{ form.password_conf.errors }}
        </td>
      </tr>
      <tr>
        <th  style="max-width:60px;word-wrap: break-word">  
          Primary group :
        </th>
        <td>
          <select name="gid" class="form-control">
            <option value="">Select primary group</option>
            {% for choice in form.gid.field.choices %} 
              <option value="{{choice.0}}" {%if form.initial.gid == choice.0%} selected="selected" {%endif%}>{{choice.1}}</option>
            {%endfor%}
          </select>
        </td>
        <td> {{ form.gid.errors }} </td>
      </tr>
    </table>

    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <a href="/view_local_users" role="button" class="btn btn-default"> Cancel</a>&nbsp;&nbsp;
      <button type="submit" class="btn btn-primary"> Create </button>
    </div>
</form>

{%endblock%}

{%block help_header%}
  Create local users help
{%endblock%}

{%block help_body%}
<p>Use local user authentication when you want Windows access but do not want to use or deploy Active Directory authentication. For local user authentication, you will need to create local user accounts using this screen and then deploy access control using these user accounts. These accounts are used only for IntegralStor access and not for any other purpose.</p>
{%endblock%}

{% block tab_active %}
  <script>
   make_tab_active("view_local_users_tab")
  </script>
{% endblock %}
