{% extends 'nfs_base.html' %}

{% block inside_content %}

{{conf_message}}


<form id="create_form" name="create_form" action="/create_nfs_share/" method="post">
            <table class="table" style="width:800px">
            <tr>
              <td>
            <label for="id_path">NFS Share path:</label>
              </td>
              <td>
                <input type="text"  name="path" class="form-control" id="id_path" placeholder="Enter the path for this share" />
              </td>
              <td>
            {{ form.path.errors }}
              </td>
            </tr>
            <tr>
              <td>
            <label for="id_comment">Client IPs:</label>
              </td>
              <td>
                <input type="text"  name="clients" class="form-control" id="id_clients" placeholder="Enter the IP addresses of the clients, wildcards permitted" />
              </td>
              <td>
            {{ form.clients.errors }}
              </td>
            </tr>
            <tr>
              <td>
            <label for="id_readonly">Readonly:</label>
              </td>
              <td>
            {{ form.readonly }}
              </td>
              <td>
            {{ form.readonly.errors }}
              </td>
            </tr>
            <tr>
              <td>
            <label for="id_root_squash">Root squash:</label>
              </td>
              <td>
            {{ form.root_squash }}
              </td>
              <td>
            {{ form.root_squash.errors }}
              </td>
            </tr>
            <tr>
              <td>
            <label for="id_all_squash">All squash:</label>
              </td>
              <td>
            {{ form.all_squash }}
              </td>
              <td>
            {{ form.all_squash.errors }}
              </td>
            </tr>
            </table>

        <a href="/view_nfs_shares" role="button" class="btn btn-default"> Cancel</a>&nbsp;&nbsp;
        <button type="submit" class="btn btn-primary">Save >></button>
</form>

{%endblock%}
{%block help_header%}
Create a  NFS share 
{%endblock%}
{%block help_body%}
<p>Use this screen to create a NFS share. The settings will take effect upon saving this information.</p>
{%endblock%}
