{% extends 'networking_base.html' %}

{%block tab_header %}
  Create/Edit default route
{%endblock%}

{% block inside_content %}

	<form action="." class="form-horizontal" name ="create_route_form" role="form" method="POST">
		{%csrf_token%}
            <table  class="table " style="width:800px">
	    {% if not 'edit_' in request.path %}
            <tr>
              <td>
            <label for="id_type">Route Type:</label>
              </td>
              <td>
                  <select id="id_type" name="type" class="form-control">
                  {% for choice in form.type.field.choices %}
                    <option value="{{choice.0}}">{{choice.1}}</option>
                  {%endfor%}
                  </select>
              </td>
              <td>
            {{ form.name.errors }}
              </td>
            </tr>
	    {% endif %}
            <tr>
              <td>
            <label for="id_ip">IP:</label>
              </td>
              <td>
                <input type="text"  name="ip" class="form-control" id="id_ip" placeholder="IP Address"  value={{form.ip.value|default_if_none:""}}> 
              </td>
              <td>
            {{ form.ip.errors }}
              </td>
            </tr>
            <tr>
              <td>
            <label for="id_netmask">NetMask:</label>
              </td>
              <td>
                <input type="text"  name="netmask" class="form-control" id="id_netmask" placeholder="Netmask" value={{form.netmask.value|default_if_none:"255.255.255.0"}}> 
              </td>
              <td>
            {{ form.netmask.errors }}
              </td>
            </tr>
            <tr>
              <td>
            <label for="id_gateway">Gateway:</label>
              </td>
              <td>
                <input type="text"  name="gateway" class="form-control" id="id_gateway" placeholder="Gateway" value={{form.gateway.value|default_if_none:""}}> 
              </td>
              <td>
            {{ form.gateway.errors }}
              </td>
            </tr>
            <tr>
              <td>
            <label for="id_interface">Interface:</label>
              </td>
              <td>
                  <select id="id_interface" name="interface" class="form-control">
                  {% for choice in form.interface.field.choices %}
                    <option value="{{choice.0}}">{{choice.1}}</option>
                  {%endfor%}
                  </select>
              </td>
              <td>
            {{ form.interface.errors }}
              </td>
            </tr>
            <tr>
              <td>
              </td>
              <td>
             <button type="submit" class="btn btn-success">Add Route</button> 
              </td>
              <td>
              </td>
            </tr>
	</form>
<script>
	function set_ip_addr_field_attr(type){
		if (type === 'default'){
			$("#id_ip").val('0.0.0.0')
	 		$("#id_ip").attr('readonly','readonly')
		}else{
			$("#id_ip").val('')
			$("#id_ip").removeAttr('readonly')
		}
	}
	$(document).ready(function(){
	    {% if not 'edit_' in request.path %}
		set_ip_addr_field_attr($("#id_type").val())
             {% endif %}
		$("#id_type").on('change',function(){
			set_ip_addr_field_attr($(this).val())
		})
	})
</script>
{% endblock %}
{%block help_header%}
  Create a network route help
{%endblock%}

{%block help_body%}
Help about creating a network route
{%endblock%}

{% block tab_active %}
  <script>
   make_tab_active("view_routes_tab")
  </script>
{% endblock %}
