{% extends 'shares_base.html' %}

{%block tab_header %}
  Create an RSYNC share
{%endblock%}

{% block inside_content %}

  <form id="create_form" name="create_form" action="/create_rsync_share/" method="post">
    <table class="table" style="width:800px">
      <tr>
        <th>Share Name </th>
        <td>
          <input type="text"  name="name" class="form-control" id="id_name" placeholder="Share Name"> 
        </td>
        <td> {{ form.name.errors }} </td>
      </tr>
      <tr>
        <th>Description </th>
        <td>
          <input type="text"  name="comment" class="form-control" id="id_comment" placeholder="Share Description"> 
        </td>
        <td> {{ form.comment.errors }} </td>
      </tr>
      <tr>
        <th> Underlying ZFS Dataset :</th>
        <td>
          <select id="id_dataset" class="form-control">
            {% for choice in form.dataset.field.choices %}
              <option value="{{choice.0}}" {%if choice.0 == form.initial.path %} selected="selected"{%endif%} onclick="option_selected(this)">{{choice.1}}</option>
            {%endfor%}
          </select> 
        </td>
        <td> {{ form.dataset.errors }} </td>
      </tr>
      <tr>
        <th> Selected ZFS Dataset :</th>
        <td>
      		<input id="val_dataset" name="dataset" readonly class="form-control"/>
        </td>
        <td> {{ form.dataset.errors }} </td>
      </tr>
      <tr>
        <th> Share path:</th>
        <td>
          <input type="text" name="display_path" class="form-control" id="id_display_path" placeholder="Click the Browse button to choose a directory.." readonly placeholder="Share Path" value={{form.path.value|default_if_none:""}}> <br>
          <a href="#" role="button" class="btn btn-primary btn-xs" onClick="displayTree();return false;"> Browse..</a>
          <div id="pathdiv" style="display:inline"> </div>
        </td>
        <td> {{ form.path.errors }} </td>
      </tr>
      <tr>
        <th>Create Directory in the selected path:</th>
        <td>
          <input type="text"  name="new_folder" class="form-control" id="new_folder" placeholder="Create a new folder"> 
        </td>
      </tr>
      <tr>
        <th> Final Path</th>
        <td>
          {{ form.path }}
          <span id="display_path_text"></span>
        </td>
        <td> {{ form.path.errors }} </td>
      </tr>
      <tr>
        <th> Browsable:</th>
        <td> {{ form.browsable }} </td>
        <td> {{ form.browsable.errors }} </td>
      </tr>
      <tr>
        <th> Readonly:</th>
        <td> {{ form.readonly }} </td>
        <td> {{ form.readonly.errors }} </td>
      </tr>
    </table>
    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <a href="/view_nfs_shares" role="button" class="btn btn-default"> Cancel</a>&nbsp;&nbsp;
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>

  <script src="/static/jstree/dist/jstree.js"></script>

  <script>
  	function option_selected(a){
  		localStorage.setItem('last_selected',a.value);
  		localStorage.setItem('last_selected_time',new Date().getTime());
  		location.reload();
  	};
  	function change_dataset(a){
  	};
  	var one_min = 60 * 1000
  	if ((new Date) - localStorage.getItem('last_selected_time') < one_min){
  		$("#val_dataset").val(localStorage.getItem('last_selected'));
  		$("#id_dataset option[value='"+localStorage.getItem('last_selected')+"']").attr("selected","selected")
  	}else{
      localStorage.removeItem('last_selected');
      localStorage.removeItem('last_selected_time');
      $("#val_dataset").val($("#id_dataset").val());
    }
    $("#id_dataset").change(function(){
      location.reload();
    });
    var dataset_path = $("#id_dataset").val()
    $("#display_path_text").text(dataset_path)
    $("#id_path").val(dataset_path)
    function displayTree() {
      document.getElementById("pathdiv").style.display = "block";
      $('#pathdiv').jstree({ 'core' : {
        'multiple':false,
        'data' : {
          'url' : function (node) {
            return node.id === '#' ? 
              '/dir_contents?first=1&dir=/' : 
              '/dir_contents'; 
          },
          'data' : function (node) {
            var e = document.getElementById("id_dataset");
            if (node.data) {
              return {'dir' : node.data['dir'] , 'id':node.id, "from":"dataset", "dataset_name": e.options[e.selectedIndex].value};
            }
            else
              return { 'dir' : node.text , 'id':node.id, "from":"dataset", "dataset_name": e.options[e.selectedIndex].value};
            }
            
          }
          
        }
      });
      $(function () {
        $('#pathdiv').on('changed.jstree', function (e, data) {
          var i, j, r = [];
          r = data.instance.get_node(data.selected[0]).text;
          rfp = data.instance.get_node(data.selected[0]).data["dir"];
          // Doing this since we pass the default dir as /, so just making sure explictly // dosent come in paths
          rfp = rfp.replace("//","/");
          document.forms["create_form"].elements["path"].value = rfp;
          document.forms["create_form"].elements["display_path"].value = rfp;
          document.getElementById("pathdiv").style.display = "none";
          $("#new_folder").trigger('input')
        })
        .jstree();
      });
    }
    if($("#id_path").val() != ""){
      var final_path = ($("#id_path").val());
      $("#display_path_text").text(final_path)
    }
    $("#new_folder").on('input',function(){
      var final_path = $("#id_display_path").val()
      if (final_path === ""){
        $("#id_path").val(dataset_path+"/"+$(this).val())
        $("#display_path_text").text(dataset_path+"/"+$(this).val())
      }
      else{
        $("#id_path").val(final_path+"/"+$(this).val())
        $("#display_path_text").text(final_path+"/"+$(this).val())
      }
    });
    $("#id_path").addClass("form-control")
    $("#id_path").attr("style","display:none")
  </script>

{%endblock%}

{%block help_header%}
  Create a  NFS share 
{%endblock%}

{%block help_body%}
<p>Use this screen to create a NFS share. The settings will take effect upon saving this information.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("view_rsync_shares_tab")
  </script>
{% endblock %}
