{% extends 'shares_base.html' %}

{%block tab_header %}
  Create a Windows share
{%endblock%}


{%block inside_content %}

{{form.path.value}}
  <form id="share_form" class="form-horizontal" role="form" name="create_form" action="" method="post">
    <table  class="table " style="width:800px">
      <tr>
        <th> Share name:</th>
        <td>
          <input type="text"  name="name" class="form-control" id="id_name" placeholder="Share name" value="{{form.name.value|default_if_none:""}}"> 
        </td>
        <td> {{ form.name.errors }} </td>
      </tr>
      <tr>
        <th> Select underlying ZFS dataset :</th>
        <td>
          <select id = "id_dataset" name="dataset" class="form-control" onchange="change_path(this);this.form.submit()">
            {% for choice in dataset %}
      		    <option value="{{choice.0}}" onclick="option_selected(this)" {%if form.initial.dataset == choice.0%} selected="selected" {%endif%}>{{choice.0}}</option>
            {%endfor%}
          </select>
        </td>
        <td>&nbsp;</td>
        <td> {{ form.dataset.errors }} </td>
      </tr>
      <tr>
        <th> Select a directory :</th>
        <td>
          <input type="text" name="path" class="form-control" id="id_path" placeholder="Click the Browse button to choose a directory.." readonly placeholder="Share Path" value="{{form.path.value|default_if_none:""}}"> <br/>
        </td>
        <td>
          <a href="#" role="button" class="btn btn-primary btn-xs" onClick="displayTree();return false;"> Browse...</a>
          <div id="pathdiv" style="display:inline"> </div>
        </td>
        <td> {{ form.path.errors }} </td>
      </tr>
      <!--
      <tr>
        <th> Underlying ZFS Dataset :</th>
        <td>
            <select id="id_path" name="path" class="form-control">
              {% for choice in form.path.field.choices %}
                <option value="{{choice.0}}" {%if choice.0 == form.initial.path %} selected="selected"{%endif%} onclick="option_selected(this)">{{choice.1}}</option>
              {%endfor%}
            </select> 
        </td>
        <td> {{ form.path.errors }} </td>
      </tr>

      <tr>
        <th> Selected ZFS Dataset :</th>
        <td>
		      <input id="val_dataset" name="dataset" readonly class="form-control"/>
        </td>
        <td> {{ form.dataset.errors }} </td>
      </tr>
      <tr>
        <th> Directory Selector:</th>
        <td>
          <input type="text"  name="display_path" class="form-control" id="id_display_path" placeholder="Click the Browse button to choose a directory.." readonly placeholder="Share Path" value="{{form.path.value|default_if_none:""}}"> <br>
          <a href="#" role="button" class="btn btn-primary btn-xs" onClick="displayTree();return false;"> Browse..</a>
           <div id="pathdiv" style="display:inline"> </div>
        </td>
        <td> {{ form.path.errors }} </td>
      </tr>
      <tr>
        <th> Create Directory in the selected path:</th>
        <td>
          <input type="text"  name="new_folder" class="form-control" id="new_folder" placeholder="Create a new folder">
        </td>
      </tr>
      <tr>
        <th> Final Path</th>
        <td>
          {{form.path}}
          <span id="display_path_text"></span>
        </td>
        <td> {{ form.path.errors }} </td>
      </tr>
      -->


      <tr>
        <th> Description:</th>
        <td>
          <input type="text"  name="comment" class="form-control" id="id_comment" placeholder="Description of this share" value="{{form.comment.value|default_if_none:""}}"> 
        </td>
        <td> {{ form.comment.errors }} </td>
      </tr>
      <tr>
        <th> Readonly:</th>
        <td> {{ form.read_only }} </td>
        <td> {{ form.read_only.errors }} </td>
      </tr>
      <tr>
        <th> Visible:</th>
        <td> {{ form.browseable }} </td>
        <td> {{ form.browseable.errors }} </td>
      </tr>

      <!--
      <tr>
        <th> Accessible to all(guest ok):</th>
        <td>
          {{ form.guest_ok }}
          <br/>
      		<span id="guest_help"></span>
        </td>
        <td> {{ form.guest_ok.errors }} </td>
      </tr>
      -->


      <!--
      <tr>
        <th> Permitted users:</th>
        <td>
          {% for choice in form.users.field.choices %} 
            <div class="radio" >
              <input type="checkbox" name="users" id="id_users" value="{{choice.0}}" {%if choice.0 in form.initial.users %} checked="checked"{%endif%}> {{choice.0}}
            </div>
            {% empty %}
              No Users created
          {%endfor%}
        </td>
        <td> {{ form.users.errors }} </td>
      </tr>
      <tr>
        <th> Permitted groups:</th>
        <td>
          {% for choice in form.groups.field.choices %} 
            <div class="radio" >
              <input type="checkbox" name="groups" id="id_groups" value="{{choice.0}}" {%if choice.0 in form.initial.groups %} checked="checked"{%endif%}> {{choice.0}}
            </div>
            {% empty %}
              No Groups created
          {%endfor%}
        </td>
        <td> {{ form.groups.errors }} </td>
      </tr>

      -->
    </table>

    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <a href="/view_cifs_shares" role="button" class="btn btn-default"> Cancel</a>&nbsp;&nbsp;
      <!--<button type="submit" class="btn btn-primary" onClick="document.getElementById('id_path').disabled = false;return true;")> Create </button>-->
      <button type="submit" class="btn btn-primary"> Create </button>
    </div>

  </form>
  <script src="/static/jstree/dist/jstree.js"></script>
  <script>
    function change_path(sel){
      document.getElementById('id_path').value = "/"+sel.value;
      $("#share_form").attr("method", "get");
    };
    function displayTree() {
      document.getElementById("pathdiv").style.display = "block";
      $('#pathdiv').jstree({ 'core' : {
        'multiple':false,
        'data' : {
          'url' : function (node) {
            return node.id === '#' ? 
              '/dir_contents?first=1&dir=/' : 
              '/dir_contents'; 
          },
          'data' : function (node) {
            var e = document.getElementById("id_dataset")
            if (node.data) {              //return {'dir' : node.data['dir'] , 'id':node.id, "pool_name": e.options[e.selectedIndex].value};
              return {'dir' : node.data['dir'] , 'id':node.id, "from": "dataset", "dataset_name": e.value};
            }
            else
              return { 'dir' : node.text , 'id':node.id, "from": "dataset", "dataset_name": e.value};
          }
        }
      }
      });
      $(function () {
        $('#pathdiv').on('changed.jstree', function (e, data) {
          var i, j, r = [];
          var ds_elem = document.getElementById("id_dataset");
          var ds_value = ds_elem.options[ds_elem.selectedIndex].value;
          r = data.instance.get_node(data.selected[0]).text;
          rfp = data.instance.get_node(data.selected[0]).data["dir"];
          //alert(rfp);
          location.href = location.pathname+"?path="+rfp+"&dataset="+ds_value
          document.getElementById("pathdiv").style.display = "none";
        })
        .jstree();
      });
    }
  </script>

{%endblock%}

{%block help_header%}
  Create share help
{%endblock%}

{%block help_body%}
  <p>Shares are used to provide access to a certain directory within a certain volume to end users. Shares are used only for Windows access. Users accessing the system via NFS can directly mount the directory within the volume using NFS mount points.</p>
  <p>You can set various options on shares : </p>
  <ul>
  <li> Share name : This is the name which will show up on Windows systems when you browse to the network storage.</li>
  <li>Volume name : The IntegralStor volume which contains the directory being exported through this share.</li>
  <li>Directory : The directory under the selected volume which is to be exported as the share. You can the browse button to select the directory. If you want to create a new directory under the volume to export, then please use the Create a directory option and then use this screen to create a share for that directory. </li>
  <li>Description : An explanatory note for the administrator's use.</li>
  <li>Read only : Setting this prevents all changes to files within this share.</li>
  <li>Browseable : Setting this will result in this share being displayed when someone browses the IntegralStor storage.</li>
  <li>Guest ok : Setting this will allow anyone to view and make changes to the contents of this share.</li>
  <li>Permitted users : The list of users who have access to this share. If the authentication method is set to Active Directory then this list is pulled from Active Directory itself. If the authentication method is set to Local Users then this list is pulled from the list of local users created on IntegralView. </li>
  <li>Permitted groups : The list of groups who have access to this share. If the authentication method is set to Active Directory then this list is pulled from Active Directory itself. </li>
  </ul>
{%endblock%}

{% block tab_active %}
  <script>
   make_tab_active("view_cifs_shares_tab")
  </script>
{% endblock %}

