{% extends 'storage_base.html' %}

{%block tab_header %}
  Add spares drives to a ZFS pool
{%endblock%}

{%block inside_content %}

  <form id="create_form" name="create_form" action="/create_zfs_spares/" method="POST">
    {%csrf_token%}
    <input type="hidden" name="pool_name" value="{{pool_name}}">
    <table class="table" style="width:800px">
      <tr>
        <th> Number of spare disks to add :</th>
        <td>
            <select name="num_spares" class="form-control" id="id_num_spares">
              {% for choice in form.num_spares.field.choices %}
                <option value="{{choice.0}}" {%if choice.0 == form.initial.num_spares %} selected="selected"{%endif%}>{{choice.1}}</option>
              {%endfor%}
            </select>
        </td>
        <td> {{ form.num_spares.errors }} </td>
      </tr>
    </table>
    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <a href="/view_zfs_pool?name={{pool_name}}" role="button" class="btn btn-default cover-page"> Cancel</a>&nbsp;&nbsp;
      <button type="submit" class="btn btn-primary cover-page">Add spares</button>
    </div>
  </form>
{%endblock%}

{%block help_header%}
  Add spare drives to a ZFS Pool
{%endblock%}

{%block help_body%}
  <p>Use this screen to add spare drives to a ZFS Pool. The settings will take effect upon saving this information.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("view_zfs_pools_tab")
  </script>
{% endblock %}
