{% extends 'shares_base.html' %}
{%block tab_header %}
Create an NFS share
{%endblock%}

{% block inside_content %}

{{conf_message}}
<form id="create_form" name="create_form" action="/create_nfs_share/" method="post">
            <table class="table" style="width:800px">
            <tr>
              <td>
            <label for="id_dataset">Underlying ZFS Dataset :</label>
              </td>
              <td>
                  <select id="id_dataset" class="form-control">
                  {% for choice in form.dataset.field.choices %}
                    <option value="{{choice.0}}" {%if choice.0 == form.initial.path %} selected="selected"{%endif%} onclick="option_selected(this)">{{choice.1}}</option>
                  {%endfor%}
                  </select> </td>
              <td>
            {{ form.dataset.errors }}
              </td>
            </tr>
            <tr>
              <td>
            	<label for="id_dataset">Selected ZFS Dataset :</label>
              </td>
              <td>
		<input id="val_dataset" name="dataset" readonly class="form-control"/>
              </td>
              <td>
              	{{ form.dataset.errors }}
              </td>
            </tr>
            <tr>
              <td>
            <label for="id_path">Share path:</label>
              </td>
              <td>
                <input type="text" name="display_path" class="form-control" id="id_display_path" placeholder="Click the Browse button to choose a directory.." readonly placeholder="Share Path" value={{form.path.value|default_if_none:""}}> 
                    <a href="#" role="button" class="btn btn-primary" onClick="displayTree();return false;"> Browse..</a>
                <div id="pathdiv" style="display:inline"> </div>
              </td>
              <td>
            {{ form.path.errors }}
              </td>
            </tr>
            <tr>
              <td>
            <label for="new_folder">Create Directory in the selected path:</label>
              </td>
              <td>
                <input type="text"  name="new_folder" class="form-control" id="new_folder" placeholder="Create a new folder"> 
              </td>
              <td>
                {{ form.comment.errors }}
              </td>
            </tr>
            <tr>
              <td>
                <label for="display_path">Final Path</label>
              </td>
              <td>
                {{ form.path }}
                <span id="display_path_text"></span>
              </td>
              <td>
                {{ form.path.errors }}
              </td>
            </tr>
            <tr>
              <td>
            <label for="id_comment">Client IPs:</label>
              </td>
              <td>
                <input type="text"  name="clients" class="form-control" id="id_clients" placeholder="Enter the IP addresses of the clients, wildcards permitted" />
              </td>
              <td>
            {{ form.clients.errors }}
              </td>
            </tr>
            <tr>
              <td>
            <label for="id_readonly">Readonly:</label>
              </td>
              <td>
            {{ form.readonly }}
              </td>
              <td>
            {{ form.readonly.errors }}
              </td>
            </tr>
            <tr>
              <td>
            <label for="id_root_squash">Do not treat remote root user as local root:</label>
              </td>
              <td>
            {{ form.root_squash }}
              </td>
              <td>
            {{ form.root_squash.errors }}
              </td>
            </tr>
            <tr>
              <td>
            <label for="id_all_squash">Treat all client users as anonymous users:</label>
              </td>
              <td>
            {{ form.all_squash }}
              </td>
              <td>
            {{ form.all_squash.errors }}
              </td>
            </tr>
            </table>

        <a href="/view_nfs_shares" role="button" class="btn btn-default"> Cancel</a>&nbsp;&nbsp;
        <button type="submit" class="btn btn-primary">Save</button>
</form>
  <script src="/static/jstree/dist/jstree.js"></script>
  <script>
	function option_selected(a){
		localStorage.setItem('last_selected',a.value);
		localStorage.setItem('last_selected_time',new Date().getTime());
		location.reload();
	};
	function change_dataset(a){
	};
	var one_min = 60 * 1000
	if ((new Date) - localStorage.getItem('last_selected_time') < one_min){
		$("#val_dataset").val(localStorage.getItem('last_selected'));
		$("#id_dataset option[value='"+localStorage.getItem('last_selected')+"']").attr("selected","selected")
	}else{
      		localStorage.removeItem('last_selected');
      		localStorage.removeItem('last_selected_time');
		$("#val_dataset").val($("#id_dataset").val());
	}
	$("#id_dataset").change(function(){
		location.reload();
	});
  var dataset_path = $("#id_dataset").val()
  $("#display_path_text").text(dataset_path)
  $("#id_path").val(dataset_path)
  function displayTree() {
      document.getElementById("pathdiv").style.display = "block";
      $('#pathdiv').jstree({ 'core' : {
        'multiple':false,
        'data' : {
          'url' : function (node) {
            return node.id === '#' ? 
              '/dir_contents?first=1&dir=/' : 
              '/dir_contents'; 
          },
          'data' : function (node) {
            var e = document.getElementById("id_dataset");
            if (node.data) {
              return {'dir' : node.data['dir'] , 'id':node.id, "pool_name": e.options[e.selectedIndex].value};
            }
            else
              return { 'dir' : node.text , 'id':node.id, "pool_name": e.options[e.selectedIndex].value};
            }
            
          }
          
        }
    });
 $(function () {
    $('#pathdiv').on('changed.jstree', function (e, data) {
        var i, j, r = [];
        r = data.instance.get_node(data.selected[0]).text;
        rfp = data.instance.get_node(data.selected[0]).data["dir"];
        document.forms["create_form"].elements["path"].value = rfp;
        document.forms["create_form"].elements["display_path"].value = rfp;
        document.getElementById("pathdiv").style.display = "none";
        $("#new_folder").trigger('input')
      })
      .jstree();
  });
  }
if($("#id_path").val() != ""){
	var final_path = $("#id_path").val()
	$("#display_path_text").text(final_path)
}
$("#new_folder").on('input',function(){
	var final_path = $("#id_display_path").val()
	if (final_path === ""){
		$("#id_path").val(dataset_path+"/"+$(this).val())
		$("#display_path_text").text(dataset_path+"/"+$(this).val())
	}
	else{
		$("#id_path").val(final_path+"/"+$(this).val())
		$("#display_path_text").text(final_path+"/"+$(this).val())
	}
});
$("#id_path").addClass("form-control")
$("#id_path").attr("style","display:none")
</script>
{%endblock%}
{%block help_header%}
Create a  NFS share 
{%endblock%}
{%block help_body%}
<p>Use this screen to create a NFS share. The settings will take effect upon saving this information.</p>
{%endblock%}
{% block tab_active %}
  <script>
   make_tab_active("view_nfs_shares_tab")
  </script>
{% endblock %}
