{% extends 'storage_base.html' %}

{%block tab_header %}
Create a ZFS pool
{%endblock%}
{%block inside_content %}
<br><br>

{{conf_message}}

<form id="create_form" name="create_form" action="/create_zfs_pool/" method="post">
{{ form.num_disks}}
            <table class="table" style="width:800px">
            <tr>
              <td>
            <label for="id_name">Pool name:</label>
              </td>
              <td>
                <input type="text"  name="name" class="form-control" id="id_name" placeholder="Enter the name of the pool" />
              </td>
              <td>
            {{ form.name.errors }}
              </td>
            </tr>
            <tr>
              <td>
            <label for="id_pool_type">Data protection schema :</label>
              </td>
              <td>
                  <select name="pool_type" class="form-control" id="id_pool_type">
                  {% for choice in form.pool_type.field.choices %}
                    <option value="{{choice.0}}" {%if choice.0 == form.initial.pool_type %} selected="selected"{%endif%}>{{choice.1}}</option>
                  {%endfor%}
                  </select>
              </td>
              <td>
            {{ form.pool_type.errors }}
              </td>
            </tr>
            <tr>
              <td>
            <label for="id_num_raid_disks">Number of disks in the RAID :</label>
              </td>
              <td>
                <input type="text"  name="num_raid_disks" class="form-control" id="id_num_raid_disks" placeholder="Number of disks under raid, {{num_disks}} currently unused disks" />
              </td>
              <td>
            {{ form.num_raid_disks.errors }}
              </td>
            </tr>

            <tr>
              <td>
            <label for="id_stripe_width">RAID 10 stripe width:</label>
              </td>
              <td>
                  <select name="stripe_width" class="form-control" id="id_stripe_width">
                  {% for choice in form.stripe_width.field.choices %}
                    <option value="{{choice.0}}" {%if choice.0 == form.initial.stripe_width %} selected="selected"{%endif%}>{{choice.1}}</option>
                  {%endfor%}
                  </select>
              </td>
              <td>
            {{ form.stripe_width.errors }}
              </td>
            </tr>
            </table>

        <a href="/view_zfs_pools" role="button" class="btn btn-default"> Cancel</a>&nbsp;&nbsp;
        <button type="submit" class="btn btn-primary">Save</button>
</form>
<script>
$(document).ready(function(){
  $("#id_num_raid_disks").attr('disabled','disabled');
  $("#id_stripe_width").attr('disabled','disabled');
  $("#id_pool_type").on('change',function(){
    var val = $(this).val();
    if (val == "mirror"){
      $("#id_num_raid_disks").attr('disabled','disabled');
      $("#id_stripe_width").attr('disabled','disabled');
    }
    if (val == "raid5"){
      $("#id_num_raid_disks").removeAttr('disabled');
      $("#id_stripe_width").attr('disabled','disabled');
    }
    if (val == "raid6"){
      $("#id_num_raid_disks").removeAttr('disabled');
      $("#id_stripe_width").attr('disabled','disabled');
    }
    if (val == "raid10"){
      $("#id_num_raid_disks").removeAttr('disabled');
      $("#id_stripe_width").removeAttr('disabled');
    }
  })
});
</script>
{%endblock%}
{%block help_header%}
Create a  ZFS Pool
{%endblock%}
{%block help_body%}
<p>Use this screen to create a ZFS Pool. The settings will take effect upon saving this information.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("view_zfs_pools_tab")
  </script>
{% endblock %}
