{% extends 'logged_in_base.html' %}

{% block contents %}
  <div class="nav-tabs-custom">
	<ul class="nav nav-tabs">
	  <li id="cpu_tab"><a href="/dashboard/cpu" >CPU</a></li>
	  <li id="memory_tab"><a href="/dashboard/memory" >Memory</a></li>
	  <li id="hardware_tab"><a href="/dashboard/hardware" >Hardware Components</a></li>
	  <li id="network_tab"><a href="/dashboard/network" >Network</a></li>
	  <li id="services_tab"><a href="/dashboard/services" >Services</a></li>
	  <li id="disks_tab"><a href="/dashboard/disks" >Disks </a></li>
	  <li id="pools_tab"><a href="/dashboard/pools" >Pools </a></li>
    {% include 'help_and_refresh.html' %}
</ul>
	<div class="tab-content">
	  <div class="tab-pane active" id="content">
     {% block inside_content %}
      Information Not found. Please refresh the page
     {% endblock inside_content %}
    </div>
  </div>
  </div>

{% endblock%}
{% block menu_active %}
<script>
   make_side_menu_active("dashboard_menu")
</script>
{% endblock%}
