{% extends 'key_management_base.html' %}

{%block tab_header %}
  Delete a SSL certificate - confirmation
{%endblock%}

{%block inside_content %}

  <p id="p-warning-text">Are you sure you want to delete the certificate named "{{name}}"? </p>

  <br>
  <form action="/delete_ssl_certificate/" method="POST">
    <input type=hidden name="name" value="{{name}}">
    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <a href="/view_ssl_certificates" role="button" class="btn btn-default"> Cancel</a>&nbsp;&nbsp;
      <button type="submit" class="btn btn-danger cover-page" >Confirm and delete</button>
    </div>
  </form>

{%endblock%}

{%block help_header%}
  Deleting a SSL certificate
{%endblock%}

{%block help_body%}
  <p>Confirming this operation results in the specified certificate being deleted from the system. Please ensure that this is actually intended before continuing.</p>
{%endblock%}

{% block tab_active %}
  <script>
   make_tab_active("ssl_certs_tab")
  </script>
{% endblock %}

