{% extends 'storage_base.html' %}

{%block tab_header %}
  Delete a scheduled ZFS pool scrub - confirmation
{%endblock%}

{%block inside_content %}

  <p id="p-warning-text">Are you sure you want to delete the scheduled ZFS pool scrub for pool {{pool_name}} scheduled for "{{cron_task.schedule_description}}"? </p>
  <br>
  <form action="" method="POST">
    {%csrf_token%}
    <input type=hidden name="pool_name" value="{{pool_name}}">
    <input type=hidden name="cron_task_id" value="{{cron_task.cron_task_id}}">
    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <input type="button" class="btn btn-default cover-page" value="Cancel" onClick="window.location='/view_zfs_pool?name={{pool_name}}'"> &nbsp;&nbsp;
      <button type="submit" class="btn btn-danger cover-page" >Confirm and delete</button>
    </div>
  </form>


{%endblock%}

{%block help_header%}
  Deleting a scheduled ZFS pool scrub
{%endblock%}

{%block help_body%}
  <p>Confirming this operation results in the specified ZFS pool scrub schedule being deleted from the system. Please ensure that this is actually intended before continuing.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("view_zfs_pools_tab")
  </script>
{% endblock %}
