{% extends 'storage_base.html' %}

{%block tab_header %}
  Remove ZFS quota - confirmation
{%endblock%}

{%block inside_content %}

  <p id="p-warning-text">Are you sure you want to delete the ZFS quota on "{{path}}" for {{ug_type}} "{{ug_name}}"? </p>
  <br>
  <form action="/delete_zfs_quota/" method="POST">
    {%csrf_token%}
    <input type=hidden name="path" value="{{path}}">
    <input type=hidden name="path_type" value="{{path_type}}">
    <input type=hidden name="ug_type" value="{{ug_type}}">
    <input type=hidden name="ug_name" value="{{ug_name}}">
    <input type="hidden" name="pool_name" value="{{pool_name}}">

    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      {%if path_type == 'dataset'%}
        <input type="button" class="btn btn-default" value="Cancel" onClick="window.location='/view_zfs_dataset?name={{path}}'"> &nbsp;&nbsp;
      {%else%}
        <input type="button" class="btn btn-default cover-page" value="Cancel" onClick="window.location='/view_zfs_pool?name={{path}}&view=quotas'"> &nbsp;&nbsp;
      {%endif%}
      <button type="submit" class="btn btn-danger cover-page" >Confirm and remove</button>
    </div>
  </form>

{%endblock%}

{%block help_header%}
  Removing a ZFS quota
{%endblock%}

{%block help_body%}
  <p>Confirming this operation results in the quota for the specified user/group being removed from the system. Please ensure that this is actually intended before continuing.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("view_zfs_pools_tab")
  </script>
{% endblock %}
