{% extends 'users-groups_base.html' %}
{%block tab_header %}
Delete a local user - confirmation
{%endblock%}

{% block inside_content %}
<br><br>

<!-- Modal -->

<p id="p-warning-text">Are you sure you want to delete the local user "{{username}}"? </p>
<br>
<form action="/delete_local_user/" method="POST">
<input type=hidden name="username" value="{{username}}">
<input type="button" class="btn btn-default" value="Cancel" onClick="window.location='/view_local_users'"> &nbsp;&nbsp;
<button type="submit" class="btn btn-danger" onClick ="$('#processing').modal('show');">Confirm and delete >></button>
</form>





{%endblock%}
{%block help_header%}
Deleting local users.
{%endblock%}
{%block help_body%}
<p>Confirming this operation results in a local user of the IntegralStor system being deleted.</p>
{%endblock%}

{% block tab_active %}
 <script>
  make_tab_active("view_local_users_tab")
 </script>
{% endblock %}
