{% extends 'logged_in_base.html' %}

{%block contents%}

<!-- Modal -->
<div class="modal fade" id="processing" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" id="myModalBody">
        <br><br><br>
        <i class="fa fa-spinner fa-spin fa-4 blue"></i>
        <br><br><br>
        <p id="p-node-text">Processing.. Please wait.
        <br><br><br>
      </div>
    </div>
  </div>
</div>

<span id="topic-text"> File access -> Local users -> Delete local group {{grpname}} </span><br>


<p id="p-warning-text">Are you sure you want to delete the local group "{{grpname}}"? </p>
<br>
<form action="/delete_local_group/" method="POST">
<input type=hidden name="grpname" value="{{grpname}}">
<input type="button" class="btn btn-default" value="Cancel" onClick="window.location='/view_local_groups'"> &nbsp;&nbsp;
<button type="submit" class="btn btn-primary" onClick ="$('#processing').modal('show');">Confirm and delete >></button>
</form>





{%endblock%}
{%block help_header%}
Deleting local group.
{%endblock%}
{%block help_body%}
<p>Confirming this operation results in a local group of the IntegralStor system being deleted.</p>
{%endblock%}
