{% extends 'logged_in_base.html' %}

{%block page-header%}
  File Access
  <br /><small>
      File Access 
      <i class="fa fa-angle-double-right smaller-80"></i>
      Shares 
      <i class="fa fa-angle-double-right smaller-80"></i>
      Delete Share
  </small>
{%endblock%}

{%block contents%}

<!-- Modal -->
<div class="modal fade" id="processing" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" id="myModalBody">
        <br><br><br>
        <i class="fa fa-spinner fa-spin fa-4 blue"></i>
        <br><br><br>
        <p id="p-node-text">Processing.. Please wait.
        <br><br><br>
      </div>
    </div>
  </div>
</div>

<p id="p-warning-text">Are you sure you want to delete the share named "{{name}}"? </p>
<br>
<form action="/delete_share/" method="POST">
<input type=hidden name="name" value="{{name}}">
<input type=hidden name="share_id" value="{{share_id}}">
<input type="button" class="btn btn-default" value="Cancel" onClick="window.location='/view_share?access_mode=by_id&index={{share_id}}'"> &nbsp;&nbsp;
<button type="submit" class="btn btn-primary" onClick ="$('#processing').modal('show');">Confirm and delete >></button>
</form>





{%endblock%}
{%block help_header%}
Deleting a share
{%endblock%}
{%block help_body%}
<p>Confirming this operation results in the specified share being deleted from the system. Please ensure that this is actually intended before continuing.</p>
{%endblock%}
