{% extends  'key_management_base.html' %}

{% block tab_header %}
  Download SSH Keys for {{selected_user}}
{% endblock  %}

{% block inside_content %}
  <table class="table" style="width:800px">
    <tr>
      <th> Select User :</th>
      <td> 
        <select name="user" id="id_user" class="form-control">
          {% for user in users %}
            <option value="{{user.username}}" {% if user.username == selected_user%} selected="selected" {% endif %}>{{user.username}}</option>
          {%endfor%}
        </select>
      </td>
    </tr>

  </table>
  <div class="btn-group btn-group-sm "  >
    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-cog fa-fw"></i>&nbsp;Actions &nbsp;<span class="fa fa-caret-down" title="Toggle dropdown menu"></span> </a>
    <ul class="dropdown-menu">
      <li><a class="action-dropdown" href="/static/{{ssh_key}}" ><i class="fa fa-download fa-fw"></i>&nbsp;Download SSH public key</a></li>
      <li><a class="action-dropdown" href="/static/{{host_key}}" ><i class="fa fa-download fa-fw"></i>&nbsp;Download SSH host key</a></li>
    </ul>
  </div>
  <script>
    document.getElementById("id_user").onchange = function () {
      var user = $("#id_user").val()
      location.href = "/download_ssh_keys/?user="+user
    }
  </script>
{% endblock %}

