{% extends 'logging_base.html' %}

{%block tab_header %}
  Download system logs
{%endblock%}

{% block inside_content %}

  <form name="myform"  method="post">
    {{form.hostname}}
    <table class="table" >
      <tr>
        <th> System log type : </th>
        <td >
          <select name="sys_log_type" class="form-control">
            {% for choice in form.sys_log_type.field.choices %} 
              <option value="{{choice.0}}">{{choice.1}}</option>
            {%endfor%}
          </select>
        </td>
        <td>  
          {{ form.sys_log_type.errors }}
        </td>
      </tr>
    </table>
    <button type="submit" id="download_logs"  class="btn btn-default cover-page btn-sm"><i class="fa fa-download fa-fw"></i>&nbsp;Download</button>
  </form>
  <br><br>
  <p id="p-instruction-text"> The requested log will be fetched as a zip file which you can open or save on your computer.</p>


  <script>
    $("#download_logs").on('click',function(){
      $(this).text("Processing");
      setInterval(function(){
        $("#download_logs").text("Download");
        $('.lightbox').hide();
      },10000);
    });
  </script>

{%endblock%}

{%block help_header%}
  Download system logs
{%endblock%}

{%block help_body%}
<p>System logs help in tracking down potential issues in the system. Please specify the log type before downloading it. The logs will be downloaded onto your system in the form of a compressed ZIP file.</p>
{%endblock%}

{% block tab_active %}
 <script>
  make_tab_active("download_system_logs_tab")
 </script>
{% endblock %}
