{% extends 'logged_in_base.html' %}

{%block page-header%}
  Other Services
  <br /><small>
      Other Services 
      <i class="fa fa-angle-double-right smaller-80"></i>
      Email Settings (Edit)

  </small>
{%endblock%}

{%block contents%}

{{conf_message}}

<div id="processing" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-body">
<br><br><br>
<i class="fa fa-spinner fa-spin fa-4 blue"></i>
<br><br><br>
<p id="p-node-text">Saving settings and sending a test mail.. Please wait.
<br><br><br>
</div>
</div>

<form role="form" action="/configure_email_settings/" method="post">
<div  style=" position:relative;border:0px solid #DDDDDD;width:600px; padding:15px 15px 15px;margin:0px 15px;border-radius:4px 4px 0px 0px">
  <div class="form-group" >
    <label for="id_email_server" >SMTP server:</label>
    <input type="text"  name="email_server" class="form-control" id="id_email_server" placeholder="Enter SMTP server"> 
    {{ form.email_server.errors }}
  </div>
  <div class="form-group" >
    <label for="id_email_server_port" >SMTP server port:</label>
    <input type="text"  name="email_server_port" class="form-control" id="id_email_server_port" placeholder="Enter SMTP server port"> 
    {{ form.email_server_port.errors }}
  </div>
  <div class="form-group" >
    <label for="id_user_name" >SMTP server account username:</label>
    <input type="text"  name="user_name" class="form-control" id="id_user_name" placeholder="Enter SMTP server username"> 
    {{ form.user_name.errors }}
  </div>
  <div class="form-group" >
    <label for="id_pswd" >SMTP server account password:</label>
    <input type="password"  name="pswd" class="form-control" id="id_pswd" placeholder="Enter SMTP server account password"> 
    {{ form.pswd.errors }}
  </div>
  <div class="checkbox">
    <label for="id_tls">
      <input name="tls" type="checkbox" {% if form.initial.tls%} checked="checked" {%endif%}>
      Use TLS
    </label>
    {{ form.tls.errors }}
  </div>
  <div class="checkbox">
    <label for="id_email_alerts">
      <input name="email_alerts" type="checkbox" {% if form.initial.email_alerts%} checked="checked" {%endif%}>
      Send email for alerts
    </label>
    {{ form.email_alerts.errors }}
  </div>
  <div class="form-group" >
    <label for="id_user_name" >SMTP server username:</label>
    <input type="text"  name="user_name" class="form-control" id="id_user_name" placeholder="Enter SMTP server username"> 
    {{ form.user_name.errors }}
  </div>
  <div class="form-group" >
    <label for="id_rcpt_list" >Email recipient list:</label>
    <input type="text"  name="rcpt_list" class="form-control" id="id_rcpt_list" placeholder="Enter email recipient list"> 
    {{ form.rcpt_list.errors }}
  </div>
  <a href="/show/email_settings" role="button" class="btn btn-default"> Cancel</a>&nbsp;&nbsp;
  <button type="submit" class="btn btn-primary" onClick ="$('#processing').modal('show');"> Save </button>
</div>
</form>

{%endblock%}
{%block help_header%}
Email settings
{%endblock%}
{%block help_body%}
<p>You can configure the IntegralStor systems to send emails for every alert that the system generates. For this to happen, use this screen to enter details about the SMTP server that the system should use to send emails. The SMTP server should be accessible to the IntegralStor system in order for the emails to go through properly. A test email will be sent once you enter all the details and save. You can enter multiple email recipients by entering a comma separated list of email addresses in the recipient list.</p>
{%endblock%}
