{% extends 'logged_in_base.html' %}

{%block page-header%}
  File Access
  <br /><small>
      File Access 
      <i class="fa fa-angle-double-right smaller-80"></i>
      Authentication 
      <i class="fa fa-angle-double-right smaller-80"></i>
      Authentication Settings (Edit)

  </small>
{%endblock%}

{%block contents%}

<p id="p-instruction-text">{{conf}}</p>
{{form.errors}}

<form name="save_form" action="/save_samba_server_settings/" method="post" >
{{form.security}}
<input type="hidden" name="netbios_name" value="Fractalio">
<div  style=" position:relative;border:0px solid #DDDDDD;width:600px; padding:15px 15px 15px;margin:0px 15px;border-radius:4px 4px 0px 0px">
{%if form.data.security == "ads" or form.initial.security == "ads"%}
  <div class="form-group" >
    <label for="id_password_server" >Authentication server DNS name:</label>
    <input type="text"  name="password_server" class="form-control" id="id_password_server" placeholder="Authentication server DNS name" value="{{form.password_server.value}}"> 
    {{ form.password_server.errors }}
  </div>
  <div class="form-group" >
    <label for="id_password_server_ip" >Authentication server IP address:</label>
    <input type="text"  name="password_server_ip" class="form-control" id="id_password_server_ip" placeholder="Authentication server IP Address" value="{{form.password_server_ip.value}}"> 
    {{ form.password_server_ip.errors }}
  </div>
  <div class="form-group" >
    <label for="id_realm" >AD Domain/Realm:</label>
    <input type="text"  name="realm" class="form-control" id="id_realm" placeholder="AD Domain/Realm:" value="{{form.realm.value}}"> 
    {{ form.realm.errors }}
  </div>
  <!--
  <div class="form-group" >
    <label for="id_ad_schema_mode" >Volume name :</label>
    <select name="ad_schema_mode" class="form-control">
    {% for choice in form.ad_schema_mode.field.choices %} 
      <option value="{{choice.0}}" {%if form.initial.ad_schema_mode == choice.0%} selected="selected" {%endif%}>{{choice.1}}</option>
    {%endfor%}
    </select>
    {{ form.ad_schema_mode.errors }}
  </div>
  <div class="form-group" >
    <label for="id_id_map_min" >AD UID Mapping range :</label>
    <input type="text"  name="id_map_min" class="form-control" id="id_id_map_min" placeholder="Range minimum" value="{{form.id_map_min.value|default_if_none:'16777216'}}"> to  <input type="text"  name="id_map_max" class="form-control" id="id_id_map_max" placeholder="Range maximum"  value="{{form.id_map_max.value|default_if_none:'33554431'}}">
    {{ form.id_map_min.errors }}
    {{ form.id_map_max.errors }}
  </div>
  -->
  <div class="form-group" >
    <label for="id_password" >AD Admininstrator password  </label> (Never stored. Used only to initially join AD realm) 
    <input type="password"  name="password" class="form-control" id="id_password" placeholder="AD Administrator password"> 
    {{ form.password_server.errors }}
  </div>
{%endif%}
  <div class="form-group" >
    <label for="id_workgroup" >Workgroup:</label>
    <input type="text"  name="workgroup" class="form-control" id="id_workgroup" placeholder="Workgroup" value="{{form.workgroup.value}}"> 
    {{ form.workgroup.errors }}
  </div>
  <a href="/auth_server_settings/" role="button" class="btn btn-default"> Cancel</a>&nbsp;&nbsp;<button type="submit" class="btn btn-primary" onClick ="$('#processing').modal('show');"> Save </button>
</div>

<!-- Modal -->
<div class="modal fade" id="processing" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" id="myModalBody">
        <br><br><br>
        <i class="fa fa-spinner fa-spin fa-4 blue"></i>
        <br><br><br>
        <p id="p-node-text">Processing.. Please wait.
        <br><br><br>
      </div>
    </div>
  </div>
</div>

{%endblock%}
{%block help_header%}
Active Directory Authentication settings
{%endblock%}
{%block help_body%}
<p> Use this screen to provide information about your Active Directory server against which authentication for share access will happen. Please ensure that you provide the correct server name, IP address and administrative user password in order for the authentication to proceed properly.</p>
{%endblock%}
