{% extends 'cifs_base.html' %}

{%block page-header%}
  CIFS Access
  <br /><small>
      File Access 
      <i class="fa fa-angle-double-right smaller-80"></i>
      Shares 
      <i class="fa fa-angle-double-right smaller-80"></i>
      Edit Share
  </small>
{%endblock%}

<script type="text/javascript">
/*
function set_field_visibility() {
  var guest_ok = document.forms["edit_form"].elements["guest_ok"];
  var guest_ok_val;
  for(var i = 0; i < guest_ok.length; i++){
    if(guest_ok[i].checked){
        guest_ok_val = guest_ok[i].value;
    }
  }
  if (guest_ok_val=="yes") {
    set_select_field_disabled(document.forms["edit_form"].elements["users"], true);
  } else {
    set_select_field_disabled(document.forms["edit_form"].elements["users"], false);
  } 
}
function select_guest_ok() {
  for (var i=0;i<2;i++)
    if (document.forms["edit_form"].elements["guest_ok"][i].value == "no")
      document.forms["edit_form"].elements["guest_ok"][i].checked = true;
}
*/
</script>


{%block inside_content %}

{{conf_message}}


<form id="edit_form" name="edit_form" action="" method="post">
<input name="name" type="hidden" value="{{ form.name.value }}">
<input name="share_id" type="hidden" value="{{ form.share_id.value }}">
<input name="path" type="hidden" value="{{ form.path.value }}">
            <table class="table" style="width:800px">
            <tr>
              <td>
            <label for="id_name">Share name:</label>
              </td>
              <td>
            {{ form.name.value }}
              </td>
              <td>
              &nbsp
              </td>
            </tr>
            <tr>
              <td>
            <label for="id_path">Path :</label>
              </td>
              <td>
            {{ form.path.value }}
              </td>
              <td>
              &nbsp
              </td>
            </tr>
            <tr>
              <td>
            <label for="id_comment">Description:</label>
              </td>
              <td>
                <input type="text"  name="comment" class="form-control" id="id_comment" placeholder="Description of this share" value="{{form.comment.value}}"/>
              </td>
              <td>
            {{ form.comment.errors }}
              </td>
            </tr>
            <tr>
              <td>
            <label for="id_read_only">Readonly:</label>
              </td>
              <td>
            {{ form.read_only }}
              </td>
              <td>
            {{ form.read_only.errors }}
              </td>
            </tr>
            <tr>
              <td>
            <label for="id_browseable">Browseable:</label>
              </td>
              <td>
            {{ form.browseable }}
              </td>
              <td>
            {{ form.browseable.errors }}
              </td>
            </tr>
            <tr>
              <td>
            <label for="id_guest_ok">Guest access permitted:</label>
              </td>
              <td>
            {{ form.guest_ok }}
              </td>
              <td>
            {{ form.guest_ok.errors }}
              </td>
            </tr>
            <tr>
              <td>
            <label for="id_users">Allowed users:</label>
              </td>
              <td>
                {% for choice in form.users.field.choices %}
                  <div class="radio" >
                      <input type="checkbox" name="users" id="{{choice.0}}" value="{{choice.0}}" {%if choice.0 in form.initial.users %} checked="checked"{%endif%}> {{choice.0}}
                  </div>
                {%endfor%}
              </td>
              <td>
            {{ form.users.errors }}
              </td>
            </tr>
            <tr>
              <td>
            <label for="id_groups">Allowed groups:</label>
              </td>
              <td>
                {% for choice in form.groups.field.choices %} 
                  <div class="radio" >
                      <input type="radio" name="groups" id="id_users" value="{{choice.0}}" {%if choice.0 in form.initial.groups %} checked="checked"{%endif%}>{{choice.0}}
                  </div>
                {%endfor%}
              </td>
              <td>
            {{ form.groups.errors }}
              </td>
            </tr>
            </table>

        <a href="/view_cifs_share?access_mode=by_id&index={{form.share_id.value}}" role="button" class="btn btn-default"> Cancel</a>&nbsp;&nbsp;
        <button type="submit" class="btn btn-primary">Save >></button>
</form>
<script type="text/javascript">
function set_select_field_disabled(f, val) {
  for(var i = 0; i < f.length; i++)
    f[i].disabled = val
}
$("form input[name='guest_ok']").click(function () {
    if (document.getElementById("id_guest_ok").checked) {
      set_select_field_disabled(document.getElementsByName('users'), true);
      set_select_field_disabled(document.getElementsByName('groups'), true);
    } else {
      set_select_field_disabled(document.getElementsByName('users'),false);
      set_select_field_disabled(document.getElementsByName('groups'), false);
    }
    });
$(window).load(function() {
    if (document.getElementById("id_guest_ok").checked) {
      set_select_field_disabled(document.getElementsByName('users'),true);
      set_select_field_disabled(document.getElementsByName('groups'), true);
    } else {
      set_select_field_disabled(document.getElementsByName('users'),false);
      set_select_field_disabled(document.getElementsByName('groups'), false);
   }
  });
</script>

{%endblock%}
{%block help_header%}
Edit a share 
{%endblock%}
{%block help_body%}
<p>Use this screen to change the settings for a particular share. The settings will take effect upon saving this information.</p>
{%endblock%}

{% block tab_active %}
 <script>
  make_tab_active("view_cifs_shares_tab")
 </script>
{% endblock %}

