{% extends 'networking_base.html' %}

{%block tab_header %}
  Modify DNS servers
{%endblock%}

{% block inside_content %}

  <form action="/edit_dns_nameservers/" method="post">
    <table class="table" >
      <tr>
        <td  style="max-width:100px;word-wrap: break-word"> 
          <b>DNS Nameserver list</b><br> (enter comma separated list of DNS nameserver IP addresses ): 
        </td>
        <td>
          <input type="text"  name="nameservers" class="form-control" id="id_nameservers" value="{{form.initial.nameservers}}" placeholder="Enter comma separated list of DNS nameservers"> 
        </td>
        <td>  
          {{ form.nameservers.errors }}
        </td>
      </tr>
    </table>
    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <a href="/view_dns_nameservers/" role="button" class="btn btn-default"> Cancel</a>&nbsp;&nbsp;
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>


{%endblock%}

{%block help_header%}
  Modify DNS nameservers
{%endblock%}

{%block help_body%}
<p>Use this screen to add/modify the list of DNS server's IP addresses. You can only enter a single IP address or a comma separated list of IP addresses here.</p>
{%endblock%}

{% block tab_active %}
  <script>
   make_tab_active("view_dns_nameservers_tab")
  </script>
{% endblock %}
