{% extends 'system_base.html' %}

{%block tab_header %}
  Set Integralview access mode
{%endblock%}

{% block inside_content %}

  <form method="POST" action="/edit_https_mode/">
    <input type="hidden" name="change_to" value="{{change_to}}">
    <table class="table" >
      <tr>
        <th style="max-width:100px;"> Select SSL certificate: </th>
        <td>
          <select id="id_cert_name" name="cert_name" class="form-control" >
            {% for choice in form.cert_name.field.choices %}
              <option value="{{choice.0}}" {%if choice.0 == form.initial.cert_name %} selected="selected"{%endif%}>{{choice.1}}</option>
            {%endfor%}
          </select>
        </td>
      </tr>
    </table>
    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <a href="/view_https_mode" role="button" class="btn btn-default btn-sm"> Cancel</a>&nbsp;&nbsp;
      <button type="submit" class="btn btn-primary btn-sm cover-page" > Change </button>
    </div>

{%endblock%}

{%block help_header%}
  Set Integralview access mode
{%endblock%}

{%block help_body%}
  This screen allows you to set the current mode of accessing IntegralView to the secure HTTPS mode. 
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("https_tab")
  </script>
{% endblock %}
