{% extends 'networking_base.html' %}
{%block tab_header %}
Modify the IP address of an NIC/bond
{%endblock%}

{% block inside_content %}
<br><br>

{{conf_message}}


<form id="edit_form" name="edit_form" action="" method="post">
<input name="name" type="hidden" value="{{ form.name.value }}">
            <table class="table" style="width:800px">
            <tr>
              <td>
            <label for="id_name">Interface name:</label>
              </td>
              <td>
            {{ form.name.value }}
              </td>
              <td>
              &nbsp
              </td>
            </tr>
            <tr>
              <td>
            <label for="id_addr_type">Address type  :</label>
              </td>
              <td>
                  {% for choice in form.addr_type.field.choices %}
                  <label class="radio"> 
                  <input type="radio" name="addr_type" id="addr_{{choice.0}}" value="{{choice.0}}" {%if choice.0 == form.initial.addr_type %} checked{%endif%} />{{choice.1}}
                   </label>
                   {%endfor%}
              </td>
              <td>
            {{ form.addr_type.errors }}
              </td>
            </tr>
            <tr>
              <td>
            <label for="id_ip">IP Address:</label>
              </td>
              <td>
                <input type="text"  name="ip" class="form-control optional" id="id_ip" placeholder="Static IP address" value="{%if form.initial.ip%}{{form.initial.ip}}{%endif%}"/>
              </td>
              <td>
            {{ form.ip.errors }}
              </td>
            </tr>
            <tr>
              <td>
            <label for="id_ip">Net mask:</label>
              </td>
              <td>
                <input type="text"  name="netmask" class="form-control optional" id="id_netmask" placeholder="Enter Netmask" value="{%if form.initial.netmask%}{{form.initial.netmask}}{%endif%}"/>
              </td>
              <td>
            {{ form.netmask.errors }}
              </td>
            </tr>
            <tr>
              <td>
            <label for="id_default_gateway">Default gateway:</label>
              </td>
              <td>
                <input type="text"  name="default_gateway" class="form-control optional" id="id_default_gateway" placeholder="Default gateway address" value="{%if form.initial.default_gateway%}{{form.initial.default_gateway}}{%endif%}"/>
              </td>
              <td>
            {{ form.default_gateway.errors }}
              </td>
            </tr>
            <tr>
              <td>
            	<label for="id_mtu">MTU framesize (for jumbo frames) :</label>
              </td>
              <td>
                <input type="text"  name="mtu" class="form-control" id="id_mtu" placeholder="Frame size MTU" value="{%if form.initial.mtu%}{{form.initial.mtu}}{%endif%}"/>
              </td>
              <td>
            {{ form.mtu.errors }}
              </td>
            </tr>
            </table>

{%if nic.bonding_master %}
        <a href="/view_bond?name={{form.name.value}}" role="button" class="btn btn-default"> Cancel</a>&nbsp;&nbsp;
{%else%}
        <a href="/view_nic?name={{form.name.value}}" role="button" class="btn btn-default"> Cancel</a>&nbsp;&nbsp;
{%endif%}
        <button type="submit" class="btn btn-primary cover-page">Save</button>
</form>
<script type="text/javascript">
  if (("input[name=addr_type]:radio").value === "dhcp"){
    $(".optional").each(function(){
      this.disabled = "";
    })
  }
  $("input[name=addr_type]:radio").change(function(){
    if (this.value === "dhcp"){
    $(".optional").each(function(){
      this.disabled = "true";
    })
    }else{
    $(".optional").each(function(){
      this.disabled = "";
    })
    
    }
  })
</script>

{%endblock%}
{%block help_header%}
Edit a network interface 
{%endblock%}
{%block help_body%}
<p>Use this screen to change the settings for a particular network interface. The settings will take effect upon saving this information.</p>
{%endblock%}

{% block tab_active %}
  <script>
   make_tab_active("view_interfaces_tab")
  </script>
{% endblock %}

