{% extends 'shares_base.html' %}

{%block tab_header %}
  Modify a Windows share
{%endblock%}

{%block inside_content %}
  <form id="edit_form" name="edit_form" action="" method="post">
    <input name="name" type="hidden" value="{{ form.name.value }}">
    <input name="share_id" type="hidden" value="{{ form.share_id.value }}">
    <input name="path" type="hidden" value="{{ form.path.value }}">
    <table class="table" style="width:800px">
      <tr>
        <th> Share name: </th>
        <td> {{ form.name.value }} </td>
        <td> &nbsp </td>
      </tr>
      <tr>
        <th> Path :</th>
        <td> {{ form.path.value }} </td>
        <td> &nbsp </td>
      </tr>
      <tr>
        <th> Description: </th>
        <td>
          <input type="text"  name="comment" class="form-control" id="id_comment" placeholder="Description of this share" value="{{form.comment.value}}"/>
        </td>
        <td> {{ form.comment.errors }} </td>
      </tr>
      <tr>
        <th> Readonly:</th>
        <td> {{ form.read_only }} </td>
        <td> {{ form.read_only.errors }} </td>
      </tr>
      <tr>
        <th> Browseable:</th>
        <td> {{ form.browseable }} </td>
        <td> {{ form.browseable.errors }} </td>
      </tr>
      <!--
      <tr>
        <th> Guest access permitted:</th>
        <td> 
          {{ form.guest_ok }} <i>(In order to select users and/or groups below, this option should be disabled)</i>
        </td>
        <td> {{ form.guest_ok.errors }} </td>
      </tr>
      <tr>
        <th> Allowed users:</th>
        <td>
          {% for choice in form.users.field.choices %}
            <div class="radio" >
              <input type="checkbox" name="users" id="{{choice.0}}" value="{{choice.0}}" {%if choice.0 in form.initial.users %} checked="checked"{%endif%}> {{choice.0}}
            </div>
          {%endfor%}
        </td>
        <td> {{ form.users.errors }} </td>
      </tr>
      <tr>
        <th> Allowed groups:</th>
        <td>
          {% for choice in form.groups.field.choices %} 
            <div class="radio" >
              <input type="checkbox" name="groups" id="id_users" value="{{choice.0}}" {%if choice.0 in form.initial.groups %} checked="checked"{%endif%}> {{choice.0}}
            </div>
          {%endfor%}
        </td>
        <td> {{ form.groups.errors }} </td>
      </tr>
      -->
    </table>

    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <a href="/view_cifs_share?access_mode=by_id&index={{form.share_id.value}}" role="button" class="btn btn-default"> Cancel</a>&nbsp;&nbsp;
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>

<script type="text/javascript">
  function set_select_field_disabled(f, val) {
    for(var i = 0; i < f.length; i++)
      f[i].disabled = val
  }
  $("form input[name='guest_ok']").click(function () {
    if (document.getElementById("id_guest_ok").checked) {
      document.getElementById('guest_help').innerHTML = "Guest Access enabled. Disable to select Users and Groups"
      set_select_field_disabled(document.getElementsByName('users'), true);
      set_select_field_disabled(document.getElementsByName('groups'), true);
    } else {
      document.getElementById('guest_help').innerHTML = ""
      set_select_field_disabled(document.getElementsByName('users'),false);
      set_select_field_disabled(document.getElementsByName('groups'), false);
    }
  });
  $(window).load(function() {
    if (document.getElementById("id_guest_ok").checked) {
      document.getElementById('guest_help').innerHTML = "Guest Access enabled. Disable to select Users and Groups"
      set_select_field_disabled(document.getElementsByName('users'),true);
      set_select_field_disabled(document.getElementsByName('groups'), true);
    } else {
      document.getElementById('guest_help').innerHTML = ""
      set_select_field_disabled(document.getElementsByName('users'),false);
      set_select_field_disabled(document.getElementsByName('groups'), false);
    }
  });
</script>

{%endblock%}

{%block help_header%}
  Edit a share 
{%endblock%}

{%block help_body%}
  <p>Shares are used to provide access to a certain directory within a certain volume to end users. Shares are used only for Windows access. Users accessing the system via NFS can directly mount the directory within the volume using NFS mount points.</p>
  <p>You can set various options on shares : </p>
  <ul>
  <li> Share name : This is the name which will show up on Windows systems when you browse to the network storage.</li>
  <li>Volume name : The IntegralStor volume which contains the directory being exported through this share.</li>
  <li>Directory : The directory under the selected volume which is to be exported as the share. You can the browse button to select the directory. If you want to create a new directory under the volume to export, then please use the Create a directory option and then use this screen to create a share for that directory. </li>
  <li>Description : An explanatory note for the administrator's use.</li>
  <li>Read only : Setting this prevents all changes to files within this share.</li>
  <li>Browseable : Setting this will result in this share being displayed when someone browses the IntegralStor storage.</li>
  <li>Guest ok : Setting this will allow anyone to view and make changes to the contents of this share.</li>
  <li>Permitted users : The list of users who have access to this share. If the authentication method is set to Active Directory then this list is pulled from Active Directory itself. If the authentication method is set to Local Users then this list is pulled from the list of local users created on IntegralView. </li>
  <li>Permitted groups : The list of groups who have access to this share. If the authentication method is set to Active Directory then this list is pulled from Active Directory itself. </li>
  </ul>
{%endblock%}

{% block tab_active %}
 <script>
  make_tab_active("view_cifs_shares_tab")
 </script>
{% endblock %}

