{% extends 'shares_base.html' %}

{%block tab_header %}
  Modify Windows ACL entries
{%endblock%}

{%block inside_content %}


  <form action="/edit_aces/" method="POST">
    {{form.share_index}}
    {{form.share_name}}
    {{form.path}}
    <input type="hidden" name="for" value="share">

    <table>
      <th>
        Apply recursively to all sub-directories
      </th>
      <td>
        {{form.recursive}}
      </td>
    </table>
    <br/>

    <table class="table table-bordered">
      <tr>
        <th> Name </th>
        <th>
          View directory contents (r)
        </th>
        <th>
          Modify directory contents (w)
        </th>
        <th>
          Enter and access directory contents (x)
        </th>
      </tr>
      <tr>
        <td>
          Owner (User)
        </td>
        <td  style="text-align: center;">
          {{form.ou_r}}
        </td>
        <td  style="text-align: center;">
          {{form.ou_w}}
        </td>
        <td  style="text-align: center;">
          {{form.ou_x}}
        </td>
      </tr>
      <tr>
        <td>
          Owner (Group)
        </td>
        <td  style="text-align: center;">
          {{form.og_r}}
        </td>
        <td  style="text-align: center;">
          {{form.og_w}}
        </td>
        <td  style="text-align: center;">
          {{form.og_x}}
        </td>
      </tr>
      <tr>
        <td>
          Others
        </td>
        <td  style="text-align: center;">
          {{form.ot_r}}
        </td>
        <td  style="text-align: center;">
          {{form.ot_w}}
        </td>
        <td  style="text-align: center;">
          {{form.ot_x}}
        </td>
      </tr>
      {% for name, field in user_form_fields.items%}
        <tr>
          <td>
            {{name}} (User)
          </td>
          <td  style="text-align: center;">
            {{field.0}}
          </td>
          <td  style="text-align: center;">
            {{field.1}}
          </td>
          <td  style="text-align: center;">
            {{field.2}}
          </td>
        </tr>
      {%endfor%}
      {% for name, field in group_form_fields.items%}
        <tr>
          <td>
            {{name}} (Group)
          </td>
          <td  style="text-align: center;">
            {{field.0}}
          </td>
          <td  style="text-align: center;">
            {{field.1}}
          </td>
          <td  style="text-align: center;">
            {{field.2}}
          </td>
        </tr>
      {%endfor%}
    </table>
    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <input type="button" class="btn btn-default" value="Cancel" onClick="window.location='/view_cifs_share?access_mode=by_id&index={{form.share_index.value}}'"> &nbsp;&nbsp;
      <button type="submit" class="btn btn-primary cover-page" ">Save </button>
    </div>
  </form>

{%endblock%}

{%block help_header%}
  Modifying a share ACL entry
{%endblock%}

{%block help_body%}
<p>Confirming this operation results in the specified share's ACL entry being modified. This may cause some access issues for the share. Please ensure that this is actually intended before continuing.</p>
{%endblock%}

{% block tab_active %}
  <script>
   make_tab_active("view_cifs_shares_tab")
  </script>
{% endblock %}

