{% extends 'logged_in_base.html' %}

{%block tab_items %}
  <li id="user_ssh_keys_tab">
    <a href="/view_user_ssh_keys/">User SSH keys</a>
  </li> 
  <li id="host_ssh_keys_tab">
    <a href="/view_known_hosts_ssh_keys/">Known Hosts SSH fingerprint</a>
  </li>
  <li id="ssl_certs_tab">
    <a href="/view_ssl_certificates" >SSL certificates and keys</a>
  </li>
{%endblock tab_items %}

{% block menu_active %}
  <script>
    make_side_menu_active("key_management_menu")
  </script>
{% endblock %}
