{% extends 'logged_in_base.html' %}

{%block tab_items %}
  <li id="audits_tab">
    <a href="/view_audits">Audit trail</a>
  </li>
  <li id="alerts_tab">
    <a href="/view_alerts">Alerts</a>
  </li>
  <li id="logs_tab">
    <a href="/download_log">Logs</a>
  </li>
  <li id="scheduled_notifications_tab">
    <a href="/view_scheduled_notifications">Scheduled notifications</a>
  </li>
  <li id="remote_monitoring_tab" class="cover-page">
    <a href="/view_remote_monitoring_servers" >Remote monitoring</a>
  </li>
{%endblock tab_items %}

{% block menu_active %}
  <script>
    make_side_menu_active("logging_menu")
  </script>
{% endblock%}
