<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
  <html lang="en">
  <head>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/AdminLTE.css">
    <link rel="stylesheet" type="text/css" href="/static/css/skin-purple.css">
    <link rel="stylesheet" type="text/css" href="/static/css/fractalio.css">
    <script src="/static/js/jquery-2.2.3.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js" ></script>
    <script src="/static/js/app.js"></script>
    <title> 
  		{%block title%}
  			IntegralView administration console
  		{%endblock%}
    </title>


    <script type="text/javascript">
      function get_alerts(){
        $.get('/refresh_alerts/',function(data){
          $.each(data,function(){
            var alerts = $.parseJSON(JSON.stringify(this));
            $("#alerts_icon").removeClass("white").addClass("yellow faa-flash animated");
          });
        });
      }
      var auto_refresh = setInterval(function (){get_alerts()}, 20000);
      get_alerts()
    </script>

    {%block header_scripts%}
    {%endblock%}
  </head>

  <body class="skin-purple fixed">
    <div class="wrapper">
      <!-- Top Menu-->
      <header class="main-header">
        <a href="/dashboard/dashboard" class="logo cover-page">
          <!-- Add the class icon to your logo image or logo icon to add the margining -->
          <img src="/static/images/integralview-white.png" height="30" class="pull-left margin-left-10" style="margin-top:5px"/>
          <sub style="font-size:50%;" onClick="window.open('http://fractalio.com');return false;">by </sub>
          <sub style="font-size:50%;font-weight:bold;" onClick="window.open('http://fractalio.com');return false;">fractalio data </sub>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a href="/dashboard/dashboard" class="white margin-left-30 hidden-phone" style="line-height:3em"><b>IntegralStor UNICell </b><sub style="color:white">&nbsp;&nbsp;version {{version}}</sub></a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- User Account: style can be found in dropdown.less -->
                  <li >
                    <a  href="/view_alerts" title="Click to view alerts">
                      <i class="fa fa-exclamation-triangle white fa-lg" id="alerts_icon"></i>
                    </a>
                  </li>
                  <li >
                    <a href="#help" title="Click for help" data-toggle="modal">
                      <i class="fa fa-question fa-lg"></i>
                    </a>
                  </li>
                  <li >
                    <a id="refresh_page" href="" title="Click to refresh this page">
                      <i class="fa fa-refresh fa-lg"></i>
                    </a>
                  </li>
                  <li class="pull-right"><a href="{%url 'logout'%}" title="Sign out"><i class="fa fa-sign-out fa-lg">&nbsp;</a></i></li>
                </ul>
                </div>
            </nav>
        </header>
      <!-- end of top menu -->

      <!-- Side Menu -->
        <!-- Left side column. contains the logo and sidebar -->
        <aside style="min-height: 890px;" class="main-sidebar">
          <!-- sidebar: style can be found in sidebar.less -->
          <section class="sidebar">
            <div class="user-panel">
              <div class="image" style="margin-left:20%">
              </div>
            </div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
              <li id="dashboard_menu">
                <a href="/dashboard/dashboard">
                  <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
              </li>
              <li id="storage_menu">
                <a href="/view_zfs_pools/">
                  <i class="fa fa-hdd-o"></i>
                  <span>Disks and storage pools</span>
                </a>
              </li>
              <li id="shares_menu">
                <a href="/view_cifs_shares/">
                  <i class="fa fa-files-o"></i> Directories, shares & targets
                </a>
              </li>
              <li id="replication_snapshots_menu">
                <a href="/view_zfs_snapshots/"> 
                  <i class="fa fa-share"></i> Replication & snapshots
                </a>
              </li>
              <li id="scheduler_menu">
                <a href="/list_scheduled_jobs/"> 
                  <i class="fa fa-clock-o"></i> Scheduled tasks
                </a>
              </li>
              <hr style="margin-top: 2px; margin-bottom: 2px; border: 0; border-top: 1px solid #7d7676;">
              <li id="key_management_menu">
                <a href="/download_ssh_keys/">
                  <i class="fa fa-key"></i> Keys and Certificates
                </a>
              </li>
              <li id="network_menu">
                <a href="/view_interfaces/">
                  <i class="fa fa-retweet"></i>
                  <span>Networking</span>
                </a>
              </li>
              <li id="services_menu">
                <a href="/view_services/">
                  <i class="fa fa-laptop"></i>
                  <span>Services</span>
                </a>
              </li>
              <li id="system_menu">
                <a href="/view_system_info/">
                  <i class="fa fa-building"></i>
                  <span>System</span>
                </a>
              </li>
              <li id="users_menu">
                <a href="/view_local_users/"> 
                  <i class="fa fa-users"></i> Users & groups
                </a>
              </li>
              <hr style="margin-top: 2px; margin-bottom: 2px; border: 0; border-top: 1px solid #7d7676;">
              <li id="admin_menu">
                <a href="/change_admin_password/"> 
                  <i class="fa fa-cogs"></i> IntegralView settings
                </a>
              </li>
              <li id="logging_menu">
                <a href="/view_audit_trail/">
                  <i class="fa fa-file"></i> Logs
                </a>
              </li>
            </ul>
          </section>
          <!-- /.sidebar -->
        </aside>

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="content-wrapper">
          <!-- Main content -->
          <section id="contents" class="content">
            {%block contents%}
              <!-- TRIAL BEGIN!! -->
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">

                  <!-- tab items - begin -->
                  {%block tab_items %}
                  {%endblock tab_items %}
                  <!-- tab items - end -->

                  <!--{% include 'help_and_refresh.html' %}-->
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="content">
                    <div class="row" style="width:100%;margin:0 auto;border-top:0px solid #eee;padding-bottom:10px;border-bottom:1px solid #eee">
                      <div class="col-sm-6" style="padding-left:0px;border:0px solid">
                        <span class="bigger-120">
                          <i class="fa fa-circle text-yellow"></i> 
                          <span> 

                            <!-- tab header - begin -->

                            {% block tab_header %}
                              Information
                            {% endblock tab_header%}

                            <!-- tab header - end -->


                          </span>
                        </span>
                      </div>
                      <div class="col-sm-6 pull-right" style="border:0px solid">
                        {% block global_actions %}
                          &nbsp;
                        {% endblock global_actions%}
                      </div>
                    </div>
                    <div style="clear:both"></div>
                    <br/>
                    <span class="white-space:pre-line"></span>
                    {%block ack_message %}
                      <!-- ack message contents - begin -->
                      {% if ack_message %}
                        <div style="margin:0 auto;border-radius: 10px;background: #A1A3A6; width: 90%; position:relative;height: 30px;line-height:30px;text-align:center;">
                          <p style="color:white;align:center;"><b>{{ack_message}}</b></p>
                        </div>
                        <br>
                      {%endif%}
                      <!-- ack message contents - end -->
                    {%endblock ack_message%}

                    <!-- actual page contents - begin -->

                    {% block inside_content %}
                    {% endblock inside_content %}

                    <!-- actual page contents - end -->

                  </div>
                </div>
              </div>
              <!-- TRIAL END!! -->
            {%endblock contents%}                      

            </section><!-- /.content -->
        </aside><!-- /.right-side -->
      </div>

      <div id="footer" >
         {%block footer%}
        {%endblock%}
      </div>

      <!-- Modal -->
      <div class="modal fade" id="help" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">

          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="myModalLabel">
                {%block help_header%}
                {%endblock%}
                </h3>
            </div>
            <div class="modal-body" >
              {%block help_body%}
              {%endblock%}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="lightbox" id="wait_lightbox">
        <div class="row">
          <div class="col-lg-12" style="margin-top:15%;color:#fff">
            <h1>
              {% block light-box-text %}
              Processing . . . . <br><br>
              <i class="fa fa-refresh fa-spin fa-2x fa-fw" aria-hidden="true"></i>
              {% endblock %}
            </h1>
          </div>
        </div>
      </div>

    <!-- /wrapper div -->
  </body>
  <link rel="stylesheet" type="text/css" href="/static/font-awesome-4.6.3/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="/static/font-awesome-4.6.3/css/font-awesome-animation.min.css">
  <link rel="stylesheet" type="text/css" href="/static/datatables/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="/static/datatables/css/dataTables.bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/datatables/css/dataTables.responsive.css">
  <link rel="stylesheet" type="text/css" href="/static/css/modify_bootstrap.css">
  <script src="/static/datatables/js/jquery.dataTables.js"></script>
  <script src="/static/datatables/js/dataTables.bootstrap.js"></script>
  <script src="/static/datatables/js/dataTables.responsive.js"></script>
  <script src="/static/js/jquery.slimscroll.min.js"></script>
  <script src="/static/js/fractalio.js"></script>

  <script>
    $(document).ready(function(){
      {%block datatables%}
        $('.datatable').DataTable({
          searching: false,
          ordering: false,
          paging: false,
          responsive: true,
          info: false, 
        });
      {%endblock%}
      //$("table").css({'width':'90%'})
      $(".dataTables_info").addClass('margin-left-10')
    });
    $("#alerts_dropdown").click(function(){
      $("#alert_icon").removeClass("red faa-flash animated").addClass("white");
    });
    $(".p-instruction-text").hide();
    $("#refresh_page").click(function(){
      location.reload();
    })
  </script>


  {% block menu_active %}
    <script>
      make_side_menu_active(null)
    </script>
  {% endblock %}

  {% block tab_active %}
    <script>
      make_tab_active(null)
    </script>
  {% endblock%}

  {% block js %}
  {% endblock %}

</html>

