<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
  <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
  <link rel="stylesheet" href="/static/jquery-ui-1.10.2.custom/css/ui-lightness/jquery-ui-1.10.2.custom.css">
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.min.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/AdminLTE.css">
  <link rel="stylesheet" type="text/css" href="/static/css/skin-purple.css">
  <link rel="stylesheet" type="text/css" href="/static/css/fractalio.css">
  <title> 
		{%block title%}
			IntegralView administration console
		{%endblock%}
</title>
<script src="/static/jquery-ui-1.10.2.custom/js/jquery-1.9.1.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js" ></script>

<script type="text/javascript">
function get_alerts(){
  $.get('/refresh_alerts/',function(data){
      $.each(data,function(){
        var alerts = $.parseJSON(JSON.stringify(this));
        $("#alert_icon").removeClass("white").addClass("red faa-flash animated");
        $.each(alerts,function(key,value){
          $("#alerts").append('<li><a href="/show/alerts/"><div class="pull-left"><i class="fa fa-exclamation-circle red bigger-140"></i></div><h4>'+value.message+'</h4><p>'+value.time+'</p></a></li>');
        });
      });
  });
}
var auto_refresh = setInterval(function (){get_alerts()}, 20000);
get_alerts()
</script>

{%block header_scripts%}
{%endblock%}
</head>
<body class="skin-purple fixed">
  <div class="wrapper">
    <!-- Top Menu-->
    <header class="main-header">
            <a href="/dashboard/cpu" class="logo">
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
                 <img src="/static/images/LOGO-transparent.png" height="45" width="45" alt="Fractalio Data" class="pull-left margin-left-40"/>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a href="/dashboard/cpu" class="white margin-left-30 hidden-phone"><img src="/static/images/integralview-white.png" height="45" width="100"/><sub style="bottom: -1.25em;">v1.0</sub></a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown messages-menu" id="alerts-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span>
                                  <i class="fa fa-exclamation-triangle white bigger-140" id="alert_icon"></i>
					&nbsp;Alerts
                                </span>
                            </a>
                            <ul class="dropdown-menu" id="alerts_dropdown">
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <div style="position: relative; overflow: hidden; width: auto; height: 200px;" class="slimScrollDiv">
                                      <ul style="overflow: hidden; width: 100%; height: 200px;" class="menu" id="alerts">
                                          
                                      </ul>
                                    <div style="background: none repeat scroll 0% 0% rgb(0, 0, 0); width: 3px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 0px; z-index: 99; right: 1px; height: 131.148px;" class="slimScrollBar"></div><div style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: none repeat scroll 0% 0% rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;" class="slimScrollRail"></div></div>
                                </li>
                                <li class="footer"><a href="/show/alerts/">See All Messages</a></li>
                            </ul>
                        </li>
                        <li><a href="{%url 'change_admin_password'%}">Change Password</a></li>
                        <li><a href="{%url 'logout'%}" >Sign out</a></li>
                    </ul>
                </div>
            </nav>
        </header>
<!-- end of top menu -->

<!-- Side Menu -->
            <!-- Left side column. contains the logo and sidebar -->
            <aside style="min-height: 890px;" class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                  <div class="user-panel">
                    <div class="image" style="margin-left:20%">
                      <!--<a href="/dashboard/cpu" class="white hidden-phone"><img src="/static/images/fractalio name-white.png" width="170" height="45"/></a> -->
                      <a href="/dashboard/cpu" class="white hidden-phone text-center"><img src="/static/images/istor.png" width="120" height="60"/></a>
                   </div>
                  </div>
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li id="dashboard_menu">
                            <a href="/dashboard/disks">
                                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                            </a>
                        </li>
                        <li id="system_menu">
                            <a href="/show/node_info/">
                                <i class="fa fa-building"></i>
                                <span>System</span>
                            </a>
                        </li>
                        <li id="services_menu">
                            <a href="/view_services/">
                                <i class="fa fa-laptop"></i>
                                <span>Services</span>
                            </a>
                        </li>
                        <li id="network_menu">
                            <a href="/view_interfaces/">
                                <i class="fa fa-retweet"></i>
                                <span>Networking</span>
                            </a>
                        </li>
                        <li id="storage_menu">
                            <a href="/view_zfs_pools/">
                                <i class="fa fa-th"></i>
                                <span>Storage</span>
                            </a>
                        </li>
                        <li id="users_menu">
                          <a href="/view_local_users/"> 
                            <i class="fa fa-users"></i> Users and groups
                            </a>
                        </li>
                        <li id="scheduler_menu">
                          <a href="/list_cron_jobs/"> 
                            <i class="fa fa-clock-o"></i> Scheduler
                            </a>
                        </li>
                        <li id="shares_menu">
                          <a href="/view_nfs_shares/">
                            <i class="fa fa-files-o"></i> Shares and Targets
                            </a>
                        </li>
                        <li id="key_management_menu">
                          <a href="/show_my_ssh_key/">
                            <i class="fa fa-files-o"></i> Keys and Certificates
                            </a>
                        </li>
                        <li id="logging_menu">
                          <a href="/show/audit_trail/">
                            <i class="fa fa-bell"></i> Logs, audit, alerts
                            </a>
                        </li>
                        <li id="admin_menu">
                          <a href="/change_admin_password/"> 
                            <i class="fa fa-cogs"></i> Admin
                          </a>
                        </li>
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="content-wrapper">
                <!-- Main content -->
                <section id="contents" class="content">

                      {%block contents%}

                      {%endblock%}                      
                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div>

        <div id="footer" >
           {%block footer%}
          {%endblock%}
        </div>

<!-- Modal -->
<div class="modal fade" id="help" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 id="myModalLabel">
          {%block help_header%}
          {%endblock%}
          </h3>
      </div>
      <div class="modal-body" >
        {%block help_body%}

        {%endblock%}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="lightbox" id="wait_lightbox">
  <div class="row">
    <div class="col-lg-12" style="margin-top:15%;color:#fff">
      <h1>
        {% block light-box-text %}
        Processing . . . . 
        {% endblock %}
      </h1>
    </div>
  </div>
</div>
</body>
<link rel="stylesheet" type="text/css" href="/static/font-awesome-4.2.0/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="/static/font-awesome-4.2.0/css/font-awesome-animation.min.css">
<link rel="stylesheet" type="text/css" href="/static/datatables/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="/static/datatables/css/dataTables.bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/datatables/css/dataTables.responsive.css">
<script src="/static/datatables/js/jquery.dataTables.js"></script>
<script src="/static/datatables/js/dataTables.bootstrap.js"></script>
<script src="/static/datatables/js/dataTables.responsive.js"></script>
<script src="/static/js/jquery.slimscroll.min.js"></script>
<script src="/static/js/app.js"></script>
<script src="/static/js/fractalio.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/modify_bootstrap.css">

  <script>
    $(document).ready(function(){
      {%block datatables%}
        $('.datatable').DataTable({
          searching: false,
          ordering: false,
          paging: false,
          responsive: true,
          info: false, 
        });
      {%endblock%}
      $("table").css({'width':'90%'})
    $(".dataTables_info").addClass('margin-left-10')
    });
    $("#alerts_dropdown").click(function(){
      $("#alert_icon").removeClass("red faa-flash animated").addClass("white");
    });
    $(".p-instruction-text").hide();
    $("#refresh_page").click(function(){
      location.reload();
    })
  </script>
  {% block menu_active %}
    <script>
      make_side_menu_active(null)
    </script>
  {% endblock %}
  {% block tab_active %}
    <script>
      make_tab_active(null)
    </script>
  {% endblock%}
  {% block js %}
  {% endblock %}
</html>

