{% extends 'storage_base.html' %}

{% block tab_header%}
  Modify Directory Permissions
{% endblock tab_header %}

{% block inside_content %}
    <table class="table" >
      <tr>
        <th> Underlying ZFS Dataset :</th>
        <td>
          <select id = "id_dataset" class="form-control" onchange="change_dataset(this)">
            {% for choice in dataset %}
      		    <option value="/{{choice}}" onclick="option_selected(this)" {%if form.initial.dataset == choice%} selected="selected" {%endif%}>{{choice}}</option>
            {%endfor%}
          </select>
        </td>
        <td> {{ form.dataset.errors }} </td>
      </tr>
      <tr>
        <th> Selected ZFS Dataset :</th>
        <td>
		      <input id="val_dataset" name="dataset" readonly class="form-control"/>
        </td>
        <td> {{ form.dataset.errors }} </td>
      </tr>
      <tr>
        <th> Share path:</th>
        <td>
          <input type="text" name="display_path" class="form-control" id="id_display_path" placeholder="Click the Browse button to choose a directory.." readonly placeholder="Share Path" value={{form.path.value|default_if_none:""}}> 
          <a href="#" role="button" class="btn btn-primary btn-xs" onClick="displayTree();return false;"> Browse..</a>
          <div id="pathdiv" style="display:inline"> </div>
        </td>
        <td> {{ form.path.errors }} </td>
      </tr>
    </table>
    <button  class="btn btn-primary" data-toggle="modal" data-target="#change_permissions_modal">Change Permissions </button>
    <button  class="btn btn-primary" data-toggle="modal" data-target="#add_folder_modal">Add new folder here </button>
    <button  class="btn btn-danger" data-toggle="modal" data-target="#delete_folder_modal">Delete this folder </button>


    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="change_permissions_modal" id="change_permissions_modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Change Permissions</h4>
                </div>
                <div class="modal-body">
                    <form action="." method="POST"> 
                        <input type="text" name="path" class="form-control" id="id_path" value={{form.path.value|default_if_none:""}} style="display:none;"> 
                          {% include 'permissions_form.html' %}
                          <button type="submit" class="btn btn-primary pull-right">Change Permissions</button>
                      <br />
                      <br />
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="add_folder_modal" id="add_folder_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span></button>
                <h4 class="modal-title">Add New folder</h4>
                </div>
                <div class="modal-body">
                    <form action="." method="POST"> 
                        <input type="text" name="action" class="form-control" id="id_add_folder_path" placeholder="" value="add_folder" style="display:none;"> 
                        <input type="text" name="path" class="form-control" id="id_new_folder_path" placeholder="" readonly placeholder="Share Path" value={{form.path.value|default_if_none:""}} style="display:none;"> 
                        <input type="text" name="new_folder_name" class="form-control" id="id_new_folder_path" placeholder="Enter a folder name">
                          <br />
                          <button type="submit" class="btn btn-primary pull-right">Add Folder</button>
                      <br />
                      <br />
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="delete_folder_modal" id="delete_folder_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Delete this folder</h4>
                </div>
                <div class="modal-body">
                    <form action="." method="POST"> 
                        <input type="text" name="path" class="form-control" id="id_delete_path" placeholder="" readonly placeholder="Share Path" value={{form.path.value|default_if_none:""}}> 
                        <input type="text" name="action" class="form-control" id="id_delete_folder_path" placeholder="" value="delete_folder" style="display:none;"> 
                          <br />
                          <button type="submit" class="btn btn-danger pull-right">Delete Folder</button>
                      <br />
                      <br />
                        
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
  
  <script src="/static/jstree/dist/jstree.js"></script>
  <script>
    function option_selected(a){
      localStorage.setItem('last_selected',a.value);
      localStorage.setItem('last_selected_time',new Date().getTime());
      location.reload();
    };
    function change_dataset(a){
    };
    // Invalidate the local storage value after 1 min.
    var one_min = 60 * 1000
    if ((new Date) - localStorage.getItem('last_selected_time') < one_min){
      $("#val_dataset").val(localStorage.getItem('last_selected'));
      $("#id_dataset option[value='"+localStorage.getItem('last_selected')+"']").attr("selected","selected")
    }else{
      localStorage.removeItem('last_selected');
      localStorage.removeItem('last_selected_time');
      $("#val_dataset").val($("#id_dataset").val());
    }
    function displayTree() {
      document.getElementById("pathdiv").style.display = "block";
      $('#pathdiv').jstree({ 'core' : {
        'multiple':false,
        'data' : {
          'url' : function (node) {
            return node.id === '#' ? 
              '/dir_contents?first=1&dir=/' : 
              '/dir_contents'; 
          },
          'data' : function (node) {
            var e = document.getElementById("val_dataset")
            if (node.data) {              //return {'dir' : node.data['dir'] , 'id':node.id, "pool_name": e.options[e.selectedIndex].value};
              //return {'dir' : node.data['dir'] , 'id':node.id, "pool_name": e.options[e.selectedIndex].value};
              return {'dir' : node.data['dir'] , 'id':node.id, "pool_name": e.value};
            }
            else
              //return { 'dir' : node.text , 'id':node.id, "pool_name": e.options[e.selectedIndex].value};
              return { 'dir' : node.text , 'id':node.id, "pool_name": e.value};
          }
        }
      }
      });
      $(function () {
        $('#pathdiv').on('changed.jstree', function (e, data) {
          var i, j, r = [];
          r = data.instance.get_node(data.selected[0]).text;
          rfp = data.instance.get_node(data.selected[0]).data["dir"];
          location.href = location.pathname+"?path="+rfp
          document.getElementById("pathdiv").style.display = "none";
        })
        .jstree();
      });
    }
  </script>
{% endblock inside_content %}
