{% extends 'system_base.html' %}

{% block tab_header %}
Reboot the system
{% endblock %}

{% block inside_content %}
<br /> <br />

<button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#reboot-modal">Reboot the system </button>

<div class="modal" id="reboot-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Are you sure you want to reboot the system?</h4>
      </div>
      <div class="modal-body" id="timer_div">
	      <p>A reboot will stop all the services, disconnect all the users and stop data transfers which could lead to data loss.</p>
      	<p> If you are sure, please click on Yes, else, close this popup, and nothing will happen.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" id="no">No, do NOT reboot Close</button>
        <button type="button" class="btn btn-danger" id="yes">Yes, Reboot</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<form action="." method="POST" style="display:none;" id="atlast_reboot">   
    {% csrf_token %}
    <button type="submit">Submit</button>
</form>

<script>
    var no_reboot = false;
    $("#no").click(function(){
        no_reboot=true;
        alert(no_reboot);
    })
	$("#yes").click(function(){
		var seconds_left = 10;
		var interval = setInterval(function() {
            if (!(no_reboot)){
		        document.getElementById('timer_div').innerHTML = "Rebooting in "+ --seconds_left;
            }else{
                document.getElementById('timer_div').innerHTML = "Reboot Stopped."
            }            
		    if (seconds_left <= 0)
		    {
    			document.getElementById('timer_div').innerHTML = 'Rebooting';
			document.forms["atlast_reboot"].submit();
		    }
		}, 1000);
	});
</script>

{% endblock %}
