{% extends 'iscsi_base.html' %}

{% block inside_content %}



<!-- Modal -->
<div class="modal fade" id="processing" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" id="myModalBody">
        <br><br><br>
        <i class="fa fa-spinner fa-spin fa-4 blue"></i>
        <br><br><br>
        <p id="p-node-text">Processing.. Please wait.
        <br><br><br>
      </div>
    </div>
  </div>
</div>

<p id="p-warning-text">Are you sure you want to remove the ACL "{{acl}}" from target "{{target_name}}"? </p>
<br>
<form action="/remove_iscsi_acl/" method="POST">
<input type=hidden name="target_name" value="{{target_name}}">
<input type=hidden name="acl" value="{{acl}}">
<input type="button" class="btn btn-default" value="Cancel" onClick="window.location='/view_iscsi_targets'"> &nbsp;&nbsp;
<button type="submit" class="btn btn-primary" onClick ="$('#processing').modal('show');">Confirm and remove >></button>
</form>


{%endblock%}
{%block help_header%}
Remove an ACL for an ISCSI target
{%endblock%}
{%block help_body%}
<p>Confirming this operation results in the specified ACL being removed from the specified ISCSI target. Please ensure that this is actually intended before continuing.</p>
{%endblock%}

{% block tab_active %}
  <script>
   make_tab_active("view_iscsi_targets_tab")
  </script>
{% endblock %}
