{% extends 'storage_base.html' %}
{%block tab_header %}
Remove ZFS pool's read cache - confirmation
{%endblock%}

{%block inside_content %}
<br><br>


<p id="p-warning-text">Are you sure you want to delete the ZFS read cache with name  "{{device}}" for pool "{{pool}}"? </p>
<br>
<form action="/remove_zfs_l2arc/" method="POST">
<input type=hidden name="pool" value="{{pool}}">
<input type=hidden name="device" value="{{device}}">
<input type="button" class="btn btn-default" value="Cancel" onClick="window.location='/view_zfs_pools'"> &nbsp;&nbsp;
<button type="submit" class="btn btn-danger" onClick ="$('#processing').modal('show');">Confirm and delete</button>
</form>


{%endblock%}
{%block help_header%}
Removing a ZFS read cache device
{%endblock%}
{%block help_body%}
<p>Confirming this operation results in the read cache for the specified ZFS pool being removed from the system. Please ensure that this is actually intended before continuing.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("view_zfs_pools_tab")
  </script>
{% endblock %}
