{% extends 'storage_base.html' %}

{%block tab_header %}
  Replacing a hard drive - Disk offlined confirmation
{%endblock%}

{% block inside_content %}

  <form action="" method="POST">
    {%csrf_token%}
    <input type=hidden name="conf" value="1">
    <input type=hidden name="node" value="{{node}}">
    <input type=hidden name="serial_number" value="{{serial_number}}">
    <input type=hidden name="pool" value="{{pool}}">
    <input type=hidden name="old_id" value="{{old_id}}">
    <input type=hidden name="replacement_method" value="{{replacement_method}}">
    The disk with serial number {{serial_number}} has been offlined.<br/><br/>
    {%if replacement_method == 'swap_out_disk' %}
      <input type=hidden name="step" value="scan_for_new_disk">

      <p> You can now safely remove the drive with  serial number "{{serial_number}}" on node  "{{node}}" and replace it with a new drive. The new drive should be of the same capacity as the one it is replacing!
      Please note the serial number of the newly installed drive for confirmation in the next step. The system will then scan the drives and prompt you with the newly recognized hard-drive serial number.</p>
    {%elif replacement_method == 'use_existing_disk' %}
      <input type=hidden name="new_id" value="{{new_id}}">
      <input type=hidden name="new_serial_number" value="{{new_serial_number}}">
      <input type=hidden name="step" value="online_new_disk">
    {%endif%}
    <p>Please click continue to proceed.  </p><br>

    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <input type="button" class="btn btn-default btn-sm " value="Cancel" onClick="window.location='/view_disks'"> &nbsp;&nbsp; 
      <button type="submit" class="btn btn-primary cover-page" ">Continue>></button>
    </div>
  </form>

{%endblock%}

{%block help_header%}
  Replace a drive 
{%endblock%}

{%block help_body%}
  <p>
    The disk to be replaced has now been offlined.
    {%if replacement_method == 'swap_out_disk' %}
      This disk can now be safely removed. Since the following steps will scan for the replacement drive, please note down the serial number of the replacement drive as you will be prompted with a confirmation screen. 
    {%elif replacement_method == 'use_existing_disk' %}
      Continue to replace it with the selected disk and online it.
    {%endif%}

</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("view_disks_tab")
  </script>
{% endblock %}
