{% extends 'storage_base.html' %}

{%block tab_header %}
  Replace a hard drive  - choose replacement disk
{%endblock%}

{% block inside_content %}

  <form id="form_id" action="" method="POST">
    {%csrf_token%}
    <input type=hidden name="conf" value="1">
    <input type=hidden name="node" value="{{node}}">
    <input type=hidden name="serial_number" value="{{serial_number}}">
    <input type=hidden name="replacement_method" value="{{replacement_method}}">
    <input type=hidden name="step" id="step_id" value="offline_disk">

    Please choose your replacement disk from the list below : <br/><br/>

    <table class="table">
      <tr>
        <td>Selection </td>
        <td> Serial number </td>
        <td> Status</td>
      </tr>
      {%for disk in free_disks %}
        <tr>
          <td>
            <input type="radio" id="id_serial_number" name="new_serial_number" value="{{disk.serial_number}}" /> 
          </td>
          <td>{{disk.serial_number}}</td>
          <td>{{disk.status}}</td>
        </tr>
      {%endfor%}
    </table>
    <br/>
    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <input type="button" class="btn btn-default" value="Cancel" onClick="window.location='/view_disks'"> &nbsp;&nbsp; 
      <button type="button" class="btn btn-primary " onClick="chked = radio_checked(); alert($('input[type=radio]:checked').val());if (!chked) { alert('Please choose a replacement disk');} else {document.getElementById('form_id').submit();}">Confirm and proceed >></button>
    </div>
</form>

<script type="text/javascript">
  function radio_checked() {
    return ($('input[type=radio]:checked').size() > 0);
  }
</script>
{%endblock%}

{%block help_header%}
  Replace a disk within a node 
{%endblock%}

{%block help_body%}
  <p>This screen is intended for the administrator to confirm that the correct disk has been chosen to be replaced on the correct node . Replacing an incorrect disk may result in data loss so please confirm this information. The replace disk process involves multiple steps so please note down the information provided correctly and confirm that all is ok before proceeding.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("view_disks_tab")
  </script>
{% endblock %}
