{% extends 'storage_base.html' %}
{%block tab_header %}
ZFS Pool Replication
{%endblock%}

{% block inside_content %}
{% if not pool %}
<p>No ZFS storage pools appear to have been created. </p>
{%else %}
<form class="form-horizontal" role="form" name="schedule_replication" action="" method="post">
            <table  class="table " style="width:800px">
            <tr>
              <td>
            <label for="id_replication_status">Replication Status</label>
              </td>
              <td> <strong>{{replication_status|title}}  </strong>
                <input type="text"  name="replication_status" class="form-control" id="id_replication_status" placeholder="Replication Status" value="{{replication_status}}" style="display:none;"> 
              </td>
            </tr>
            <tr>
              <td>
            <label for="id_dest_pool">Destination Pool/Dataset Name</label>
              </td>
              <td>
                <input type="text"  name="dest_pool" class="form-control" id="id_dest_pool" placeholder="Destination Pool Name" value="{{dest}}" required> 
              </td>
            </tr>
            <tr>
              <td>
            <label for="id_dest_pool">Destination IP</label>
              </td>
              <td>
                <input type="text"  name="ip" class="form-control" id="id_dest_ip" placeholder="Destination IP" value="{{ip}}" required> 
              </td>
            </tr>
            <tr>
              <td>
            <label for="id_pool">Selected Dataset</label>
              </td>
              <td>
                <input type="text"  name="pool" class="form-control" id="id_pool" placeholder="{{pool}}" value="{{pool}}" readonly > 
              </td>
            </tr>
                <input type="text"  name="action" class="form-control" id="id_action" readonly style="display:none;"> 
	</table>
        {% if "disabled" in replication_status %}
   	   <button type="submit" class="btn btn-primary" id="start">Start Replication</button>
        {% else %}
   	   <button type="submit" class="btn btn-info" id="update">Update Replication</button>
   	   <button type="submit" class="btn btn-danger" id="stop">Stop Replication</button>
	{% endif %}
</form>

{% endif %}
{%endblock%}
{%block help_header%}
View all ZFS pools
{%endblock%}
{%block help_body%}
  <p> This screen provides the list of all the ZFS pools that have been created on this IntegralStor system. To view details about a particular ZFS pool, please select the the desired pool from the list.</p>
{%endblock%}

{% block tab_active %}
  <script>
   make_tab_active("view_zfs_pools_tab")
   $(".btn").click(function(){
	  $("#id_action").val(this.id)
	})
  </script>
{% endblock %}

