{% extends 'logged_in_base.html' %}

{%block page-header%}
  Replace disk - results
    <br /><small>
      GRIDCells
      <i class="fa fa-angle-double-right smaller-80"></i>
      Replace disk
  </small>

 {%endblock%}
{%block contents%}
<!-- Modal -->
<div class="modal fade" id="processing" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" id="myModalBody">
        <br><br><br>
        <i class="fa fa-spinner fa-spin fa-4 blue"></i>
        <br><br><br>
        <p id="p-node-text">Processing.. Please wait.
        <br><br><br>
      </div>
    </div>
  </div>
</div>



  <p > The system has successfully replaced the disk with serial number {{old_serial_number}} with a new disk with serial number {{new_serial_number}} on GRIDCell {{node}}.</p><br>



{%endblock%}
{%block help_header%}
Replace a disk - results
{%endblock%}
{%block help_body%}
<p>The old disk has been successfully been replaced with the new disk. The internal RAID process will repopulate the appropriate data onto the new disk.</p>
{%endblock%}
