{% extends 'logged_in_base.html' %}


{%block page-header%}
  Volumes
  <br /><small>
      Volumes 
      <i class="fa fa-angle-double-right smaller-80"></i>
      Background operations -> Replace a GRIDCell 

  </small>
{%endblock%}


{%block contents%}
<script type="text/javascript">
function select(showid, hideid) {
  document.getElementById(hideid).style.display = 'none';
  document.getElementById(showid).style.display = 'block';
}
function load_node_info(hostname, str) {
  url='/show/node_info/' + encodeURIComponent(hostname);
  document.getElementById('myModalLabel').innerHTML = "GRIDCell information for " + str ;
  $('#myModalBody').load(url);
  $('#myModal').modal();
}
</script>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body" id="myModalBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% if not supress_error_messages %}
{% if form.src_node.errors %}
<span id="error-text"> Please select a GRIDCell to replace</span>
{%endif%}
{% if form.dest_node.errors %}
<span id="error-text"> Please select a replacement GRIDCell</span>
{%endif%}
{%endif%}

<form action="/replace_node/" method="post">

<div id="src_node" style="display:block;margin-top:5px;margin-left:auto;border:solid 0px;"> 

<p id="instruction-text"> Please select a GRIDCell to replace</id><br>

<table class="table table-bordered" style="width:300px">
<tr>
  <th>
    GRIDCell name
  </th>
  <th>
    Details
  </th>
  <th>
    Select a GRIDCell
  </th>
</tr>
{%for hostname in src_node_list %}
  <tr>
    <td>
      {{hostname}}
    </td>
    <td>
      <a href="#" role="button" class="btn active" onClick="load_node_info('{{hostname}}', '{{hostname}}');"> Details.. </a>
    </td>
    <td>
      <input type="radio"  value="{{ hostname }}" name="src_node">
    </td>
  </tr>
{%endfor%}
</table>
<button class="btn btn-default" onClick="select('dest_node', 'src_node'); return false;">Next >> </button>
</div>


<div id = "dest_node" style="display:None;margin-top:5px;margin-left:auto;border:solid 0px;"> 

<span id="p-instruction-text"> Please select a replacement GRIDCell</span>

<table class="table table-bordered" style="width:300px">
<tr>
  <th>
    GRIDCell name
  </th>
  <th>
    Details
  </th>
  <th>
    Select a GRIDCell
  </th>
</tr>
{%for hostname in dest_node_list %}
  <tr>
    <td>
      {{hostname}}
    </td>
    <td>
      <a href="#" role="button" class="btn active" onClick="load_node_info('{{hostname}}', '{{hostname}}');"> Details.. </a>
    </td>
    <td>
      <input type="radio"  value="{{ hostname }}" name="dest_node">
    </td>
  </tr>
{%endfor%}
</table>
        <button class="btn btn-default" onClick="select('src_node', 'dest_node'); return false;"><< Back  </button>
        <input class="btn btn-primary" type="submit" value="Replace">
</div>



</form>
{%endblock%}
{%block help_header%}
Replace a GRIDCell
{%endblock%}
{%block help_body%}
<p>A GRIDCell needs to be replaced when there is a need for planned maintanance. This replacement process involves the migration of data that is on the selected GRIDCell onto the replacement GRIDCell. This is a process that involves data movement and hence it will initiate a background process that will handle this data migration. This screen is prompting you to choose the GRIDCell to be replaced and the replacement GRIDCell.</p>
{%endblock%}
