{% extends 'logged_in_base.html' %}

{%block tab_items %}
  <li id="view_services_tab">
    <a href="/view_services/">View Services</a>
  </li>
  <li id="ntp_settings_tab">
    <a href="/view_ntp_settings/" >Configure NTP</a>
  </li>
  <li id="auth_server_settings_tab">
    <a href="/view_samba_server_settings/">Configure Windows access</a>
  </li>
  <li id="ftp_service_settings">
    <a href="/view_ftp_configuration/">Configure FTP access</a>
  </li>
{%endblock %}


{% block menu_active %}
<script>
   make_side_menu_active("services_menu")
</script>
{% endblock%}
