{% extends 'storage_base.html' %}
{%block tab_header %}
Modify the ownership/permissions on a dataset
{%endblock%}

{%block inside_content %}
<br><br>

{{conf_message}}


<form id="edit_form" name="edit_form" action="" method="post">
{% include 'permissions_form.html' %}
</form>

{%endblock%}
{%block help_header%}
Edit a directory ownership and permissions 
{%endblock%}
{%block help_body%}
<p>Use this screen to change the owner and/or permissions for a particular directory. The settings will take effect upon saving this information.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("view_zfs_pools_tab")
  </script>
{% endblock %}
