{% extends 'logged_in_base.html' %}

{%block tab_items %}
  <li id="view_cifs_shares_tab">
    <a href="/view_cifs_shares/" >Windows Shares</a>
  </li>
  <li id="view_nfs_shares_tab">
    <a href="/view_nfs_shares/">NFS Exports</a>
  </li>
  <li id="view_iscsi_targets_tab">
    <a href="/view_iscsi_targets/">ISCSI Targets</a>
  </li>
  <li id="view_rsync_shares_tab">
    <a href="/view_rsync_shares/">RSync shares</a>
  </li>
  <li id="dir_manager_tab">
    <a href="/view_dir_manager/">Directory manager</a>
  </li>
{%endblock tab_items %}

{% block menu_active %}
  <script>
    make_side_menu_active("shares_menu")
  </script>
{% endblock %}
