{% extends 'logged_in_base.html' %}

{% block contents %}
  <div class="nav-tabs-custom">
	<ul class="nav nav-tabs">
	  <li id="view_nfs_shares_tab"><a href="/view_nfs_shares/">NFS Shares</a></li>
    <li id="view_cifs_shares_tab"><a href="/view_cifs_shares/" >CIFS Share</a></li>
    <li id="view_iscsi_targets_tab"><a href="/view_iscsi_targets/" >ISCSI Targets</a></li>
    {% include 'help_and_refresh.html' %}
</ul>
	<div class="tab-content">
	  <div class="tab-pane active" id="content">
     {% block inside_content %}
      Information Not found. Please refresh the page
     {% endblock inside_content %}
    </div>
  </div>
  </div>

{% endblock%}
{% block menu_active %}
<script>
   make_side_menu_active("shares_menu")
</script>
{% endblock %}
