{% extends 'logged_in_base.html' %}

{%block tab_items %}
  <li id="node_info_tab">
    <a href="/view_system_info/">System information</a>
  </li>
  <li id="email_tab">
    <a href="/view_email_settings/">Email alerts</a>
  </li>
  {%if request.user.is_superuser%} 
    <li id="reboot_tab"><a href="/reboot_or_shutdown?do=reboot">Reboot</a> </li>
    <li id="shutdown_tab"><a href="/reboot_or_shutdown?do=shutdown">Shutdown</a> </li>
  <li id="shell_tab">
    <a href="/access_shell/">Shell access </a>
  </li>
  {%endif%}
{%endblock tab_items %}

{% block menu_active %}
  <script>
    make_side_menu_active("system_menu")
  </script>
{% endblock%}
