{% extends 'shares_base.html' %}

{% block tab_header%}
  Modify directory sticky bit settings
{% endblock tab_header %}

{% block inside_content %}
  <form action="" method="POST">
    {%csrf_token%}
    {{form.path}}
    <table class="table">
      <tr>
        <th> Change sticky bit for :</th>
        <td>
          {{form.path.value}}
        </td>
        <td> &nbsp </td>
      </tr>
      <tr>
        <th> 
          Sticky bit setting :
        </th>
        <td>
          {{form.sticky_bit_enabled}}
        </td>
        <td> {{ form.sticky_bit_enabled.errors }} </td>
      </tr>
      <tr>
        <th> 
          Apply setting to all subdirectories :
        </th>
        <td>
          {{form.recursive}}
        </td>
        <td> {{ form.recursive.errors }} </td>
      </tr>
    </table>
    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <a href="/view_dir_ownership_permissions?path={{form.path.value}}" role="button" class="btn btn-default"> Cancel</a>
      <button type="submit" class="btn btn-sm btn-primary pull-right">Apply settings</button>
    </div>
  </form>

{% endblock inside_content %}

{%block help_header%}
  Modify directory sticky bit settings
{%endblock%}

{%block help_body%}
  <p> This page enables you to modify the sticky bit of the chosen directory. If the sticky bit is enabled then only the owner of the directory is allowed to delete it.
Please ensure that this is actually intended before continuing.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("dir_manager_tab")
  </script>
{% endblock %}

