{% extends 'snapshot_replication_base.html' %}

{%block tab_header %}
  Remote replication
{%endblock%}

{%block global_actions %}
    <div class="btn-group btn-group-sm pull-right"  >
      <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-cog fa-fw"></i>&nbsp;Actions &nbsp;<span class="fa fa-caret-down" title="Toggle dropdown menu"></span> </a>
      <ul class="dropdown-menu">
        <li><a class="action-dropdown" href="/view_remote_replications/" ><i class="fa fa-list fa-fw"></i>&nbsp;Back to replications list</a></li>
      </ul>
    </div>
{%endblock%}

{% block inside_content %}

  <form class="form-horizontal" role="form" name="update_user_comment"  method="post">
    {%csrf_token%}
    {% if replication %} 
    <table  class="table " style="width:800px;table-layout:fixed;">
        <style>
          th {
              width:35%;
          }
        </style>

        <input type="hidden" name="remote_replication_id" value="{{replication.remote_replication_id}}">

        {% if replication.mode == 'zfs' %}

		<tr>
		  <th> Replicated dataset</th>
		  <td> 
		    {{replication.zfs.0.source_dataset}}
		  </td>
		</tr>
		<tr>
		  <th> Target IntegralSTOR IP</th>
		  <td> 
		    {{replication.zfs.0.target_ip}}
		  </td>
		</tr>
		<tr>
		  <th> Target IntegralSTOR pool name</th>
		  <td> 
		    {{replication.zfs.0.target_pool}}
		  </td>
		</tr>

        {% elif replication.mode == 'rsync' %}
		<tr>
		  <th> Source path</th>
		  <td> 
		    {{replication.rsync.0.source_path}}
		  </td>
		</tr>
		{% if replication.rsync.0.rsync_type != 'local' %}
		  {% if replication.rsync.0.rsync_type == 'push' %}
		    <tr>
		      <th> Source machine</th>
		      <td> 
		      Local host(this machine)
		      </td>
		    </tr>
		  {% elif replication.rsync.0.rsync_type == 'pull' %}
		    <tr>
		      <th> Source machine</th>
		      <td> 
		      {{replication.rsync.0.target_ip}}
		      </td>
		    </tr>
		  {% endif %}
		{% endif %}
		<tr>
		  <th> Target path</th>
		  <td> 
		    {{replication.rsync.0.target_path}}
		  </td>
		</tr>
		{% if replication.rsync.0.rsync_type != 'local' %}

		  {% if replication.rsync.0.rsync_type == 'pull' %}
		    <tr>
		      <th> Target machine</th>
		      <td> 
		      Local host(this machine)
		      </td>
		    </tr>
		  {% elif replication.rsync.0.rsync_type == 'push' %}
		    <tr>
		      <th> Target machine</th>
		      <td> 
		      {{replication.rsync.0.target_ip}}
		      </td>
		    </tr>
		  {% endif %}

		{% endif %}

		{% if replication.rsync.0.rsync_type == 'local' %}
		<tr>
		  <th> Source and target path are on local host(this machine)</th>
		  <td> 
		  </td>
		</tr>
		{% endif %}

		<tr>
                  <th> Rsync flags that were set </th>
                <td>
		{% if rsync_switches_description %}
                  <ul >
                    {% for k,v in rsync_switches_description.items %}
                    <li>
                        {{v.description}} {%if v.is_arg%} [{{v.arg_value}}] {%endif%}
                    </li>
                    {% endfor %}
                  </ul>
                {% else %}
                        None
		{% endif %}
                </td>
                </tr>


		<tr>
                  <th> Between IntegralSTOR units? </th>
                  <td>
                    {% if replication.rsync.0.is_between_integralstor == 'True' %}
                    Yes
                    {% else %}
                    No
                    {% endif %}
                  </td>
		</tr>
        {%endif%}

        <tr>
          <th> Replication run schedule</th>
          <td> {{replication.schedule_description}} </td>
        </tr>
        <tr>
          <th> Replication pause schedule</th>
          <td> {{replication.pause_schedule_description}} </td>
        </tr>

        <tr>
          <th> One time replication? </th>
          <td>
            {% if replication.is_one_shot == 'True' %}
            Yes
            {% else %}
            No
            {% endif %}
          </td>
        </tr>

        <tr>
          <th> Existing comment</th>
          <td style="word-wrap:break-word;"> {{replication.user_comment}} </td>
        </tr>

        <tr>
        <td />
        </tr>

        <tr>
        <th> New comment</th>
        <td>
          <input type="text" name="user_comment" class="form-control" id="id_user_comment" placeholder="Specify the desired comment/description">
        </td>
        </tr>

    </table>

    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <a href="/view_remote_replications" role="button" class="btn btn-default"> Cancel</a>
      <button type="submit" class="btn btn-primary" id="start">Update</button>
    </div>

    {% else %}
      Could not find what you are looking for!
    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <a href="/view_remote_replications" role="button" class="btn btn-default"> Cancel</a>
    </div>

    {%endif%}

  </form>

{%endblock%}

{%block help_header%}
  Update user comment for this remote replication schedule.
{%endblock%}

{%block help_body%}
{%endblock%}

{% block tab_active %}
  <script>
   make_tab_active("view_remote_replications_tab")
  </script>
{% endblock %}

