{% extends 'shares_base.html' %}

{% block tab_header%}
  Modify directory ownership
{% endblock tab_header %}

{% block inside_content %}
  <form action="" method="POST">
    {%csrf_token%}
    {{form.path}}
    {{form.user_name}}
    {{form.group_name}}
    <table class="table">
      <tr>
        <th> Change ownership for :</th>
        <td>
          {{form.path.value}}
        </td>
        <td> &nbsp </td>
      </tr>
      <tr>
        <th> 
          Select owner (user) <br> (Current owner user is {{form.user_name.value}})
        </th>
        <td>
          <select name="uid" class="form-control">
            {% for choice in form.uid.field.choices %} 
              <option value="{{choice.0}}" {%if form.initial.uid == choice.0%} selected="selected" {%endif%}>{{choice.1}}</option>
            {%endfor%}
          </select>
        </td>
        <td> {{ form.uid.errors }} </td>
      </tr>
      <tr>
        <th> Select owner group <br/> (Current owner group is {{form.group_name.value}}</th>
        <td>
          <select name="gid" class="form-control">
            {% for choice in form.gid.field.choices %} 
              <option value="{{choice.0}}" {%if form.initial.gid == choice.0%} selected="selected" {%endif%}>{{choice.1}}</option>
            {%endfor%}
          </select>
        </td>
        <td> {{ form.gid.errors }} </td>
      </tr>
    </table>
    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <a href="/view_dir_ownership_permissions?path={{form.path.value}}" role="button" class="btn btn-default"> Cancel</a>
      <button type="submit" class="btn btn-sm btn-primary pull-right">Change ownership</button>
    </div>
  </form>

{% endblock inside_content %}

{%block help_header%}
  Modify directory ownership
{%endblock%}

{%block help_body%}
  <p> This page enables you to modify the owner user and owner group of the chosen directory. You may need to do this to enable/disable permissions to a set of users. This may cause some access issues for this directory. Please ensure that this is actually intended before continuing.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("dir_manager_tab")
  </script>
{% endblock %}

