{% extends 'storage_base.html' %}

{%block tab_header %}
  Set ZFS quota 
{%endblock%}

{%block inside_content %}

  <form class="form-horizontal" role="form" name="create_form" action="" method="post">
    {%csrf_token%}
    {{form.ug_type}}
    {{form.path}}
    <input type="hidden" name="path_type" value="{{path_type}}">
    <input type="hidden" name="pool_name" value="{{pool_name}}">

    <table  class="table">
      <tr>
        <th> Set quota for :</th>
        <td> {{form.path.value}} </td>
        <td> &nbsp; </td>
      </tr>
      <tr>
        <th> Select {%if ug_type == 'user'%} user {%else%}group{%endif%} :</th>
        <td>
          <select name="ug_name" class="form-control">
            {% for choice in form.ug_name.field.choices %}
              <option value="{{choice.0}}" {%if choice.0 == form.initial.ug_name %} selected="selected"{%endif%} onclick="option_selected(this)">{{choice.1}}</option>
            {%endfor%}
          </select> 
        </td>
        <td> {{ form.ug_name.errors }} </td>
      </tr>
      <tr>
        <th> Quota size :</th>
        <td>
          <input type="text"  name="size" class="form-control" id="id_size" placeholder="Enter the size of the quota" />
          <select id="id_unit" name="unit" class="form-control" >
            {% for choice in form.unit.field.choices %}
              <option value="{{choice.0}}" {%if choice.0 == form.initial.unit %} selected{%endif%} >{{choice.0}}</option>
            {%endfor%}
          </select>
        </td>
        <td> {{ form.size.errors }} </td>
      </tr>
    </table>
    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      {% if path_type == 'pool' %}
        <a href="/view_zfs_pool?name={{form.path.value}}&view=quotas" role="button" class="btn btn-default cover-page"> Cancel</a>&nbsp;&nbsp;
      {%else%}
        <a href="/view_zfs_dataset?name={{form.path.value}}" role="button" class="btn btn-default"> Cancel</a>&nbsp;&nbsp;
      {%endif%}
      <button type="submit" class="btn btn-primary" > Set </button>
    </div>
  </form>

{%endblock%}

{%block help_header%}
  Set ZFS quota
{%endblock%}

{%block help_body%}
  Use this page to set the a quota on a ZFS pool or dataset
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("view_zfs_pools_tab")
  </script>
{% endblock %}
