{% extends 'key_management_base.html' %}

{% block tab_header %}
  Upload user's SSH public key to {{selected_user}}
{% endblock  %}

{% block inside_content %}
<table class="table" style="width:800px">
  <form action="/upload_ssh_user_key" method="POST" enctype="multipart/form-data" class="form-horizontal">
       <tr>
        <th> Select User :</th>
         <td>
          <select name="user" id="id_user" class="form-control">
           {% for user in users %}
            <option value="{{user.username}}" {% if user.username == selected_user%} selected="selected" {% endif %}>{{user.username}}</option>
           {%endfor%}
          </select>
         </td>
       </tr>
       <tr>
         <th><label for="upload_file">{{selected_user}} user's SSH public key:</label></th>
	  <td>
            <input id="upload_file" type="file" name="pub_key" class="fileinput">
	  </td>
       </tr>
       <tr>
	<th>
	 <input type="submit" class="btn btn-primary btn-sm" value="Upload key">
	</th>
       </tr>
  </form>
</table>
<table class="table">
  <thead>
    <tr>
      <td> Key </td>
      <td> Delete </td>
    </tr>
  </thead>
  <tbody>
    {% for key in authorized_keys %}    
      <form action="/upload_ssh_user_key/" method="POST" class="form-horizontal">      
        <tr>
          <td >
            <input type="text" value="{{selected_user}}" name="selected_user" readonly class="form-control" style="display:none"/>
            <input type="text" value="{{key}}" name="authorized_key" readonly class="form-control" style="display:none"/>
            <textarea cols=100 rows=4 readonly> {{key}} </textarea>
          </td>
          <td><button class="btn btn-danger">Remove Access </button></td>
        </tr>
      </form>
    {% endfor %}
  </tbody>
</table>
      <script>

  	document.getElementById("id_user").onchange = function () {
    	var user = $("#id_user").val()
    	location.href = "/upload_ssh_user_keys/?user="+user
  	}
      </script>
{% endblock %}

{% block tab_active %}
  <script>
   make_tab_active("upload_ssh_user_key_tab")
  </script>
{% endblock %}
