{% extends 'key_management_base.html' %}

{% block tab_header %}
  Upload hosts's SSH public key to {{selected_user}}
{% endblock  %}

{% block inside_content %}
  <form action="/upload_ssh_host_key" method="POST" enctype="multipart/form-data" class="form-horizontal">
    <table class="table" style="width:800px">
      <tr>
        <th> Select User :</th>
        <td>
          <input type="text" class="form-control" name="user" value="{{selected_user}}" readonly />
        </td>
      </tr>
      <tr>
        <th><label for="upload_file">IP address of host</label></th>
        <td>
          <input id="ip" type="text" name="ip" class="form-control">
        </td> 
      </tr>
      <tr> 
      <th><label for="upload_file">Browse to select the key file</label></th>
        <td>
          <input id="upload_file"  type="file" name="pub_key" class="fileinput"/ style="border:0px" >
        </td>
      </tr> 
    </table>
    <button type="submit" class="btn btn-default cover-page"><i class="fa fa-upload fa-fw"></i>&nbsp;Upload</button>
  </form>

  <script>
  	document.getElementById("id_user").onchange = function () {
    	var user = $("#id_user").val()
    	location.href = "/upload_ssh_host_keys/?user="+user
  	}
  </script>
{% endblock %}

{% block tab_active %}
  <script>
   make_tab_active("download_ssh_keys_tab")
  </script>
{% endblock %}

