{% extends 'storage_base.html' %}

{%block tab_header %}
  System disks information
{%endblock%}

{% block inside_content %}

  {%if hw_platform%}
    {%if hw_platform == 'dell' and idrac_url %}
      <div class="row" style="width:98%;margin:0 auto">
        <a href="{{idrac_url}}" target=_new> <h5>Click here to view detailed hardware status</h5></a>
      </div>
    {%endif%}
  {%endif%}

  <h4> Data disks (rotating) </h4>
  <table class="table table-striped table-responsive" style="width:800px">
    <tr>
      <th > Disk serial number </th>
      <th > Disk details</th>
      <th> S.M.A.R.T status </th>
      <th> Disk replacement </th>
      {%if hw_platform%}
        {%if hw_platform == 'dell' and idrac_url %}
          <th> Disk identification</th>
        {%endif%}
      {%endif%}
    </tr>
    {%for sn, disk in disk_status.items %}
      {%if not disk.os_device  and disk.rotational%}
        <tr>
          <td> {{sn}}  (Data disk) </td>
          <td> Capacity : {{disk.capacity}}
                <br>
                Number of partitions : {{disk.partitions|length}}
                <br>
                SCSI bus address : {{disk.scsi_info}}
                <br>
                Name : {{disk.name}}
                <br>
                ID : {{disk.id}}
          </td>
          <td>
            {{disk.status}} &nbsp;&nbsp;
            {%if disk.status == 'PASSED' or disk.status == 'OK'%}
              <i class="fa fa-check-circle green fa-2x"></i>
            {%else%}
              <i class="fa fa-remove red fa-2x"></i>
            {%endif%}
          </td>
          <td> 
            {%if disk.status != 'PASSED' and disk.status != 'OK'%}
              {%if disk.pool%}
                <form method="POST" action="/replace_disk/">
                  {%csrf_token%}
                  <input type="hidden" name="node" value="{{node_name}}">
                  <input type="hidden" name="serial_number" value="{{sn}}">
                  <input type="hidden" name="step" value="offline_disk">
                  <button type="submit" class="btn btn-primary btn-xs" onClick ="$('#processing').modal('show');" title="Replace this disk with another"> <i class="fa fa-exchange fa-fw" ></i>&nbsp;Replace disk </button>
                </form>
              {%else%}
                <button  class="btn btn-primary btn-xs" onClick ="alert('This disk is not part of any ZFS pool so you can go ahead and replace it safely');"> <i class="fa fa-exchange fa-fw" ></i>&nbsp;Replace disk </button>
              {%endif%}
            {%else%}
              Healthy disk. <br>No replacement necessary.
            {%endif%}
          </td>
          {%if hw_platform%}
            {%if hw_platform == 'dell' and idrac_url %}
              <td>
                <div class="btn-group btn-group-xs pull-right" >
                  <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#" title="Click for disk specific actions"> <i class="fa fa-cog fa-fw"></i>Actions&nbsp;<span class="fa fa-caret-down" title="Toggle dropdown menu"></span> </a>
                  <ul class="dropdown-menu">
                    <li><a  class="action-dropdown" href="/identify_disk?action=blink&disk_type=data&hw_platform=dell&controller_number={{disk.controller_number}}&target_id={{disk.target_id}}&channel={{disk.channel}}&enclosure_id={{disk.enclosure_id}}"  title="Select to physically identify this disk" > <i class="fa fa-lightbulb-o fa-fw"></i>Blink disk LED</a> 
                    <li><a  class="action-dropdown" href="/identify_disk?action=unblink&disk_type=data&hw_platform=dell&controller_number={{disk.controller_number}}&target_id={{disk.target_id}}&channel={{disk.channel}}&enclosure_id={{disk.enclosure_id}}"  title="Select to turn off disk identification LED" > <i class="fa fa-remove fa-fw"></i>Turn off disk LED</a> 
                  </ul>
                </div>
              </td>
            {%endif%}
          {%endif%}
        </tr>
      {%endif%}
    {%endfor%}
  </table>
  <hr/>
  <h4> Data disks (Flash)</h4>
  <table class="table table-striped table-responsive" style="width:800px">
    <tr>
      <th > Disk serial number </th>
      <th > Disk details</th>
      <th> S.M.A.R.T status </th>
      <th> Disk replacement </th>
      {%if hw_platform%}
        {%if hw_platform == 'dell' and idrac_url %}
          <th> Disk identification</th>
        {%endif%}
      {%endif%}
          
    </tr>
    {%for sn, disk in disk_status.items %}
      {%if not disk.os_device  and not disk.rotational%}
        <tr>
          <td> {{sn}}  (Data disk) </td>
          <td> Capacity : {{disk.capacity}}
                <br>
                {%if disk.rotational %}
                  Type : Rotational
                {%else%}
                  Type : SSD
                {%endif%}
                <br>
                Number of partitions : {{disk.partitions|length}}
                <br>
                SCSI bus address : {{disk.scsi_info}}
                <br>
                Name : {{disk.name}}
                <br>
                ID : {{disk.id}}
          </td>
          <td>
            {{disk.status}} &nbsp;&nbsp;
            {%if disk.status == 'PASSED' or disk.status == 'OK'%}
              <i class="fa fa-check-circle green fa-2x"></i>
            {%else%}
              <i class="fa fa-remove red fa-2x"></i>
            {%endif%}
          </td>
          <td> 
            {%if disk.status != 'PASSED' and disk.status != 'OK'%}
              {%if disk.pool%}
                <form method="POST" action="/replace_disk/">
                  {%csrf_token%}
                  <input type="hidden" name="node" value="{{node_name}}">
                  <input type="hidden" name="serial_number" value="{{sn}}">
                  <input type="hidden" name="step" value="offline_disk">
                  <button type="submit" class="btn btn-primary btn-xs" onClick ="$('#processing').modal('show');" title="Replace this disk with another"> <i class="fa fa-exchange fa-fw" ></i>&nbsp;Replace disk </button>
                </form>
              {%else%}
                <button  class="btn btn-primary btn-xs" onClick ="alert('This disk is not part of any ZFS pool so you can go ahead and replace it safely');"> <i class="fa fa-exchange fa-fw" ></i>&nbsp;Replace disk </button>
              {%endif%}
            {%else%}
              Healthy disk. <br>No replacement necessary.
            {%endif%}
          </td>
          {%if hw_platform%}
            {%if hw_platform == 'dell' and idrac_url %}
              <td>
                <div class="btn-group btn-group-xs pull-right" >
                  <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#" title="Click for disk specific actions"> <i class="fa fa-cog fa-fw"></i>Actions&nbsp;<span class="fa fa-caret-down" title="Toggle dropdown menu"></span> </a>
                  <ul class="dropdown-menu">
                    <li><a  class="action-dropdown" href="/identify_disk?action=blink&disk_type=data&hw_platform=dell&controller=0&target_id={{disk.target_id}}&channel={{disk.channel}}&enclosure_id={{disk.enclosure_id}}"  title="Select to physically identify this disk" > <i class="fa fa-lightbulb-o fa-fw"></i>Blink disk LED</a> 
                    <li><a  class="action-dropdown" href="/identify_disk?action=unblink&disk_type=data&hw_platform=dell&controller=0&target_id={{disk.target_id}}&channel={{disk.channel}}&enclosure_id={{disk.enclosure_id}}"  title="Select to turn off disk identification LED" > <i class="fa fa-remove fa-fw"></i>Turn off disk LED</a> 
                  </ul>
                </div>
              </td>
            {%endif%}
          {%endif%}
        </tr>
      {%endif%}
    {%endfor%}
  </table>
  <hr/>

{% endblock %}

{%block help_header%}
  View disk status
{%endblock%}

{%block help_body%}
  <p> 
  This screen displays the status of all the data disks in the system. The information includes the S.M.A.R.T information and the disk position in the chassis. If there is an issue with a disk, then a button next to the disk will give you the option of replacing the disk. Clicking on this button will take you through a wizard for the disk replacement process.
  </p>
{%endblock%}


{% block tab_active %}
  <script>
    make_tab_active("view_data_disks_tab")
  </script>
{% endblock%}
