{% extends 'storage_base.html' %}
{%block tab_header %}
ZFS pools
{%endblock%}

{% block inside_content %}
<br><br>

{% if conf %}
<p class="text-green"><i>{{conf}}</i></p>
{%endif%}

{% if not pool_list %}
<p>No ZFS storage pools appear to have been created. </p>
{%else %}
<div style="width:95%;position: relative; margin: 5px 0px; padding: 9px 9px 4px; background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-radius: 4px 4px 4px 4px;">
{%for d in pool_list %}
<table  class="table table-bordered">
<tr>
<th >
Pool name
</th>
<th>
Datasets in pool
</th>
<th>
Block device volumes in pool
</th>
<th>
Details
</th>
</tr>
<tr>
<td>
{{d.pool_name}}
</td>
<td>
{%if d.datasets%}
<ul>
{%for ds in d.datasets %}
{%if ds.properties.type.value == 'filesystem'%}
<li>{{ds.name}}
{%endif%}
{%endfor%}
</ul>
{%else%}
No datasets in this pool
{%endif%}
</td>
<td>
{%if d.datasets%}
<ul>
{%for ds in d.datasets %}
{%if ds.properties.type.value == 'volume'%}
<li>{{ds.name}}
{%endif%}
{%endfor%}
</ul>
{%else%}
No block device volumes in this pool
{%endif%}
</td>
<td>
<a href="/view_zfs_pool?name={{d.pool_name}}" role="button" class="btn btn-info"> View pool details</a>
</td>
</tr>
</table>
{%endfor%}
{%endif%}
<a href="/create_zfs_pool" role="button" class="btn btn-primary"> Create a new pool</a> &nbsp;&nbsp;
{% if not pool_list %}
<a href="/import_zfs_pool_from_disks" role="button" class="btn btn-primary"> Recover pool(s) from data disks</a> &nbsp;&nbsp;
{%endif%}
</div>
<p>

{%endblock%}
{%block help_header%}
View all ZFS pools
{%endblock%}
{%block help_body%}
  <p> This screen provides the list of all the ZFS pools that have been created on this IntegralStor system. To view details about a particular ZFS pool, please select the the desired pool from the list. If your boot drive has been rebuilt from scratch and you still have your ZFS pools on the data drives, then you can use the "Recover pools from disks" button to try and recover the ZFS pools directly from the data drives.</p>
{%endblock%}
