{% extends 'dashboard_base.html' %}
{%block tab_header %}
ZFS pools status
{%endblock%}
{% block inside_content %}
<br><br>
{%if not pools %}
No storage pools created
{%else%}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<div class="box-group" id="accordion">
   {%for pool in pools %}
                    <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                    <div class="panel box {%if pool.config.pool.root.status.state == 'ONLINE' %} box-success {%else%} box-danger{%endif%}">
                      <div class="box-header with-border">
                        <h4 class="box-title">
                          <a class="" aria-expanded="true" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Pool : {{pool.pool_name}}, State : {{pool.config.pool.root.status.state}} (Click for more details..)
                          </a> 
                        </h4>
                      </div>
                      <div style="" aria-expanded="true" id="collapseOne" class="panel-collapse collapse">
                        <div class="box-body">


      <h3> Pool name : {{pool.pool_name}} </h3>
      <table class="table table-bordered table-hover table-responsive" style="width:800px">
      <thead>
        <th >
        Pool type
        </th>
        <th>
          Status details
        </th>
        <th>
          Errors
        </th>
        <th>
          Scan status
        </th>
      </thead>
      <tr>
        <td>
          {{pool.config.pool.type}}
        </td>
        <td>
          {{pool.config.pool.root.status.read}} read errors, <br>{{pool.config.pool.root.status.write}} write errors, <br>{{pool.config.pool.root.status.read}} checksum errors 
        </td>
        <td>
          {{pool.errors}}
        </td>
        <td>
          {{pool.scan}}
        </td>
      </tr>
      </table>
      <h4>Component status :</h4>
      <h5>Pool status</h5>
      <ul>
        <li> Pool Status - State ({{pool.config.pool.root.status.state}}), Read ({{pool.config.pool.root.status.read}}), Write ({{pool.config.pool.root.status.write}}), Checksum ({{pool.config.pool.root.status.chksum}})
            {%if pool.config.pool.root.status.state == 'ONLINE'%}
              <i class="fa fa-check-circle green fa-2x"></i>	
            {%else%}
              <i class="fa fa-remove red fa-2x"></i>	
            {%endif%}
          <ul>
            
            {%for child in pool.config.pool.root.children %}
            <li> Name - {{child.name}}, Type - {{child.type}}, Status - State ({{child.status.state}}), Read ({{child.status.read}}), Write ({{child.status.write}}), Chksum ({{child.status.chksum}})
            {%if child.status.state == 'ONLINE'%}
              <i class="fa fa-check-circle green fa-2x"></i>	
            {%else%}
              <i class="fa fa-remove red fa-2x"></i>	
            {%endif%}
              {%if child.children %}
              <ul>
                {%for gr_child in child.children %}
                  <li> Name - {{gr_child.name}}, Type - {{gr_child.type}}, Status - State ({{gr_child.status.state}}), Read ({{gr_child.status.read}}), Write ({{gr_child.status.write}}), Chksum ({{gr_child.status.chksum}})
                  {%if gr_child.status.state == 'ONLINE'%}
                    <i class="fa fa-check-circle green fa-2x"></i>	
                  {%else%}
                    <i class="fa fa-remove red fa-2x"></i>	
                  {%endif%}
                  {%if gr_child.children %}
                  <ul>
                    {%for gr_gr_child in gr_child.children %}
                      <li> Name - {{gr_gr_child.name}}, Type - {{gr_gr_child.type}}, Status - State ({{gr_gr_child.status.state}}), Read ({{gr_gr_child.status.read}}), Write ({{gr_gr_child.status.write}}), Chksum ({{gr_gr_child.status.chksum}})
                      {%if gr_gr_child.status.state == 'ONLINE'%}
                        <i class="fa fa-check-circle green fa-2x"></i>	
                      {%else%}
                        <i class="fa fa-remove red fa-2x"></i>	
                      {%endif%}
            
                    {%endfor%}
                  </ul>
                  {%endif%}
                {%endfor%}
              </ul>
              {%endif%}
            {%endfor%}
          </ul>
      </ul>

      <h5>Write cache status</h5>

      {% if pool.config.logs %}
        <ul>
        {%if pool.config.logs.root.status %}
        <li>  Write cache Status - State ({{pool.config.logs.root.status.state}}), Read ({{pool.config.logs.root.status.read}}), Write ({{pool.config.logs.root.status.write}}), Checksum ({{pool.config.logs.root.status.chksum}})
            {%if pool.config.logs.root.status.state == 'ONLINE'%}
              <i class="fa fa-check-circle green fa-2x"></i>	
            {%else%}
              <i class="fa fa-remove red fa-2x"></i>	
            {%endif%}
          <ul>
        {%endif%}
            
            {%for child in pool.config.logs.root.children %}
            <li> Name - {{child.name}}, Type - {{child.type}}, Status - State ({{child.status.state}}), Read ({{child.status.read}}), Write ({{child.status.write}}), Chksum ({{child.status.chksum}})
            {%if child.status.state == 'ONLINE'%}
              <i class="fa fa-check-circle green fa-2x"></i>	
            {%else%}
              <i class="fa fa-remove red fa-2x"></i>	
            {%endif%}
              {%if child.children %}
              <ul>
                {%for gr_child in child.children %}
                  <li> Name - {{gr_child.name}}, Type - {{gr_child.type}}, Status - State ({{gr_child.status.state}}), Read ({{gr_child.status.read}}), Write ({{gr_child.status.write}}), Chksum ({{gr_child.status.chksum}})
                  {%if gr_child.status.state == 'ONLINE'%}
                    <i class="fa fa-check-circle green fa-2x"></i>	
                  {%else%}
                    <i class="fa fa-remove red fa-2x"></i>	
                  {%endif%}
                  {%if gr_child.children %}
                  <ul>
                    {%for gr_gr_child in gr_child.children %}
                      <li> Name - {{gr_gr_child.name}}, Type - {{gr_gr_child.type}}, Status - State ({{gr_gr_child.status.state}}), Read ({{gr_gr_child.status.read}}), Write ({{gr_gr_child.status.write}}), Chksum ({{gr_gr_child.status.chksum}})
                      {%if gr_gr_child.status.state == 'ONLINE'%}
                        <i class="fa fa-check-circle green fa-2x"></i>	
                      {%else%}
                        <i class="fa fa-remove red fa-2x"></i>	
                      {%endif%}
            
                    {%endfor%}
                  </ul>
                  {%endif%}
                {%endfor%}
              </ul>
              {%endif%}
            {%endfor%}
        {%if pool.config.logs.root.status %}
          </ul>
        {%endif%}
      </ul>
      {%endif%}
                        </div>
                      </div>
                    </div>
    {%endfor%}
  </div>


{%endif%}


{% endblock %}

{% block tab_active %}
<script>
   make_tab_active("pools_tab")
</script>
{% endblock%}
