{% extends 'backup_base.html' %}

{%block tab_header %}
  Data backup
{%endblock%}

{% block inside_content %}

  <iframe width="100%" frameBorder="0" height="800px" src="http://{{url}}"></iframe>
  Open in a new tab/window : <a href="http://{{url}}" target=_new">http://{{url}}</a>

{% endblock %}

{%block help_header%}
View disk status
{%endblock%}

{%block help_body%}
  <p> 
  This screen displays the status of all the disks in the system. The information includes the S.M.A.R.T information and the disk position in the chassis. If there is an issue with a disk, then a button next to the disk will give you the option of replacing the disk. Clicking on this button will take you through a wizard for the disk replacement process.
  </p>
{%endblock%}

{% block tab_active %}
  <script>
   make_tab_active("view_backup_tab")
  </script>
{% endblock%}
