{% extends 'storage_base.html' %}

{%block inside_content %}

{% if conf %}
<p><i>{{conf}}</i></p>
{%endif%}

{% if not pool %}
No information for the specified pool. Click <a href="/view_zfs_pools/"> here</a> to view all ZFS storage pools.
{%else %}
<div style="width:95%;position: relative; margin: 5px 0px; padding: 9px 9px 4px; background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-radius: 4px 4px 4px 4px;">
<table class="table table-bordered table-responsive" style="width:800px">
<tr>
<td colspan=3><h3>Pool name - {{pool.pool_name}}</h3></td>
</tr>
<tr>
<td><a href="/delete_zfs_pool?name={{pool.pool_name}}" role="button" class="btn btn-danger"> Delete this pool</a></td>
<td><a href="/set_file_owner_and_permissions?path={{pool.properties.mountpoint.value}}" role="button" class="btn btn-info"> Change ownership and permissions</a></td>
<td><a href="/scrub_zfs_pool?name={{pool.pool_name}}" role="button" class="btn btn-info">Initiate a scrub</a></td>
</tr>
</table>
<h4> Pool information </h4>
<table class="table table-bordered table-hover table-responsive" style="width:800px">
<tr><th> Pool state </th> <td>{{pool.state}}<td></tr>
<tr><th> Pool errors </th> <td>{{pool.errors}}<td></tr>
<tr> <th> Pool scan </th> <td>{{pool.scan}}<td></tr>
</table>
<b> Pool components</b>
<ul>
  {%for child in pool.config.pool.root.children %}
  <li> Name - {{child.name}}, Type - {{child.type}}, Status - State ({{child.status.state}}), Read ({{child.status.read}}), Write ({{child.status.write}}), Chksum ({{child.status.chksum}})
    {%if child.children %}
    <ul>
      {%for gr_child in child.children %}
        <li> Name - {{gr_child.name}}, Type - {{gr_child.type}}, Status - State ({{gr_child.status.state}}), Read ({{gr_child.status.read}}), Write ({{gr_child.status.write}}), Chksum ({{gr_child.status.chksum}})
        {%if gr_child.children %}
        <ul>
          {%for gr_gr_child in gr_child.children %}
            <li> Name - {{gr_gr_child.name}}, Type - {{gr_gr_child.type}}, Status - State ({{gr_gr_child.status.state}}), Read ({{gr_gr_child.status.read}}), Write ({{gr_gr_child.status.write}}), Chksum ({{gr_gr_child.status.chksum}})
  
          {%endfor%}
        </ul>
        {%endif%}
      {%endfor%}
    </ul>
    {%endif%}
  {%endfor%}
</ul>

<hr>
<h4> Write cache information </h4>
{% if pool.config.logs %}
  <b> Write cache components</b>
  <ul>
    {%for child in pool.config.logs.root.children %}
    <li> Name - {{child.name}}, Type - {{child.type}}
      {%if child.type == 'RAMDisk' and child.ramdisk_size %}, RAM Disk size - {{child.ramdisk_size}}MB {%endif%}
    , Status - State ({{child.status.state}}), Read ({{child.status.read}}), Write ({{child.status.write}}), Chksum ({{child.status.chksum}})
      {%if child.children %}
      <ul>
        {%for gr_child in child.children %}
          <li> Name - {{gr_child.name}}, Type - {{gr_child.type}}, Status - State ({{gr_child.status.state}}), Read ({{gr_child.status.read}}), Write ({{gr_child.status.write}}), Chksum ({{gr_child.status.chksum}})
          {%if gr_child.children %}
          <ul>
            {%for gr_gr_child in gr_child.children %}
              <li> Name - {{gr_gr_child.name}}, Type - {{gr_gr_child.type}}, Status - State ({{gr_gr_child.status.state}}), Read ({{gr_gr_child.status.read}}), Write ({{gr_gr_child.status.write}}), Chksum ({{gr_gr_child.status.chksum}})
    
            {%endfor%}
          </ul>
          {%endif%}
        {%endfor%}
      </ul>
      {%endif%}
    {%endfor%}
  </ul>
  {% if pool.config.logs.root.children.0.type == 'RAMDisk' %}
  <a href="/remove_zfs_slog?pool={{pool.pool_name}}&device={{pool.config.logs.root.children.0.name}}" role="button" class="btn btn-default"> Remove the write cache RAM Disk device..</a>
  {%endif%}
{%else%}
<b>Write cache in use : </b> Disk<br>
<a href="/set_zfs_slog?pool={{pool.pool_name}}" role="button" class="btn btn-default"> Change the write cache device..</a>
{%endif%}

<hr>
<h4> Read cache information </h4>
{% if pool.config.cache %}
  <b> Read cache components</b>
  <ul>
    {%for child in pool.config.cache.root.children %}
    <li> Name - {{child.name}}, Type - {{child.type}}, Status - State ({{child.status.state}}), Read ({{child.status.read}}), Write ({{child.status.write}}), Chksum ({{child.status.chksum}})
      {%if child.children %}
      <ul>
        {%for gr_child in child.children %}
          <li> Name - {{gr_child.name}}, Type - {{gr_child.type}}, Status - State ({{gr_child.status.state}}), Read ({{gr_child.status.read}}), Write ({{gr_child.status.write}}), Chksum ({{gr_child.status.chksum}})
          {%if gr_child.children %}
          <ul>
            {%for gr_gr_child in gr_child.children %}
              <li> Name - {{gr_gr_child.name}}, Type - {{gr_gr_child.type}}, Status - State ({{gr_gr_child.status.state}}), Read ({{gr_gr_child.status.read}}), Write ({{gr_gr_child.status.write}}), Chksum ({{gr_gr_child.status.chksum}})
    
            {%endfor%}
          </ul>
          {%endif%}
        {%endfor%}
      </ul>
      {%endif%}
    {%endfor%}
  </ul>
{%else%}
<b>Read cache in use : </b> RAM<br>
{%endif%}

<hr>
<h4> Filesystem datasets </h4>
{% if pool.datasets %}
<table  class="table table-bordered">
<tr>
<th colspan=3> Filesystem datasets in this pool</th>
<th> <a href="/create_zfs_dataset?pool={{pool.pool_name}}&parent={{pool.pool_name}}" role="button" class="btn btn-default"> Create a new filesystem dataset</a></th>
</tr>
<tr>
<th> Name</th>
<th> Space used</th>
<th> Snapshots</th>
<th> &nbsp;</th>
</tr>
{%for ds in pool.datasets%}
{% if ds.properties.type.value == 'filesystem'%}
<tr>
<td>{{ds.name}}</td>
<td>{{ds.used}}</td> 
<td>{%if 'snapshots' in ds%} <ul> {%for sn in ds.snapshots%}<li>{{sn.snapshot_name}},{%endfor%}</ul>{%else%} &nbsp;{%endif%}</td>
<td><a href="/view_zfs_dataset?name={{ds.name}}" role="button" class="btn btn-default"> Details</a></td> 
</tr>
{%endif%}
{%endfor%}
</table>
{%else%}
<p> No filesystem datasets created </p>
<a href="/create_zfs_dataset?pool={{pool.pool_name}}&parent={{pool.pool_name}}" role="button" class="btn btn-default"> Create a filesystem dataset</a>
{%endif%}
<hr>
<h4> Block device volumes </h4>
{% if pool.datasets %}
<table  class="table table-bordered">
<tr>
<th colspan=3> Block device volumes in this pool</th>
<th> <a href="/create_zfs_zvol?pool={{pool.pool_name}}" role="button" class="btn btn-default"> Create a new block device volume</a></th>
</tr>
<tr>
<th> Name</th>
<th> Space used</th>
<th> Snapshots</th>
<th> &nbsp;</th>
</tr>
{%for ds in pool.datasets%}
{% if ds.properties.type.value == 'volume'%}
<tr>
<td>{{ds.name}}</td>
<td>{{ds.used}}</td> 
<td>{%if 'snapshots' in ds%} <ul> {%for sn in ds.snapshots%}<li>{{sn.snapshot_name}},{%endfor%}</ul>{%else%} &nbsp;{%endif%}</td>
<td><a href="/view_zfs_zvol?name={{ds.name}}" role="button" class="btn btn-default"> Details</a></td> 
</tr>
{%endif%}
{%endfor%}
</table>
{%else%}
<p> No block device volumes created </p>
<a href="/create_zfs_zvol?pool={{pool.pool_name}}" role="button" class="btn btn-default"> Create a new block device volume</a>
{%endif%}
<hr>
<h4> Pool snapshots </h4>
{% if not snap_list %}
<p>No ZFS snapshots appear to have been created for this pool. </p>
<a href="/create_zfs_snapshot?target={{pool.pool_name}}" role="button" class="btn btn-default">Create a pool snapshot </a>

{%else %}
<div style="width:95%;position: relative; margin: 5px 0px; padding: 9px 9px 4px; background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-radius: 4px 4px 4px 4px;">
<table  class="table table-bordered">
<tr>
<th >
Snapshot name
</th>
<th>
Target name
</th>
<th>
Target type
</th>
<th>
Created on 
</th>
<th >
Space consumed by snapshot
</th>
<th >
Space consumed by target
</th>
<th>
Destroy Snapshot
</th>
<th>
Rollback to snapshot
</th>
<th>
Rename this snapshot
</th>
</tr>
{%for d in snap_list %}
<tr>
<td>
{{d.snapshot_name}}
</td>
<td>{{d.dataset}}</td>
<td>{% if '/' in d.dataset%} Dataset {%else%} Pool{%endif%}</td>
<td>{{d.properties.creation.value}}</td>
<td>{{d.used}}</td>
<td>{{d.refer}}</td>
<td>
<a href="/delete_zfs_snapshot?name={{d.name}}&display_name={{d.snapshot_name}}" role="button" class="btn btn-default"> Delete</a>
</td>
<td>
<a href="/rollback_zfs_snapshot?name={{d.name}}" role="button" class="btn btn-default"> Rollback</a>
</td>
<td>
<a href="/rename_zfs_snapshot?snapshot_name={{d.snapshot_name}}&ds_name={{d.dataset}}" role="button" class="btn btn-default"> Rename</a>
</td>
</tr>
{%endfor%}
</table>
<a href="/create_zfs_snapshot?target={{pool.pool_name}}&pool={{pool.pool_name}}" role="button" class="btn btn-default">Create a snapshot for this pool</a>
{%endif%}
{%endif%}
</div>
<p>
<!--
<a href="/create_zfs_pool" role="button" class="btn btn-default"> Create a new ZFS pool</a>-->

{%endblock%}
{%block help_header%}
View all ZFS pools
{%endblock%}
{%block help_body%}
  <p> This screen provides the list of all the ZFS pools that have been created on this IntegralStor system. To view details about a particular ZFS pool, please select the the desired pool from the list.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("view_zfs_pools_tab")
  </script>
{% endblock %}






