{% extends 'tasks_base.html' %}

{% block tab_header %}
  Background tasks
{% endblock %}

{% block inside_content %}

  {% if tasks %}
    {% load utilities %}
    <div class="">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th style="width:60%;text-align:center"> Task name </th>
            <th style="width:10%;text-align:center"> Status </th>
            <th style="width:10%;text-align:center"> Create time </th>
            <th style="width:10%;text-align:center"> Initiate time </th>
            <th style="width:10%;text-align:center"> End time </th>
          </tr>
        </thead>
        <tbody>
          {% for task in tasks %}
            <tr>
              <td><a href="/view_task_details/{{task.task_id}}"> {{task.description}}</a> </td>
              <td style="text-align:center"> {{task.status}} </td>
              <td> {{task.create_time}} </td>
              <td> {{task.initiate_time}} </td>
              {% if task.end_time %} 
              <td> {{task.end_time}} </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody> 
      </table>
    </div>
  {% else %}
      No background tasks appear to be pending.
  {% endif %}
{% endblock %}

{%block help_header%}
  View all background tasks 
{%endblock%}

{%block help_body%}
  Coming soon..
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("view_background_tasks_tab")
  </script>
{% endblock %}
