
{% extends 'system_base.html' %}

{% block inside_content %}

<table class="table table-bordered table-striped table-hover" style="width:60%">
<tr>
  <th>
    CPU
  </th>
  <td>
    {{node.cpu_model}}
  </td>
</tr>
<tr>
  <th>
    Memory
  </th>
  <td>
    {{ node.memory.mem_total.value}} {{node.memory.mem_total.unit}}
  </td>
</tr>
</table>

<table class="table table-bordered table-striped table-hover" style="width:60%">
<tr>
  <th colspan=3>
    Disks
  </th>
</tr>
<tr>
  <th >
    Name
  </th>
  <th >
    Serial number
  </th>
  <th >
    Capacity
  </th>
</tr>
{% for serial_number, d in  node.disks.items%}
<tr>
  <td>
  {{d.name}}
  </td>
  <td>
  {{serial_number}}
  </td>
  <td>
  {{d.capacity}}
  </td>
</tr>
{%endfor%}
</table>

<table class="table table-bordered table-striped table-hover" style="width:60%">
<tr>
  <th colspan=3>
    Network interfaces
  </th>
</tr>
<tr>
  <th >
    Name
  </th>
  <th >
    MAC Address
  </th>
  <th >
    IP configuration
  </th>
</tr>
{% for if_name, inter in  node.interfaces.items%}
<tr>
  <td>
  {{if_name}}
  </td>
  <td>
  {{inter.mac_addr}}
  </td>
  <td>
  {% for inet in inter.inet %}
  (IP Address : {{inet.address}}, Netmask : {{inet.netmask}}), 
  {%endfor%}
  </td>
</tr>
{%endfor%}
</table>
<a href="/reload_manifest" role="button" class="btn btn-default">Scan for hardware changes..</a>

{%endblock%}

{%block help_header%}
System configuration
{%endblock%}
{%block help_body%}
<p>This page displays the hardware configuration the system for informational purposes.</p>
{%endblock%}
