{% extends 'logged_in_base.html' %}

{%block page-header%}
  File Access
  <br /><small>
      File Access 
      <i class="fa fa-angle-double-right smaller-80"></i>
      Authentication 
      <i class="fa fa-angle-double-right smaller-80"></i>
      Local Users

  </small>
{%endblock%}

{%block contents%}


{% if conf %}
  <i>{{conf}}</i><br><br>
{%endif%}
{% if warnings %}
<i>The following problems occurred during the process : {{warnings}}</i><br><br>
{%endif%}

{% if not user_list %}
No local users appear to have been created. Click <a href="/create_local_user/"> here</a> to create a new local user. 
{%else %}
<div style="width:95%;position: relative; margin: 5px 0px; padding: 9px 9px 4px; background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-radius: 4px 4px 4px 4px;">
<table class="table table-striped">
<thead>
<tr>
<th>
Userid
</th>
<th>
Name
</th>
<th>
&nbsp;
</th>
<th>
&nbsp;
</th>
</thead>
{%for u in user_list %}
<tr>
  <td>
    {{u.userid}}
  </td>
  <td>
    {{u.name}}
  </td>
  <td>
    <a href="/change_local_user_password?userid={{u.userid}}" role="button" class="btn btn-default"> Change password</a>
  </td>
  <td>
    <a href="/delete_local_user?userid={{u.userid}}" role="button" class="btn btn-default"> Delete this user</a>
  </td>
</tr>
{%endfor%}
</table>
</div>
<br>
<a href="/create_local_user" role="button" class="btn btn-default"> Create a new local user</a>
{%endif%}

{%endblock%}
{%block help_header%}
View local users 
{%endblock%}
{%block help_body%}
  <p>Use local user authentication when you want CIFS access but do not want to use or deploy Active Directory authentication. This page is used to view the list of local users who have been created for this purpose. These accounts are used only for IntegralStor access and not for any other purpose.</p>
{%endblock%}
