{% extends 'shares_base.html' %}

{%block tab_header %}
  Windows shares
{%endblock%}

{%block global_actions %}
    <a  class="btn btn-default btn-sm pull-right" href="/create_cifs_share" title="Create a new Windows share" style="color:#000"> <i class="fa fa-plus-square-o  fa-fw"></i>&nbsp;Create new share </a>
{%endblock%}

{%block inside_content %}

  {% if not shares_list %}
    No shares appear to have been created. <br><br>
  {%else %}
    <div style="width:100%; clear:both;padding: 9px 9px 4px; background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-radius: 4px 4px 4px 4px;">
      <table class="table table-striped">
        <thead>
          <tr>
            <th> Share name </th>
            <th> Share path </th>
            <th> Description </th>
<!--
            <th> Read/write</td>
            <th> Visibility</td>
-->
            <th> &nbsp; </th>
          </tr>
        </thead>
        {%for d in shares_list %}
          <tr>
            <td> {{d.name}} </td>
            <td> {{d.display_path}} </td>
            <td> {{d.comment}} </td>
<!--
            <td> 
              {% if share.read_only %}
                Readonly
              {%else%}
                Read/Write
              {%endif%}
            </td>
            <td> 
              {% if share.browseable %}
                Browseable
              {%else%}
                Hidden
              {%endif%}
            </td>
-->
            <td>
              <div class="btn-group btn-group-xs" >
                <a class="btn btn-default pull-left dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-cog fa-fw">&nbsp; </i>Actions <span class="fa fa-caret-down" title="Toggle dropdown menu"></span> </a>
                <ul class="dropdown-menu">
                  <li ><a class="action-dropdown" href="/view_cifs_share?access_mode=by_id&index={{d.share_id}}"  title="View and configure this share" class="cover-page"> <i class="fa fa-cog fa-fw"></i>View and configure</a> 
                  <li><a class="action-dropdown" href="/edit_cifs_share?share_id={{d.share_id}}"  title="Modify the settings for this share" > <i class="fa fa-cog fa-fw"></i>Modify share settings</a> 
                  <li class="divider"></li>
                  <li><a class="action-dropdown" href="/delete_cifs_share?share_id={{d.share_id}}&name={{d.name}}"  title="Remove this share" style="color:red"> <i class="fa fa-trash fa-fw"></i>Remove this share </a> 
                </ul>
              </div>
            </td>
          </tr>
        {%endfor%}
      </table>
    </div>
  {%endif%}

{%endblock%}

{%block help_header%}
  View all shares 
{%endblock%}

{%block help_body%}
  <p> This screen provides the list of all the shares that have been created on this IntegralStor system. To view details about a particular share, please select the the desired share from the list.</p>
{%endblock%}

{% block tab_active %}
 <script>
  make_tab_active("view_cifs_shares_tab")
 </script>
{% endblock %}
