{% extends 'logging_base.html' %}

{%block tab_header %}
  {%if historical %}
    Rotated system alerts
  {%else%}
    System alerts
  {%endif%}
{%endblock%}

{%block global_actions %}
    <div class="btn-group btn-group-sm pull-right">
      <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-cog fa-fw"></i>&nbsp;Actions &nbsp;<span class="fa fa-caret-down" title="Toggle dropdown menu"></span> </a>
      <ul class="dropdown-menu">
      {%if alerts_list and not historical%}
        <li><a class="action-dropdown" href="/rotate_log/alerts" ><i class="fa fa-rotate-right fa-fw"></i>&nbsp;Rotate alerts logs</a></li>
      {%elif not historical and not alerts_list%}
        <li><a class="action-dropdown" href="" >No log entries to rotate</a></li>
      {%endif%}
      {% if historical %}
        <li><a class="action-dropdown" href="/view_rotated_log_list/alerts/" ><i class="fa fa-list fa-fw"></i>&nbsp;Back to log list</a></li>
      {%endif%}
      </ul>
    </div>
{%endblock%}

{% block inside_content %}

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th> Time </th>
        <th> Alert </th>
      </tr>
    </thead>
    {% if alerts_list %}
      {% for a in alerts_list %}
        <tr>
          <td style="width:200px">
            {{a.time}}
          </td>
          <td>
            {{a.message|safe}}
          </td>
        </tr>
      {%endfor%}
    {%endif%}
  </table>


{%endblock%}

{%block help_header%}
View alerts 
{%endblock%}

{%block help_body%}
<p>The IntegralStor system constantly monitors the health of all GRIDCells. If any problems are found in any components of the GRIDCells, then an alert is generated. This page lists all the alerts that have been raised. If an email server setting has been configured in IntegralView then the alerts will also be emailed to the specified addresses.</p>
{%endblock%}

{% block tab_active %}
  <script>
    {%if historical %}
      make_tab_active("view_rotated_alert_log_list_tab")
    {%else%}
      make_tab_active("view_logs_tab")
    {%endif%}
  </script>
{% endblock %}
