{% extends 'system_base.html' %}


{%block inside_content%}
<table class="table table-bordered table-striped table-hover" style="width:60%">
<tr>
  <th>
    CPU
  </th>
  <td>
    {{node.cpu_model}}
  </td>
</tr>
<tr>
  <th>
    Memory
  </th>
  <td>
    Total : {{ node.memory.mem_total.value}} {{node.memory.mem_total.unit}} <br />
    Free : {{ node.memory.mem_free.value}} {{node.memory.mem_free.unit}}
  </td>
</tr>
</table>

{% if node.errors %}
<table class="table table-bordered table-striped table-hover red" style="width:60%">
<tr>
  <th colspan=3>
    Errors
  </th>
</tr>
<tr>
    <td>
	<ul>
        {% for err in node.errors %}	
		<li>{{err}}</li>
        {%endfor%}
	</ul>
    </td>
</tr>
</table>
{% endif %}
{% if node.node_status != -1 %}
  <table class="table table-bordered table-hover table-responsive" style="width:800px">
  <thead>
    <th colspan=1>
      Component Type
    </th>
    <th colspan=3>
      Component Detail
    </th>
    <th colspan=5>
      Status
    </th>
  </thead>
  <tr>
  </tr>
  <tr>
    <td colspan=8>
     <b>System</b>
    </td>
  </tr>
{%for ipmi in node.ipmi_status%}
  <tr>
    <td colspan=1>
      {{ipmi.component_name}}
    </td>
    <td colspan=3>
      {{ipmi.parameter_name}}
    </td>
    <td colspan=2>
	{{ipmi.reading}} 
    </td>
    <td colspan=2>
	{% if ipmi.status == "ok" %}
		<i class="fa fa-check-circle green fa-2x"></i>	
        {%else%}
   		<i class="fa fa-remove red fa-2x"></i>	
        {%endif%}
    </td>
  </tr>
{%if ipmi.component_name == 'CPU'%}
<tr>

    <td colspan=1>
      &nbsp; 
    </td>
    <td colspan=3>
      Load averages
    </td>
    <td colspan=2>
      15 minute average <br>5 minute average  <br> 1 minute average 
    </td>
    <td colspan=2>
      {{node.load_avg.15_min}}<br>{{node.load_avg.5_min}}<br>{{node.load_avg.1_min}}
    </td>
</tr>
{%endif%}
{%endfor%}

  <tr>
    <td colspan=7>
     <b>Interfaces</b>
    </td>
  </tr>

  {% for if_name, interface in  node.interfaces.items%}
  <tr>
    <td colspan=1>
    &nbsp;
    </td>
    <td colspan=3>
    Interface name : {{if_name}}
    <td colspan=5>
    {% if interface.status == "up"%}
       <i class="fa fa-check-circle green fa-2x"></i>	
    {%else%}
      <i class="fa fa-remove red fa-2x"></i>	
    {%endif%}
    </td>
  </tr>
  {%endfor%}
  {% for k, v in  node.fan_status.items%}
  <tr>
    <td>
     FFFan {{k}}
    </td>
    <td>
    {{v.status}}
    </td>
  </tr>
  {%endfor%}

  <tr>
    <td colspan=7>
     <b> System Service Status</b>
    </td>
  </tr>
  <tr>
    <td colspan=1>
    </td>
    <td colspan=3>
       CTDB Service
    </td>
    <td colspan=7>
       {%if ctdb|slice:"-13:" == "is running..."%}
          <i class="fa fa-check-circle green fa-2x"></i>	
       {%else%}
          <i class="fa fa-remove red fa-2x"></i>	
       {%endif%}
    </td>
  </tr>
  <tr>
    <td colspan=1>
    </td>
    <td colspan=3>
       Winbind Service
    </td>
    <td colspan=7>
       {%if winbind|slice:"-13:" == "is running..."%}
          <i class="fa fa-check-circle green fa-2x"></i>	
       {%else%}
          <i class="fa fa-remove red fa-2x"></i>	
       {%endif%}
    </td>
  </tr>
  <tr>
    <td colspan=7>
     <b>ZFS Status</b>
    </td>
  </tr>
  {% for pool in node.pools %}
    <tr>
      <td colspan=1>
      &nbsp;
      </td>
      <td colspan=3>
        ZFS Pool name
      </td>
      <td colspan=5>
        {{pool.pool_name}}
      </td>
    </tr>
    <tr>
      <td colspan=1>
      &nbsp;
      </td>
      <td colspan=3>
        ZFS Pool type
      </td>
      <td colspan=5>
        {{pool.config.pool.type}}
      </td>
    </tr>
    <tr>
      <td colspan=1>
        &nbsp;
      </td>
      <td colspan=3>
        ZFS Pool state
      </td>
      <td colspan=5>
        {{pool.state}} ({{pool.config.pool.status.read}} read errors, {{pool.config.pool.status.write}} write errors, {{pool.config.pool.status.chksum}} checksum errors)
      </td>
    </tr>
    {%if pool.status %}
    <tr>
      <td colspan=1>
        &nbsp;
      </td>
      <td colspan=3>
        ZFS Pool status
      </td>
      <td colspan=5>
        {{pool.status}} 
      </td>
    </tr>
    {%endif%}
    {%if pool.see %}
    <tr>
      <td colspan=1>
        &nbsp;
      </td>
      <td colspan=3>
        See
      </td>
      <td colspan=5>
        {{pool.see}} 
      </td>
    </tr>
    {%endif%}
    <tr>
      <td colspan=1>
      &nbsp;
      </td>
      <td colspan=3>
        ZFS Pool scan status
      </td>
      <td colspan=5>
        {%for scan in pool.scan %}{{scan}}{%endfor%}
      </td>
    </tr>
    <tr>
      <td colspan=1>
      &nbsp;
      </td>
      <td colspan=3>
        ZFS Pool errors
      </td>
      <td colspan=5>
        {%for error in pool.errors %}{{error}}{%endfor%}
      </td>
    </tr>
    <tr>
      <td colspan=8>
       <b>Disks</b>
      </td>
    </tr>
    <tr>
      <th>
        Disk serial number
      </th>
      <th>
        Disk state
      </th>
      <th>
        Disk Read errors
      </th>
      <th>
        Disk write errors
      </th>
      <th>
        Disk checksum errors
      </th>
      <th>
        Action
      </th>
      <th>
        S.M.A.R.T status
      </th>
    </tr>
    {% for name, component in pool.config.pool.components.items %}
      {%if component.type == 'device' %}
      <tr>
        <td>
          {%load utilities%}
          {{component.name|split:"_"}}
        </td>
        <td>
          {{component.state}}
        </td>
        <td>
          {{component.read}}
        </td>
        <td>
          {{component.write}}
        </td>
        <td>
          {{component.chksum}}
        </td>
        <td>
          <form method="POST" action="/replace_disk/">
            <input type="hidden" name="node" value="{{node_name}}">
            <input type="hidden" name="serial_number" value="{{component.name|split:"_"}}">
            <input type="hidden" name="step" value="offline_disk">
            {% if disk.status != 'PASSED' %}
              <button type="submit" class="btn btn-primary" onClick ="$('#processing').modal('show');"> Replace (swap out) this disk </button>
              {%else%}
              <button type="submit" class="btn " onClick ="$('#processing').modal('show');"> Replace (swap out) this disk </button>
            {%endif%}
          </form>
        </td>
        {% for serial_number, disk in node.disks.items %}
          {%if disk.id == component.name%}
            <td class="center" id="status_{{disk.status}}">
              {{disk.status|title}}
            </td>
          {%endif%}
        {%endfor%}
      </tr>
      {%endif%}
    {%endfor%}
  {%endfor%}
  <tr>
    <td colspan=1>
      &nbsp; 
     <b>Disk Position</b>
    </td>
    <td colspan=8>
      <img src="/static/images/diskmap1.png" width="900px;" class="img-responsive" />
      <span class="disk-center" id="{{node.disk_pos.1}}"><strong>{{node.disk_pos.1}}</strong></span>
      <span class="disk-center" id="{{node.disk_pos.2}}"><strong>{{node.disk_pos.2}}</strong></span>
      <span class="disk-center" id="{{node.disk_pos.3}}"><strong>{{node.disk_pos.3}}</strong></span>
      <span class="disk-center" id="{{node.disk_pos.4}}"><strong>{{node.disk_pos.4}}</strong></span>
    </td>
  </tr>
</table>

{%else%}
  GRIDCell is down
{%endif%}

<div id="message" style="display:none; width:90%;font-size:16px;">  
  <div class="alert alert-dismissable">
      <i class="fa fa-check"></i>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <div id="message_content">
        
      </div>
  </div>
</div>

<a href="/show/system_status/" role="button" class="btn btn-warning"> 
  <i class="fa fa-arrow-circle-left"></i>  Back
</a> &nbsp;&nbsp;
<a role="button" class="btn btn-info" id="activate_led">Activate GRIDCell identification LED </a> 
<br><br>
<p class="text-green"> Activating the GRIDCell identification LED will cause a blue LED on that GRIDCell to blink for 4 minutes, to help you physically identify this GRIDCell.</p>

<script>
  $(document).ready(function(){
    
    var tds = $('td[id^="status_"]')
    tds.each(function(){if($(this).html().trim() != "Passed"){var id = $(this).closest('tr').children("td:first").html().trim(); $("#"+id).addClass('red')}})
  });
  $("#activate_led").click(function(){
    $.ajax({
      type : 'GET',
      url :"/flag_node?node={{node_name}}",
      data : {},
      success : function(){
        $(".alert").addClass("alert-success")
        $("#message_content").html('<strong>Success !</strong> LED is blinking on the GRIDCell.')
        $("#message").show();
      },
      error : function(textstatus,err){
        console.log(textstatus,err)
        $(".alert").addClass("alert-danger")
        $("#message_content").html('<strong>Error !</strong> Plese try again. Something just went  off .')
        $("#message").show();
      }
    });
  });
</script>
{%endblock%}
{%block help_header%}
View GRIDCell status
{%endblock%}
{%block help_body%}
<p>This page displays the status of all the components in the selected GRIDCell. Details of any problems with any faulty component in the GRIDCell are also displayed here.</p>
{%endblock%}

