{% extends 'nfs_base.html' %}

{%block inside_content %}

{% if conf %}
<p><i>{{conf}}</i></p>
{%endif%}

{% if not exports_list %}
No NFS shares appear to have been created. Click <a href="/create_nfs_share/"> here</a> to create a new NFS share.
{%else %}
<div style="width:95%;position: relative; margin: 5px 0px; padding: 9px 9px 4px; background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-radius: 4px 4px 4px 4px;">
<table class="table table-striped">
<thead>
<tr>
<th>
Path
</th>
<th>
Client restrictions on
</th>
<th>
Details
</th>
</thead>
{%for d in exports_list %}
<tr>
  <td>
    {{d.path}}
  </td>
  <td>
    {% for cd in d.clients %}
    {{cd.name}}, 
    {%endfor%}
  </td>
  <td>
    <a href="/view_nfs_share?path={{d.path}}" role="button" class="btn btn-default"> View Details</a>
  </td>
</tr>
{%endfor%}
</table>
</div>
    <a href="/create_nfs_share" role="button" class="btn btn-default"> Create a new NFS share</a>
{%endif%}

{%endblock%}
{%block help_header%}
View all NFS shares 
{%endblock%}
{%block help_body%}
  <p> This screen provides the list of all the NFS shares that have been created on this IntegralStor system. To view details about a particular NFS share, please select the the desired share from the list.</p>
{%endblock%}
