{% extends 'storage_base.html' %}

{%block tab_header %}
  ZFS block device volume details
{%endblock%}

{%block inside_content %}

  {% if not properties %}
    No information for the specified block device volume. 
  {%else %}

    <div class="btn-group btn-group-sm pull-right"  style="margin:15px;border:0px solid">
      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"> {%if properties.type.value == 'filesystem'%} Dataset {%elif properties.type.value == 'volume'%} Block device volume {%endif%} specific actions <span class="fa fa-caret-down" title="Toggle dropdown menu"></span> </a>
      <ul class="dropdown-menu">
        {% if "disabled" in replication_status %}
      	  <li><a href="/replicate_zfs_dataset?dataset_name={{name}}"><i class="fa fa-copy fa-fw"></i>&nbsp;Enable async replication</a></li>
        {% else %}
      	  <li><a href="/replicate_zfs_dataset?dataset_name={{name}}"><i class="fa fa-copy fa-fw"></i>&nbsp;Modify/Disable async replication</a></li>
      	{% endif %}
        <li class="divider"></li>
        <li><a href="/delete_zfs_dataset?name={{name}}&type=zvol&pool_name={{pool}}" style="color:red"> <i class="fa fa-trash fa-fw"></i>&nbsp;Delete this block device volume  </a></li>
        <li class="divider"></li>
        <li> <a href="/view_zfs_pool?name={{pool}}&view=datasets_and_zvols"><i class="fa fa-list fa-fw" ></i>Back to pool details</a>

      </ul>
    </div>
    <div style="width:100%;clear:both; margin: 5px 0px; padding: 9px 9px 4px; background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-radius: 4px 4px 4px 4px;">

      <h5>Block device volume name - {{name}}</h5>

      <table  class="table table-bordered">
        <tr>
          <th> Property name </th>
          <th> Property value </th>
          <th> Property information </th>
        </tr>
        {%for pname, p in properties.items %}
          {%if pname in exposed_properties %}
            <tr>
              <td> 
                {%if pname == 'creation'%} 
                  Created on {%elif pname == 'usedbychildren'%} Space used by children {%elif pname == 'usedbydataset'%} Space used by this dataset 
                {%else%}
                  {{pname|title}}
                {%endif%}
              </td>
              <td> {{p.value}}</td>
              <td> 
                {%if p.source == 'local' %} 
                  Explicitly set 
                {%elif p.source == '-'%} 
                  Informational only 
                {%else%}
                  {{p.source|title}}
                {%endif%}
              </td>
            </tr>
          {%endif%}
        {%endfor%}
        <tr>
          <td> Block size </td>
          <td> {{properties.volblocksize.value}}</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td> Thin provisioning</td>
          <td> 
            {% if properties.refreservation.value == 'none' %} 
              Enabled 
            {%else%} 
              Disabled 
            {%endif%}
          </td>
          <td>&nbsp;</td>
        </tr>
      </table>
      <br>
      <a href="/view_zfs_pool?name={{pool}}&view=datasets_and_zvols" role="button" class="btn btn-sm btn-default cover-page"><i class="fa fa-list fa-fw" ></i>&nbsp;Back to pool details</a>

      <!--
      <p>
      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <a href="/view_zfs_pool?name={{pool}}" role="button" class="btn btn-default cover-page">Back to pool details</a>
        <a href="/delete_zfs_dataset?name={{name}}&type=zvol&pool_name={{pool}}" role="button" class="btn btn-danger btn-sm"> Delete this block device volume</a>
      </div>
      </p>
      -->

    </div>
  {%endif%}

{%endblock%}

{%block help_header%}
  View ZFS block device volume details
{%endblock%}

{%block help_body%}
  <p> This screen list ZFS block device volume details and allows you to delete this volume.  </p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("view_zfs_pools_tab")
  </script>
{% endblock %}
