{% extends 'key_management_base.html' %}

{%block tab_header %}
  SSL certificates
{%endblock%}

{%block global_actions %}
    <div class="btn-group btn-group-sm pull-right"  >
      <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-cog fa-fw"></i>&nbsp;Actions &nbsp;<span class="fa fa-caret-down" title="Toggle dropdown menu"></span> </a>
      <ul class="dropdown-menu">
        <li><a class="action-dropdown" href="/create_self_signed_ssl_certificate" > <i class="fa fa-plus fa-fw" ></i>&nbsp;Create a new self signed certificate</a></li>
        <li><a class="action-dropdown" href="/upload_ssl_certificate" role="button" > <i class="fa fa-plus fa-fw" ></i>&nbsp;Upload a new certificate</a></li>
      </ul>
    </div>
{%endblock%}

{% block inside_content %}

  {% if not cert_list %}
    No certificates appear to have been created or saved. 
  {%else %}
    <table class="table table-bordered table-responsive" >
      <thead>
        <tr>
          <th > Name </th>
          <th > Issuer's name </th>
          <th > Distinguished Name </th>
          <th > Validity </th>
          <th > &nbsp; </th>
        </tr>
      </thead>
      {%for d in cert_list %}
        <tr>
          <td> {{d.name}} </td>
          <td  style="max-width:200px;word-wrap: break-word">
            <p style="width:60%;">
            {{d.certificate.issuer}}
            </p>
          </td>
          <td  style="max-width:200px;word-wrap: break-word">
            <p style="width:60%;">
            {{d.certificate.dn}}
            </p>
          </td>
          <td style="max-width:200px;">
            {{d.certificate.expiry_start}} to <br>{{d.certificate.expiry_end}}
          </td>
          <td  style="word-wrap: break-word ">
            <div class="btn-group btn-group-xs pull-right">
              <a class="btn btn-default btn-sm dropdown-toggle " data-toggle="dropdown" href="#"> <i class="fa fa-cog fa-fw" ></i>&nbsp;Actions <span class="fa fa-caret-down" title="Toggle dropdown menu"></span> </a>
              <ul class="dropdown-menu">
                <li><a class="action-dropdown" href="/delete_ssl_certificate?name={{d.name}}" style="color:red"><i class="fa fa-trash fa-fw" ></i>&nbsp;Delete</a></li>
              </ul>
            </div>
          </td>
        </tr>
      {%endfor%}
    </table>
  {%endif%}

{%endblock inside_content%}

{%block help_header%}
  SSL certificates
{%endblock%}

{%block help_body%}
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("ssl_certs_tab")
  </script>
{% endblock %}
