{% extends 'dashboard_base.html' %}
{%block tab_header %}
Hard drives status
{%endblock%}
{% block inside_content %}
<style>
	.info-box-icon {
		width: 60px;
	}
	.info-box-content {
		margin-left: 60px;
	}
</style>

<h4> Disk positions </h4>
<div class="row">
  {% for i in "xxxxxxxxxxxx" %}
  <div class="col-sm-12 col-md-3 col-lg-3">
      <div class="box box-default box-solid" id="disk_{{forloop.counter0}}_colour">
        <div class="box-header with-border">
          <h3 class="box-title" id="disk_{{ forloop.counter0 }}_serial">No Disk</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body" id="disk_{{forloop.counter0}}_status">
         No Status exists 
        </div>
        <!-- /.box-body -->
    </div>
  </div>
  {% endfor %}
</div>
<script>
{%for sn, disk in disk_status.items %}
{%if disk.status != 'PASSED' and disk.status != 'OK' and not disk.boot_device%}
  $('#disk_{{disk.scsi_info.2}}_serial').html("Sl No. : {{sn}}")
  $('#disk_{{disk.scsi_info.2}}_status').text("Status :{{disk.status}}")
  $('#disk_{{disk.scsi_info.2}}_colour').removeClass('box-default').addClass('box-danger')
{%elif not disk.boot_device%}
  $('#disk_{{disk.scsi_info.2}}_serial').html("Sl No. : {{sn}}")
  $('#disk_{{disk.scsi_info.2}}_status').text("Status :OK")
  $('#disk_{{disk.scsi_info.2}}_colour').removeClass('box-default').addClass('box-success')
{%endif%}
{%endfor%}
</script>
<h4> Disk information </h4>
<table class="table table-bordered table-hover table-responsive" style="width:800px">
<thead>
<th >
Disk serial number
</th>
<th>
S.M.A.R.T status
</th>
<th>
Disk replacement
</th>
</thead>
{%for sn, disk in disk_status.items %}
{%if disk.boot_device %}
<tr>
<td>
{{sn}}  (OS disk) 
</td>
<td>
{{disk.status}} &nbsp;&nbsp;
{%if disk.status == 'PASSED' or disk.status == 'OK'%}
<i class="fa fa-check-circle green fa-2x"></i>
{%else%}
<i class="fa fa-remove red fa-2x"></i>
{%endif%}
</td>
<td>
&nbsp;
</td>
</tr>
{%endif%}
{%endfor%}
{%for sn, disk in disk_status.items %}
{%if not disk.boot_device %}
<tr>
<td>
{{sn}}  (Data disk) 
</td>
<td>
{{disk.status}} &nbsp;&nbsp;
{%if disk.status == 'PASSED' or disk.status == 'OK'%}
<i class="fa fa-check-circle green fa-2x"></i>
{%else%}
<i class="fa fa-remove red fa-2x"></i>
{%endif%}
</td>
<td>
{%if disk.status != 'PASSED' and disk.status != 'OK'%}
      {%if disk.pool%}
      <form method="POST" action="/replace_disk/">
        <input type="hidden" name="node" value="{{node_name}}">
        <input type="hidden" name="serial_number" value="{{sn}}">
        <input type="hidden" name="step" value="offline_disk">
          <button type="submit" class="btn btn-primary" onClick ="$('#processing').modal('show');"> Replace (swap out) this disk </button>
      </form>
      {%else%}
        <button  class="btn btn-primary" onClick ="alert('This disk is not part of any ZFS pool so you can go ahead and replace it safely');"> Replace (swap out) this disk </button>
      {%endif%}
{%else%}
Healthy disk. No replacement necessary.
{%endif%}
</td>
</tr>
{%endif%}
{%endfor%}
</table>
{% endblock %}
{%block help_header%}
View disk status
{%endblock%}
{%block help_body%}
  <p> 
  This screen displays the status of all the disks in the system. The information includes the S.M.A.R.T information and the disk position in the chassis. If there is an issue with a disk, then a button next to the disk will give you the option of replacing the disk. Clicking on this button will take you through a wizard for the disk replacement process.
  </p>
{%endblock%}


{% block tab_active %}
  <script>
   make_tab_active("disks_tab")
  </script>
{% endblock%}



