{% extends 'dashboard_base.html' %}
{%block tab_header %}
Hardware components status
{%endblock%}
{% block inside_content %}
<br><br>
<table class="table table-bordered table-hover table-responsive" style="width:800px">
  <thead>
    <th colspan=1>
     Component Type
    </th>
    <th colspan=3>
     Component Detail
    </th>
    <th colspan=5>
     Status
    </th>
  </thead>
    <tr>
    </tr>
     {%for ipmi in hardware_status.ipmi_status%}
    <tr>
     <td colspan=1>
      {{ipmi.component_name}}
     </td>
     <td colspan=3>
     {{ipmi.parameter_name}}
     </td>
     <td colspan=2>
     {{ipmi.reading}}
     </td>
    <td colspan=2>
    {% if ipmi.status == "ok" %}
    <i class="fa fa-check-circle green fa-2x"></i>
    {%else%}
   <i class="fa fa-remove red fa-2x"></i>
   {%endif%}
   </td>
   </tr>
   {%endfor%}
</table>
{% endblock %}

{%block help_header%}
View hardware component status
{%endblock%}
{%block help_body%}
  <p> 
  This page displays the status of some of the other hardware components along with some related component specific information.
  </p>
{%endblock%}
{% block tab_active%}
 <script>
  make_tab_active("hardware_tab")
 </script>
{% endblock%}

