{% extends 'networking_base.html' %}

{%block tab_header %}
  System hostname
{%endblock%}

{% block inside_content %}

  {% if not hostname %}
    No hostname set.
  {%else %}
    <table  class="table table-bordered">
      <tr>
        <th> Hostname </th>
        <td> {{hostname}} </td>
      </tr>
      <tr>
        <th> Domain name </th>
        <td>
          {%if domain_name%}
            {{domain_name}}
          {%else%}
            No domain name set.
          {%endif%}
        </td>
      </tr>
    </table>
    <a href="/edit_hostname" role="button" class="btn btn-primary btn-sm">Edit hostname and domain name</a>
  {%endif%}

{%endblock%}

{%block help_header%}
  View hostname and domain name
{%endblock%}

{%block help_body%}
  <p> This screen provides details about the hostname and domain name of this IntegralStor system. </p>
{%endblock%}

{% block tab_active %}
  <script>
   make_tab_active("view_hostname_tab")
  </script>
{% endblock %}
