{% extends 'dashboard_base.html' %}
{%block tab_header %}
System services status
{%endblock%}

{%block inside_content%}
<br><br>
             
<table class="table table-bordered table-hover table-responsive" style="width:800px">
<thead>
<th >
Service
</th>
<th >
Status
</th>
</thead>
<tr>
<td >
CIFS - SMB Service
</td>
<td >
{%if services_status.smb|slice:"-13:" == "is running..."%}
<i class="fa fa-check-circle green fa-2x"></i>
{%else%}
<i class="fa fa-remove red fa-2x"></i>
{%endif%}
</td>
</tr>
<tr>
<td >
CIFS - Winbind Service
</td>
<td >
{%if services_status.winbind|slice:"-13:" == "is running..."%}
<i class="fa fa-check-circle green fa-2x"></i>
{%else%}
<i class="fa fa-remove red fa-2x"></i>
{%endif%}
</td>
</tr>
<tr>
<td >
NFS Service
</td>
<td >
{%if services_status.nfs|slice:"-13:" == "is running..."%}
<i class="fa fa-check-circle green fa-2x"></i>
{%else%}
<i class="fa fa-remove red fa-2x"></i>
{%endif%}
</td>
</tr>
<tr>
<td >
ISCSI Service
</td>
<td >
{%if services_status.iscsi|slice:"-13:" == "is running..."%}
<i class="fa fa-check-circle green fa-2x"></i>
{%else%}
<i class="fa fa-remove red fa-2x"></i>
{%endif%}
</td>
</tr>
<tr>
<td >
NTP Service
</td>
<td >
{%if services_status.ntp|slice:"-13:" == "is running..."%}
<i class="fa fa-check-circle green fa-2x"></i>
{%else%}
<i class="fa fa-remove red fa-2x"></i>
{%endif%}
</td>
</tr>
<tr>
<td >
FTP Service
</td>
<td >
{%if services_status.ftp|slice:"-13:" == "is running..."%}
<i class="fa fa-check-circle green fa-2x"></i>
{%else%}
<i class="fa fa-remove red fa-2x"></i>
{%endif%}
</td>
</tr>
</table>
{% endblock %}

{%block help_header%}
View services status
{%endblock%}
{%block help_body%}
  <p> 
  This page displays the status of some of the important services of the system.
  </p>
{%endblock%}
{% block tab_active%}
 <script>
  make_tab_active("services_tab")
 </script>
{% endblock%}

