{% extends 'scheduler_base.html' %}

{% block tab_header %}
  Background tasks
{% endblock %}

{% block inside_content %}

  {% if tasks %}
    {% load utilities %}
    <div class="">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td> Task name </td>
            <td> Status </td>
            <td> Create time </td>
            <td> Initiate time </td>
          </tr>
        </thead>
        <tbody>
          {% for task in tasks %}
            <tr>
              <td><a href="/view_task_details/{{task.task_id}}"> {{task.description}}</a> </td>
              <td> {{task.status}} </td>
              <td> {{task.create_time|print_timestamp}} </td>
              <td> {{task.initiate_time|print_timestamp}} </td>
            </tr>
          {% endfor %}
        </tbody> 
      </table>
    </div>
  {% else %}
      No background tasks appear to be pending.
  {% endif %}
{% endblock %}

{%block help_header%}
  View all background tasks 
{%endblock%}

{%block help_body%}
  Coming soon..
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("view_background_tasks_tab")
  </script>
{% endblock %}
