{% extends 'dashboard_base.html' %}

{%block tab_header %}
  System network statistics
{%endblock%}

{% block inside_content %}

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <span class="margin-left-5">Network Graph (Network Utilization VS Time) </span>
      {% if data_dict %}
        <canvas id="dashboard_chart" width="800" height="300" class="margin-left-3"></canvas>
      {% else %}
        <span class="margin-left-5 red">No Data Found</span>
      {% endif %}
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
       <div class="row margin-left-5"><br/>
         {% for keys in data_dict.keys %}
           <div class="col-sm-1 col-md-1 col-lg-1">
             <span id="color_{{forloop.counter}}" class="color-box"></span><br /><br /> {{keys|title}}
           </div>
         {% endfor %}
       </div>
    </div>
  </div>

  <br />
  <br />
  <table class="table table-bordered table-hover table-responsive" style="width:800px"i>
    <thead>
      <th colspan=1> Interface </th>
      <th > Status </th>
    </thead>
    {% for if_name, interface in  network_status.items%}
      <tr>
        <td > {{if_name}} <td >
          {% if interface.status == "up"%}
            <i class="fa fa-check-circle green fa-2x"></i>
          {%else%}
            <i class="fa fa-remove red fa-2x"></i>
          {%endif%}
        </td>
      </tr>
    {%endfor%}
  </table>
{% endblock %}


{%block help_header%}
  View network status
{%endblock%}

{%block help_body%}
  <p> 
  This page gives you the status of each network interface along with a historical network usage graph.
  </p>
{%endblock%}

{% block tab_active%}
  <script>
    make_tab_active("network_tab")
  </script>
{% endblock %}

{% block js %}
  <script src="/static/js/Chart.js"></script>

  <script>
    var labels = []
    {% for l in labels %}
      labels.push("{{l}}")
    {% endfor %}

    Chart.defaults.global.animationSteps = 1;
    Chart.types.Line.extend({
      name: "LineAlt",
      initialize: function (data) {
        Chart.types.Line.prototype.initialize.apply(this, arguments);
        var xLabels = this.scale.xLabels;
        xLabels.forEach(function (label, i) {
          if ( i % 60 == 0 )
            xLabels[i] = '';
        })
      }
    });

    var colors = ["37,103,5","62,38,174","190,1,222","13,86,195","124,51,209","255,109,137","132,132,242"]
    for (var i=1; i<=colors.length;i++){
      $("#color_"+i).attr("data-color",colors[i-1]);
      $("#color_"+i).attr("style","background:rgb("+colors[i-1]+")");
    }
    var data = {
      labels: labels, 
      datasets: [
        {% for keys,values in data_dict.items %}
          {
             label: "{{keys}}",
             fillColor: "rgba("+$('#color_{{forloop.counter}}').attr('data-color')+",0.2)",
             strokeColor: "rgba("+$('#color_{{forloop.counter}}').attr('data-color')+",1)",
             pointColor: "rgba("+$('#color_{{forloop.counter}}').attr('data-color')+",1)",
             pointStrokeColor: "#fff",
             pointHighlightFill: "#fff",
             pointHighlightStroke: "rgba("+$('#color_{{forloop.counter}}').attr('data-color')+",1)",
             data: {{values}}
          },
        {% endfor%}
      ]
    };
    var ctx = document.getElementById("dashboard_chart").getContext("2d");
    var myLineChart = new Chart(ctx).LineAlt(data, {});
  </script>
{% endblock%}

