{% extends 'storage_base.html' %}
{%block tab_header %}
ZFS pool details
{%endblock%}

{%block inside_content %}
<br><br>

{% if conf %}
<div style="margin:0 auto;border-radius: 10px;background: #A1A3A6; padding: 20px; width: 50%; position:relative;height: 50px;text-align:center;">
<p style="color:white;align:center;"><b>{{conf}}</b></p>
</div>
<br>
{%endif%}

{% if not pool %}
No information for the specified pool. Click <a href="/view_zfs_pools/"> here</a> to view all ZFS storage pools.
{%else %}
<div style="width:95%;position: relative; margin: 5px 0px; padding: 9px 9px 4px; background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-radius: 4px 4px 4px 4px;">
<table class="table table-bordered table-responsive" style="width:95%px">
<tr>
<td colspan=3><h3>Pool name - {{pool.pool_name}}</h3></td>
</tr>
<tr>
<td><a href="/export_zfs_pool?pool_name={{pool.pool_name}}" role="button" class="btn btn-danger"> Export this pool</a></td>
<td colspan=2><a href="/delete_zfs_pool?name={{pool.pool_name}}" role="button" class="btn btn-danger"> Delete this pool</a></td>
</tr>
<tr>
<td><a href="/set_file_owner_and_permissions?path={{pool.properties.mountpoint.value}}&pool_name={{pool.pool_name}}&from=pool" role="button" class="btn btn-info"> Change ownership and permissions</a></td>
<td><a href="/scrub_zfs_pool?name={{pool.pool_name}}" role="button" class="btn btn-info">Initiate a scrub</a></td>
{%if can_expand_pool %}
<td><a href="/expand_zfs_pool?pool_name={{pool.pool_name}}" role="button" class="btn btn-info">Expand this pool</a></td>
{%endif%}
</tr>
</table>
<h4> Pool information </h4>
<table class="table table-bordered table-hover table-responsive" style="width:800px">
<tr><th> Pool type </th> <td>{{pool.config.pool.type.upper}}<td></tr>
<tr><th> Pool state </th> <td>{{pool.state}}<td></tr>
<tr><th> Pool errors </th> <td>{{pool.errors}}<td></tr>
<tr> <th> Pool scan </th> <td>{{pool.scan}}<td></tr>
</table>
<b> Pool components</b>
<ul>
  {%for child in pool.config.pool.root.children %}
  <li> {{child.name}} ({{child.type}}), State ({{child.status.state}}), Read ({{child.status.read}}), Write ({{child.status.write}}), Chksum ({{child.status.chksum}})
    {%if child.children %}
    <ul>
      {%for gr_child in child.children %}
        <li> {{gr_child.name}} ({{gr_child.type}}), State ({{gr_child.status.state}}), Read ({{gr_child.status.read}}), Write ({{gr_child.status.write}}), Chksum ({{gr_child.status.chksum}})
        {%if gr_child.children %}
        <ul>
          {%for gr_gr_child in gr_child.children %}
            <li> {{gr_gr_child.name}} ({{gr_gr_child.type}}), State ({{gr_gr_child.status.state}}), Read ({{gr_gr_child.status.read}}), Write ({{gr_gr_child.status.write}}), Chksum ({{gr_gr_child.status.chksum}})
  
          {%endfor%}
        </ul>
        {%endif%}
      {%endfor%}
    </ul>
    {%endif%}
  {%endfor%}
</ul>

<hr>
<h4> Spare disks </h4>
{% if pool.config.spares %}
  <table class="table table-bordered table-hover table-responsive" >
  <th>
    Disk ID
  </th>
  <th>
    Status
  </th>
  {%for id, status in pool.config.spares.items%}
  <tr>
    <td>
      {{id}}
    </td>
    <td>
      {{status}}
    </td>
  </tr>
  {%endfor%}
  </table>
{%else%}
No spare disks assigned. <br><br>
{%endif%}
<a href="/add_zfs_spares?pool_name={{pool.pool_name}}" role="button" class="btn btn-primary" {% if not num_free_disks_for_spares  %} disabled {%endif%}>Add spare drive(s)</a>
{% if pool.config.spares %}
<a href="/remove_zfs_spare?pool_name={{pool.pool_name}}" role="button" class="btn btn-danger">Remove a spare disk</a>
{%endif%}

<hr>
<h4> Write cache information </h4>
{% if pool.config.logs %}
  <b> Write cache components</b>
  <ul>
    {%for child in pool.config.logs.root.children %}
    <li> Name - {{child.name}}, Type - {{child.type}}
      {%if child.type == 'RAMDisk' and child.ramdisk_size %}, RAM Disk size - {{child.ramdisk_size}}MB {%endif%}
    , Status - State ({{child.status.state}}), Read ({{child.status.read}}), Write ({{child.status.write}}), Chksum ({{child.status.chksum}})
      {%if child.children %}
      <ul>
        {%for gr_child in child.children %}
          <li> Name - {{gr_child.name}}, Type - {{gr_child.type}}, Status - State ({{gr_child.status.state}}), Read ({{gr_child.status.read}}), Write ({{gr_child.status.write}}), Chksum ({{gr_child.status.chksum}})
          {%if gr_child.children %}
          <ul>
            {%for gr_gr_child in gr_child.children %}
              <li> Name - {{gr_gr_child.name}}, Type - {{gr_gr_child.type}}, Status - State ({{gr_gr_child.status.state}}), Read ({{gr_gr_child.status.read}}), Write ({{gr_gr_child.status.write}}), Chksum ({{gr_gr_child.status.chksum}})
    
            {%endfor%}
          </ul>
          {%endif%}
        {%endfor%}
      </ul>
      {%endif%}
    {%endfor%}
  </ul>
  {% if pool.config.logs.root.children.0.type == 'RAMDisk' %}
  <a href="/remove_zfs_slog?pool={{pool.pool_name}}&device={{pool.config.logs.root.children.0.name}}&type=ramdisk" role="button" class="btn btn-danger"> Remove the write cache RAMDisk device</a>
  {%else%}
  <a href="/remove_zfs_slog?pool={{pool.pool_name}}&device={{pool.config.logs.root.children.0.name}}&type=flash" role="button" class="btn btn-danger"> Remove the write cache flash device</a>
  {%endif%}
{%else%}
<b>Write cache in use : </b> Disk<br><br>
<a href="/set_zfs_slog?pool={{pool.pool_name}}" role="button" class="btn btn-primary"> Change the write cache device</a>
{%endif%}

<hr>
<h4> Read cache information </h4>
{% if pool.config.cache %}
  <b> Read cache components</b>
  <ul>
    {%for child in pool.config.cache.root.children %}
    <li> Name - {{child.name}}, Type - {{child.type}}, Status - State ({{child.status.state}}), Read ({{child.status.read}}), Write ({{child.status.write}}), Chksum ({{child.status.chksum}})
      {%if child.children %}
      <ul>
        {%for gr_child in child.children %}
          <li> Name - {{gr_child.name}}, Type - {{gr_child.type}}, Status - State ({{gr_child.status.state}}), Read ({{gr_child.status.read}}), Write ({{gr_child.status.write}}), Chksum ({{gr_child.status.chksum}})
          {%if gr_child.children %}
          <ul>
            {%for gr_gr_child in gr_child.children %}
              <li> Name - {{gr_gr_child.name}}, Type - {{gr_gr_child.type}}, Status - State ({{gr_gr_child.status.state}}), Read ({{gr_gr_child.status.read}}), Write ({{gr_gr_child.status.write}}), Chksum ({{gr_gr_child.status.chksum}})
    
            {%endfor%}
          </ul>
          {%endif%}
        {%endfor%}
      </ul>
      {%endif%}
    {%endfor%}
  </ul>
  <a href="/remove_zfs_l2arc?pool={{pool.pool_name}}&device={{pool.config.cache.root.children.0.name}}" role="button" class="btn btn-danger"> Remove the read cache device</a>
{%else%}
<b>Read cache in use : </b> RAM<br><br>
<a href="/set_zfs_l2arc?pool={{pool.pool_name}}" role="button" class="btn btn-primary"> Change the read cache device</a>
{%endif%}

<hr>
<h4> Filesystem datasets </h4>
{% if pool.datasets %}
<table  class="table table-bordered">
<tr>
<th colspan=3> Filesystem datasets in this pool</th>
<th> <a href="/create_zfs_dataset?pool={{pool.pool_name}}&parent={{pool.pool_name}}" role="button" class="btn btn-primary"> Create a new filesystem dataset</a></th>
</tr>
<tr>
<th> Name</th>
<th> Space used</th>
<!--<th> Snapshots</th>-->
<th> &nbsp;</th>
</tr>
{%for ds in pool.datasets%}
{% if ds.properties.type.value == 'filesystem'%}
<tr>
<td>{{ds.name}}</td>
<td>{{ds.used}}</td> 
<!--<td>{%if 'snapshots' in ds%} <ul> {%for sn in ds.snapshots%}<li>{{sn.snapshot_name}},{%endfor%}</ul>{%else%} &nbsp;{%endif%}</td>-->
<td><a href="/view_zfs_dataset?name={{ds.name}}" role="button" class="btn btn-info"> Details</a></td> 
</tr>
{%endif%}
{%endfor%}
</table>
{%else%}
<p> No filesystem datasets created </p>
<a href="/create_zfs_dataset?pool={{pool.pool_name}}&parent={{pool.pool_name}}" role="button" class="btn btn-primary"> Create a filesystem dataset</a>
{%endif%}
<hr>
<h4> Block device volumes </h4>
{% if pool.datasets %}
<table  class="table table-bordered">
<tr>
<th colspan=3> Block device volumes in this pool</th>
<th> <a href="/create_zfs_zvol?pool={{pool.pool_name}}" role="button" class="btn btn-primary"> Create a new block device volume</a></th>
</tr>
<tr>
<th> Name</th>
<th> Space used</th>
<!--<th> Snapshots</th>-->
<th> &nbsp;</th>
</tr>
{%for ds in pool.datasets%}
{% if ds.properties.type.value == 'volume'%}
<tr>
<td>{{ds.name}}</td>
<td>{{ds.used}}</td> 
<!--<td>{%if 'snapshots' in ds%} <ul> {%for sn in ds.snapshots%}<li>{{sn.snapshot_name}},{%endfor%}</ul>{%else%} &nbsp;{%endif%}</td>-->
<td><a href="/view_zfs_zvol?name={{ds.name}}&pool_name={{pool.pool_name}}" role="button" class="btn btn-info"> Details</a></td> 
</tr>
{%endif%}
{%endfor%}
</table>
{%else%}
<p> No block device volumes created </p>
<a href="/create_zfs_zvol?pool={{pool.pool_name}}" role="button" class="btn btn-primary"> Create a new block device volume</a>
{%endif%}
<hr>
<h4> Pool snapshots </h4>
{% if not snap_list %}
<p>No ZFS snapshots appear to have been created for this pool. </p>
<a href="/create_zfs_snapshot?target={{pool.pool_name}}" role="button" class="btn btn-primary">Create a pool snapshot </a>

{%else %}
<div style="width:95%;position: relative; margin: 5px 0px; padding: 9px 9px 4px; background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-radius: 4px 4px 4px 4px;">
<table  class="table table-bordered">
<tr>
<th >
Snapshot name
</th>
<th>
Target name
</th>
<th>
Target type
</th>
<th>
Created on 
</th>
<th >
Space consumed by snapshot
</th>
<th >
Space consumed by target
</th>
<th>
Destroy Snapshot
</th>
<th>
Rollback to snapshot
</th>
<th>
Rename this snapshot
</th>
</tr>
{%for d in snap_list %}
<tr>
<td>
{{d.snapshot_name}}
</td>
<td>{{d.dataset}}</td>
<td>{% if '/' in d.dataset%} Dataset {%else%} Pool{%endif%}</td>
<td>{{d.properties.creation.value}}</td>
<td>{{d.used}}</td>
<td>{{d.refer}}</td>
<td>
<a href="/delete_zfs_snapshot?name={{d.name}}&display_name={{d.snapshot_name}}&pool_name={{pool.pool_name}}" role="button" class="btn btn-danger"> Delete</a>
</td>
<td>
<a href="/rollback_zfs_snapshot?name={{d.name}}&pool_name={{pool.pool_name}}" role="button" class="btn btn-success"> Rollback</a>
</td>
<td>
<a href="/rename_zfs_snapshot?snapshot_name={{d.snapshot_name}}&ds_name={{d.dataset}}&pool_name={{pool.pool_name}}" role="button" class="btn btn-primary"> Rename</a>
</td>
</tr>
{%endfor%}
</table>
<a href="/create_zfs_snapshot?target={{pool.pool_name}}&pool={{pool.pool_name}}" role="button" class="btn btn-primary">Create a snapshot for this pool</a>
{%endif%}
{%endif%}
<a href="/schedule_zfs_snapshot?target={{pool.pool_name}}" role="button" class="btn btn-primary">Schedule/modify pool snapshots </a>
<hr>
<h4> Pool quotas </h4>
{% if not quotas.users and not quotas.groups%}
<p>No quotas appear to have been set for this pool. </p>
{%else %}
<div style="width:95%;position: relative; margin: 5px 0px; padding: 9px 9px 4px; background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-radius: 4px 4px 4px 4px;">
<table  class="table table-bordered">
<tr>
<th >
Name
</th>
<th >
Type
</th>
<th >
Quota
</th>
<th>
Remove quota
</th>
</tr>
{%for un, q in quotas.users.items %}
<tr>
  <td>
    {{un}}
  </td>
  <td>
    User
  </td>
  <td>
    {{q}}
  </td>
  <td>
    <a href="/remove_zfs_quota?path={{pool.pool_name}}&path_type=pool&ug_name={{un}}&ug_type=user&pool_name={{pool.pool_name}}" role="button" class="btn btn-danger"> Remove this quota</a>
  </td>
</tr>
{%endfor%}
{%for gn, q in quotas.groups.items %}
<tr>
  <td>
    {{gn}}
  </td>
  <td>
    Group
  </td>
  <td>
    {{q}}
  </td>
  <td>
    <a href="/remove_zfs_quota?path={{pool.pool_name}}&path_type=pool&ug_name={{gn}}&ug_type=group&pool_name={{pool.pool_name}}" role="button" class="btn btn-danger"> Remove this quota</a>
  </td>
</tr>
{%endfor%}
</table>
</div>
{%endif%}
<a href="/set_zfs_quota?path={{pool.pool_name}}&path_type=pool&ug_type=user&pool_name={{pool.pool_name}}" role="button" class="btn btn-primary">Add user quota</a>
<a href="/set_zfs_quota?path={{pool.pool_name}}&path_type=pool&ug_type=group&pool_name={{pool.pool_name}}" role="button" class="btn btn-primary">Add group quota</a>
<br><br>
<a href="/view_zfs_pools" role="button" class="btn btn-default">Back to pool list</a><br><br>
</div>
<p>
<!--
<a href="/create_zfs_pool" role="button" class="btn btn-default"> Create a new ZFS pool</a>-->

{%endblock%}
{%block help_header%}
View all ZFS pools
{%endblock%}
{%block help_body%}
  <p> This screen provides the list of all the ZFS pools that have been created on this IntegralStor system. To view details about a particular ZFS pool, please select the the desired pool from the list.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("view_zfs_pools_tab")
  </script>
{% endblock %}






