{% extends 'networking_base.html' %}
{%block tab_header %}
  NIC bond details
{%endblock%}
{%block global_actions %}
    <div class="btn-group btn-group-sm pull-right"  >
      <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-cog fa-fw"></i>&nbsp;Actions &nbsp;<span class="fa fa-caret-down" title="Toggle dropdown menu"></span> </a>
      <ul class="dropdown-menu">
        <li><a class="action-dropdown" href="/view_interfaces/" role="button" > <i class="fa fa-list fa-fw" ></i>&nbsp;Back to interface list</a></li>
        <li><a class="action-dropdown" href="/edit_interface_address?name={{name}}" ><i class="fa fa-cog fa-fw" ></i>&nbsp;Modify bond address..</a></li>
        {%if nic.up_status == 'up' %}
          <li><a class="action-dropdown" href="/set_interface_state?name={{name}}&state=down" style="color:red"><i class="fa fa-stop-circle-o fa-fw" ></i>&nbsp;Bring down this bond</a></li>
        {%else %}
          <li><a class="action-dropdown" href="/set_interface_state?name={{name}}&state=up" ><i class="fa fa-stop-play-o fa-fw" ></i>&nbsp;Bring up this bond</a></li>
        {%endif%}
          <li><a class="action-dropdown" href="/remove_bond?name={{name}}" role="button" style="color:red"><i class="fa fa-trash fa-fw" ></i>&nbsp;Remove this bond</a></li>
      </ul>
    </div>
{%endblock%}

{%block inside_content%}

  {% if not bond %}
    No information for the specified network bond. Click <a href="/view_interfaces/"> here</a> to view all network interfaces.
  {%else %}
    <div style="width:95%;position: relative; margin: 5px 0px; padding: 9px 9px 4px; background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-radius: 4px 4px 4px 4px;">
      <h5>Network bond name - {{name}}</h5>
      <table  class="table table-bordered">
        <tr>
          <th> IP Address </th>
          <td>
            {%if nic.bootproto == 'dhcp'%}
              DHCP Addressing - <br>
            {%elif nic.bootproto == 'static' %}
              Static Addressing - <br>
            {%endif%}
            {%if nic.addresses.AF_INET.0.addr %}
              Address - {{nic.addresses.AF_INET.0.addr}}<br>
              Netmask - {{nic.addresses.AF_INET.0.broadcast}}<br>
              Broadcast - {{nic.addresses.AF_INET.0.netmask}}
            {%else%}
               - 
            {%endif%}
          </td>
        </tr>
        <tr>
          <th> Gateways </th>
          <td>
            {%if nic.gateways %}
              {%for gw in nic.gateways %}
                {%if gw.2 %}
                  Default Gateway IP for this interface : {{gw.0}}
                {%else%}
                  Gateway IP : {{gw.0}}
                {%endif%}
              {%endfor%}
            {%else%}
              None configured 
            {%endif%}
          </td>
        </tr>
        <tr>
          <th> Bonding slaves </th>
          <td>
            {%for slave in bond.slaves %}
              {{slave}}, 
            {%endfor%}
          </td>
        </tr>
        <tr>
          <th> Active slaves </th>
          <td> {{bond.active_slave}} </td>
        </tr>
        <tr>
          <th> Bond status </th>
          <td> {{bond.mii_status}} </td>
        </tr>
        <tr>
          <th> Bonding mode </th>
          <td> {{bond.mode_str}} (Mode {{bond.mode_num}}) </td>
        </tr>
        <tr>
          <th> MTU </th>
          <td> {{bond.mtu}} </td>
        </tr>
        <tr>
          <th> Speed </th>
          <td> {{bond.speed}} </td>
        </tr>
      </table>
    </div>
  {%endif%}

{%endblock%}

{%block help_header%}
  View network bond details
{%endblock%}

{%block help_body%}
  <p> This screen provides details about the selected network bond that have been created on this IntegralStor system. </p>
{%endblock%}

{% block tab_active%}
  <script>
   make_tab_active("view_interfaces_tab")
   </script>
{% endblock %}
