{% extends 'networking_base.html' %}

{%block tab_header %}
  NIC details
{%endblock%}

{%block global_actions %}
    <div class="btn-group btn-group-sm pull-right"  >
      <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-cog fa-fw"></i>&nbsp;Actions &nbsp;<span class="fa fa-caret-down" title="Toggle dropdown menu"></span> </a>
      <ul class="dropdown-menu">
        {% if nic %}
          {%if nic.vlan %}
            <li><a class="action-dropdown" href="/view_interface?name={{parent_nic}}" ><i class="fa fa-list fa-fw"></i>&nbsp;Back to interface details</a></li>
          {%else%}
            <li><a class="action-dropdown" href="/view_interfaces/" ><i class="fa fa-list fa-fw"></i>&nbsp;Back to interface list</a></li>
          {%endif%}
          {% if not nic.slave_to %}
            <li><a class="action-dropdown" href="/update_interface_address?name={{name}}" ><i class="fa fa-cog fa-fw"></i>&nbsp;Modify interface address..</a></li>
          {%if not nic.vlan  and 'AF_INET' in nic.addresses  or nic.bootproto == 'dhcp' or nic.addresses.is_sysd_ip4 == True %}
            {%if nic.up_status == 'up' %}
              <li><a class="action-dropdown" href="/update_interface_state?name={{name}}&state=down" class="color:red"><i class="fa fa-stop-circle-o fa-fw"></i>&nbsp;Bring down this interface</a></li>
            {%else %}
              <li><a class="action-dropdown" href="/update_interface_state?name={{name}}&state=up" ><i class="fa fa-play-circle-o fa-fw"></i>&nbsp;Bring up this interface</a></li>
            {%endif%}
          {%endif%}
          {%endif%}
          <li><a class="action-dropdown" href="/create_vlan?nic={{name}}" role="button" ><i class="fa fa-plus fa-fw"></i>&nbsp;Create a VLAN</a></li>
        {%endif%}
      </ul>
    </div>
{%endblock%}
  
{%block inside_content %}

  {% if not nic %}
    No information for the specified network interface. Click <a href="/view_interfaces/"> here</a> to view all network interfaces.
  {%else %}

    <div style="width:95%;position: relative; margin: 5px 0px; padding: 9px 9px 4px; background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-radius: 4px 4px 4px 4px;">

      <h5>{%if nic.vlan%} VLAN name {%else%} Interface name {%endif%}- {{name}}</h5>
  
      <table  class="table table-striped">
        {%if not nic.vlan %}
          <tr>
            <th> MAC address </th>
            <td>
              {%if nic.addresses.AF_LINK.0.addr %}
                {{nic.addresses.AF_LINK.0.addr}}
              {%else%}
                 - 
              {%endif%}
            </td>
          </tr>
        {%endif%}
        <tr>
          <th> IP Address </th>
          <td>
            {%if nic.bootproto == 'dhcp'%}
              DHCP Addressing <br>
            {%elif nic.bootproto == 'static' %}
              Static Addressing
            {%endif%}
            {%if nic.addresses.AF_INET.0.addr %}
              Address - {{nic.addresses.AF_INET.0.addr}}<br>
              Netmask - {{nic.addresses.AF_INET.0.netmask}}<br>
              Broadcast - {{nic.addresses.AF_INET.0.broadcast}}
            {%else%}
               - 
            {%endif%}
          </td>
        </tr>
        <tr>
          <th> Gateways </th>
          <td>
            {%if nic.gateways %}
              {%for gw in nic.gateways %}
                {%if gw.2 %}
                  Default Gateway IP : {{gw.0}}
                {%else%}
                  Gateway IP : {{gw.0}}
                {%endif%}
              {%endfor%}
            {%else%}
              None configured 
            {%endif%}
          </td>
        </tr>
        {%if not nic.vlan %}
          <tr>
            <th> Bonding status </th>
            <td>
              {% if nic.slave_to %}
                Slave to {{nic.slave_to}}
              {%else%}
                Not bonded
              {%endif%}
            </td>
          </tr>
          <tr>
            <th> Cable connected?  </th>
            <td> {{nic.carrier_status}} </td>
          </tr>
          <tr>
            <th> Interface up?  </th>
            <td> {{nic.up_status}} </td>
          </tr>
        {%endif%}
        <tr>
          <th> MTU </th>
          <td> {{nic.mtu}} </td>
        </tr>
        {%if not nic.vlan %}
          <tr>
            <th> Speed </th>
            <td> {{nic.speed}} </td>
          </tr>
        {%endif%}
      </table>
      <hr>
  
      <h5> VLANs</h5>
      {%if vlans %}
        <table  class="table table-striped">
          <tr>
            <th> VLAN ID </th>
            <th> Configuration </th>
            <th> Actions  </th>
          </tr>
          {%for vlan_dict in vlans%}
          <tr>
            <td> {{vlan_dict.vlan_id}} </td>
            <td>
              {%if vlan_dict.info.bootproto == 'dhcp'%}
                DHCP Addressing <br>
              {%elif vlan_dict.info.bootproto == 'static' %}
                Static Addressing
              {%endif%}
              {%if vlan_dict.info.addresses.AF_INET.0.addr %}
                Address - {{vlan_dict.info.addresses.AF_INET.0.addr}}<br>
                Netmask - {{vlan_dict.info.addresses.AF_INET.0.broadcast}}<br>
                Broadcast - {{vlan_dict.info.addresses.AF_INET.0.netmask}}
              {%else%}
                 - 
              {%endif%}
            </td>
            <td>
              <div class="btn-group btn-group-xs ">
              <a class="btn btn-default btn-sm dropdown-toggle " data-toggle="dropdown" href="#"> <i class="fa fa-cog fa-fw" ></i>&nbsp;Actions <span class="fa fa-caret-down" title="Toggle dropdown menu"></span> </a>
              <ul class="dropdown-menu">
                <li><a class="action-dropdown" href="/update_interface_address?name={{vlan_dict.name}}" ><i class="fa fa-cog fa-fw" ></i>&nbsp;Modify configuration</a></li>
                <li><a class="action-dropdown" href="/delete_vlan?name={{vlan_dict.name}}" style="color:red"><i class="fa fa-trash fa-fw" ></i>&nbsp;Remove this VLAN</a></li>
              </ul>
              </div>
            </td>
          </tr>
          {%endfor%}
        </table>
      {%else%}
          No VLANs configured for this interface.<br><br>
      {%endif%}
    </div>
  {%endif%}

{%endblock%}

{%block help_header%}
  View network interface details
{%endblock%}

{%block help_body%}
  <p> This screen provides details about the selected network interface that have been created on this IntegralStor system. </p>
{%endblock%}

{% block tab_active%}
  <script>
    make_tab_active("view_interfaces_tab")
  </script>
{% endblock %}
