{% extends 'users-groups_base.html' %}
{%block tab_header %}
Local user groups
{%endblock%}

{% block inside_content %}
<br><br>


{% if conf %}
  <p class="text-green">{{conf}}</p><br><br>
{%endif%}
{% if warnings %}
<i>The following problems occurred during the process : {{warnings}}</i><br><br>
{%endif%}

{% if not group_list %}
No local groups appear to have been created. Click <a href="/create_local_group/"> here</a> to create a new local group. 
{%else %}
<div style="width:95%;position: relative; margin: 5px 0px; padding: 9px 9px 4px; background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-radius: 4px 4px 4px 4px;">
<table class="table table-striped">
<thead>
<tr>
<th>
Groupname
</th>
<th>
&nbsp;
</th>
</thead>
{%for g in group_list %}
<tr>
  <td>
    {{g.grpname}}
  </td>
  <td>
    <a href="/view_local_group?grpname={{g.grpname}}&searchby=grpname" role="button" class="btn btn-info"> View details</a>
  </td>
</tr>
{%endfor%}
</table>
</div>
<br>
<a href="/create_local_group" role="button" class="btn btn-primary"> Create a new local group</a>
{%endif%}

{%endblock%}
{%block help_header%}
View local groups 
{%endblock%}
{%block help_body%}
{%endblock%}
