{% extends 'shares_base.html' %}

{%block tab_header %}
  ISCSI target details
{%endblock%}

{% block inside_content %}

  <h5> Target details :</h5>

  <table class="table table-bordered">
    <tr>
      <th> Target ID: </th>
      <td> {{ target.tid }} </td>
    </tr>
    <tr>
      <th> Target Name: </th>
      <td> {{ target.iqn }} </td>
    </tr>
  </table>

  <h5> LUNs:</h5>

  {%if target.luns  %}
    <table class="table table-bordered">
      <tr>
        <th> Type </th>
        <th> Backing storage </th>
        <th> Action </th>
      </tr>
      {%for lun in target.luns %}
          <tr>
            <td> {{lun.type}}</td>
            {%if lun.type == 'disk'%}
              <td> {{lun.path}} </td>
              <td>
                <a href="/delete_iscsi_lun?target_name={{target.iqn}}&store={{lun.path}}" role="button" class="btn btn-danger btn-xs"> Remove this LUN </a>
              </td>
            {%else%}
              <td> - </td>
              <td> - </td>
            {%endif%}
          </tr>
      {%endfor%}
    </table>
  {%else%}
    No LUNs created
  {%endif%}


  <br/><br/>
  <h5> User based authentication:</h5>
  {%if target.accounts %}
    <table class="table table-bordered">
      <tr>
        <th> Username </th>
        <th> Authentication type </th>
        <th> Action </th>
      </tr>
      {%for account in target.accounts %}
        <tr>
          <td> {{account.user}} &nbsp; </td>
          <td>
            {%if account.type == 'incoming'%}
              Initiator authentication
            {%else%}
              Target authentication
            {%endif%}
          </td>
          <td>
            <a href="/remove_iscsi_user_authentication?target_name={{target.iqn}}&username={{account.user}}&authentication_type={{account.type}}" role="button" class="btn btn-danger btn-xs"> Remove this user </a>
          </td>
        </tr>
      {%endfor%}
    </table>
  {%else%}
    None defined
  {%endif%}
  <p>

  <br/><br/>
  <h5> ACLs (Authorized IPs/Initiators) :</h5>
  <table class="table table-bordered">
    {% for acl in target.acl %}
      <tr>
        <td> {{acl}} </td>
        <td>
          <a href="/remove_iscsi_acl?target_name={{target.iqn}}&acl={{acl}}" role="button" class="btn btn-danger btn-xs"> Remove this ACL</a>
        </td>
      </tr>
    {%endfor%}
  </table>
  <hr>

  <p>
  <div class="btn-group btn-group-sm" role="group" aria-label="...">
    <a href="/create_iscsi_lun?target_name={{target.iqn}}" role="button" class="btn btn-primary btn-sm"> Add a LUN</a>
    <a href="/add_iscsi_user_authentication?target_name={{target.iqn}}&authentication_type=incoming" role="button" class="btn btn-primary"> Add an initiator authentication user</a>
    <a href="/add_iscsi_user_authentication?target_name={{target.iqn}}&authentication_type=outgoing" role="button" class="btn btn-primary"> Add a target authentication user</a>
    <a href="/add_iscsi_acl?target_name={{target.iqn}}" role="button" class="btn btn-primary btn-sm"> Add an ACL</a>
  </div><br><br>
  <div class="btn-group btn-group-sm" role="group" aria-label="...">
    <a href="/view_iscsi_targets" role="button" class="btn btn-default"> Back to targets list</a>
    <a href="/delete_iscsi_target?target_name={{target.iqn}}" role="button" class="btn btn-danger">Delete this ISCSI target</a>
  </div>
  </p>
 <br> <br>

{%endblock%}

{%block help_header%}
  ISCSI target details
{%endblock%}

{%block help_body%}
<p>Use this screen to view details about a particular ISCSI targetthat has been created. </p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("view_iscsi_targets_tab")
  </script>
{% endblock %}
