{% extends 'nfs_base.html' %}

{% block inside_content %}

<p style="color:red;"> {{form.errors}}</p>
{{conf_message}}

            <table class="table table-bordered">
            <tr>
              <th>
            Share path:
              </th>
              <td>
            {{ share_info.path }}
              </td>
            </tr>
            {%if share_info.options%}
            <tr>
              <th>
            Default client options:
              </th>
              <td>
              {% for o in share_info.options %}
              {%if o == 'rw' %} Read/Write,
              {%elif o == 'ro' %} Read only,
              {%elif o == 'sync' %} Synchronous,
              {%elif o ==  'async'%} Asynchronous,
              {%elif o ==  'subtree_check'%} Subtree checking,
              {%elif o ==  'root_squash'%} Root squash,
              {%elif o ==  'no_root_squash'%} No root squash,
              {%elif o ==  'all_squash'%} All squash,
              {%elif o ==  'no_all_squash'%} No all squash,
              {%elif o ==  'insecure'%} Accept insecure ports,
              {%endif%}
              {%endfor%}
              </td>
            </tr>
            {%endif%}
            {% if share_info.clients %}
            <tr>
            <td colspan=2>
              &nbsp;
            </td>
            </tr>
            <tr>
              <th >
            Client
              </th>
              <th >
            Options
              </th>
            </tr>
            {%for c in share_info.clients %}
            <tr>
              <td >
              {{c.name}}
              </th>
              <td >
              {%if c.options%}
              {%for o in c.options %}
              {%if o == 'rw' %} Read/Write,
              {%elif o == 'ro' %} Read only,
              {%elif o == 'sync' %} Synchronous,
              {%elif o ==  'async'%} Asynchronous,
              {%elif o ==  'subtree_check'%} Subtree checking,
              {%elif o ==  'root_squash'%} Root squash,
              {%elif o ==  'no_root_squash'%} No root squash,
              {%elif o ==  'all_squash'%} All squash,
              {%elif o ==  'no_all_squash'%} No all squash,
              {%elif o ==  'insecure'%} Accept insecure ports,
              {%endif%}
              {%endfor%}
              {%else%}
              None
              {%endif%}
              </td>
            </tr>
            
            {%endfor%}
            {%endif%}
            </table>

<a href="/view_nfs_shares" role="button" class="btn btn-default"><< NFS Shares list</a>
<a href="/edit_nfs_share?path={{share_info.path}}" role="button" class="btn btn-default">Modify..</a>
<a href="/delete_nfs_share?path={{share_info.path}}" role="button" class="btn btn-default">Delete this NFS share..</a>


{%endblock%}
{%block help_header%}
NFS Share details
{%endblock%}
{%block help_body%}
<p>Use this screen to view details about a particular NFS share that has been created. </p>
{%endblock%}
