{% extends 'admin_base.html' %}

{%block tab_header %}
  Integralview access mode
{%endblock%}

{% block inside_content %}

  {% if port == 443 %}
    IntegralView is currently set to use the <b>secure mode using the HTTPS protocol</b>.
    <br><br>
    <a href="/edit_https_mode?change_to=nonsecure" role="button" class="btn btn-default btn-sm"> <i class="fa fa-cog fa-fw" ></i>&nbsp;Change to non-secure access mode</a>
  {%else%}
    IntegralView is currently set to use the <b>non secure mode using the HTTP protocol</b>.
    <br><br>
    <a href="/edit_https_mode?change_to=secure" role="button" class="btn btn-default btn-sm"> <i class="fa fa-cog fa-fw" ></i>&nbsp;Change to secure access mode</a>
  {%endif%}

{%endblock%}

{%block help_header%}
  Integralview access mode
{%endblock%}

{%block help_body%}
  This screen displays the current mode of accessing IntegralView. If you would like to change the mode, please click on the button.
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("https_tab")
  </script>
{% endblock %}
