{% extends 'networking_base.html' %}
{%block tab_header %}
System hostname
{%endblock%}

{% block inside_content %}
<br><br>

{% if conf %}
<p class="text-green"><i>{{conf}}</i></p>
{%endif%}

{% if not hostname %}
No hostname set.
{%else %}
<div style="width:95%;position: relative; margin: 5px 0px; padding: 9px 9px 4px; background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-radius: 4px 4px 4px 4px;">
<table  class="table table-bordered">
<tr>
<th>
Hostname
</th>
<td>
{{hostname}}
</td>
</tr>
<tr>
<th>
Domain name
</th>
<td>
{%if domain_name%}
{{domain_name}}
{%else%}
No domain name set.
{%endif%}
</td>
</tr>
</table>
<a href="/edit_hostname" role="button" class="btn btn-primary">Edit hostname and domain name</a>
{%endif%}
</div>
<p>

{%endblock%}
{%block help_header%}
View hostname and domain name
{%endblock%}
{%block help_body%}
  <p> This screen provides details about the hostname and domain name of this IntegralStor system. </p>
{%endblock%}

{% block tab_active %}
  <script>
   make_tab_active("view_hostname_tab")
  </script>
{% endblock %}
