{% extends 'logged_in_base.html' %}
<script type="text/javascript">
function set_field_visibility() {
  var guest_ok = document.forms["create_form"].elements["guest_ok"];
  var guest_ok_val;
  for(var i = 0; i < guest_ok.length; i++){
    if(guest_ok[i].checked){
        guest_ok_val = guest_ok[i].value;
    }
  }
  if (guest_ok_val=="yes") {
    set_select_field_disabled(document.forms["create_form"].elements["users"], true);
  } else {
    set_select_field_disabled(document.forms["create_form"].elements["users"], false);
  } 
}
function set_select_field_disabled(f, val) {
  for(var i = 0; i < f.length; i++)
    f[i].disabled = val
}
function select_guest_ok() {
  for (var i=0;i<2;i++)
    if (document.forms["create_form"].elements["guest_ok"][i].value == "no")
      document.forms["create_form"].elements["guest_ok"][i].checked = true;
}
</script>

{%block page-header%}
  File Access
  <br /><small>
      File Access 
      <i class="fa fa-angle-double-right smaller-80"></i>
      Shares 
      <i class="fa fa-angle-double-right smaller-80"></i>
      View Share

  </small>
{%endblock%}

{%block contents%}

<p style="color:red;"> {{form.errors}}</p>
{{conf_message}}

            <table class="table table-bordered">
            <tr>
              <th>
            Share name:
              </th>
              <td>
            {{ share.name }}
              </td>
            </tr>
            <tr>
              <th>
            Volume:
              </th>
              <td>
              {{share.vol}}
              </td>
            </tr>
            <tr>
              <th>
            Directory in volume:
              </th>
              <td>
            {{ share.display_path }}
              </td>
            </tr>
            <tr>
              <th>
            Description:
              </th>
              <td>
            {{ share.comment }}
              </td>
            </tr>
            <tr>
              <th>
            Permissions
              </th>
              <td>
                {% if share.read_only %}
                  Readonly
                {%else%}
                  Read/Write
                {%endif%}
              </td>
            </tr>
            <tr>
              <th>
            Visibility
              </th>
              <td>
                {% if share.browseable %}
                  Browseable
                {%else%}
                Hidden
                {%endif%}
              </td>
            </tr>
            <tr>
              <th>
            Access control
              </th>
              <td>
                {% if share.guest_ok %}
                  Accessable to everyone (Guest ok)
                {%else%}
                  Accessable only to {%if valid_users_list%}{%for user in valid_users_list%}{%if forloop.counter > 1%}, {%endif%}{{user.name}}{%if user.grp %}(Group) {%else%}(User){%endif%}{%endfor%}{%endif%}{{validusers}}
                {%endif%}
              </td>
            </tr>
            </table>

<a href="/display_shares" role="button" class="btn btn-default"><< Share list</a>
<a href="/edit_share?share_id={{share.share_id}}" role="button" class="btn btn-default">Modify..</a>
<a href="/delete_share?share_id={{share.share_id}}&name={{share.name}}" role="button" class="btn btn-default">Delete this share..</a>


{%endblock%}
{%block help_header%}
Share details
{%endblock%}
{%block help_body%}
<p>Use this screen to view details about a particular share that has been created. </p>
{%endblock%}
