{% extends 'services_base.html'%}

{% block tab_header %}
  View FTP service configuration
{% endblock %}

{%block global_actions %}
  <div class="btn-group btn-group-sm pull-right" >
    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Click to modify Windows services settings" href="#"> <i class="fa fa-cog fa-fw"></i> Actions&nbsp;<span class="fa fa-caret-down" title="Toggle dropdown menu"></span> </a>
    <ul class="dropdown-menu">
      <li><a class="action-dropdown" href="/update_ftp_configuration" role="button" ><i class="fa fa-cog fa-fw"></i>&nbsp;Modify configuration</a></li>
      <li><a class="action-dropdown" href="/create_ftp_user_dirs" class="cover-page"><i class="fa fa-plus fa-fw"></i>&nbsp;Create FTP user directories</a></li>
    </ul>
  </div>
{%endblock%}

{% block inside_content %}
  {%if not config %}
    There seems to be a problem in retrieving the FTP service configuration. Has FTP been configured before?<br><br>
  {%else%}
    <table class="table" >
      <tr>
        <th> Base dataset for FTP data </th>
        <td> {{config.dataset}} </td>
      </tr>
      <tr>
        <th> SSL(TLS) enabled?  </th>
        <td>
          {%if config.ssl_enabled %}
            Yes
          {%else%}
            No
          {%endif%}
        </td>
      </tr>
      {%if config.ssl_enabled%}
        <tr>
          <th> Certificate in use </th>
          <td> {{config.cert_name}} </td>
        </tr>
      {%endif%}
    </table>
  {%endif%}
	
{% endblock %}

{% block tab_active %}
  <script>
    make_tab_active("ftp_service_settings")
  </script>
{% endblock %}

{%block help_header%}
  View FTP configuration
{%endblock%}

{%block help_body%}
  <p>Use this screen to view details about FTP service configuration. </p>
{%endblock%}

