{% extends 'logged_in_base.html' %}

{%block page-header%}
  Users and groups
  <br /><small>
      Users and groups
      <i class="fa fa-angle-double-right smaller-80"></i>
      View Local group

  </small>
{%endblock%}

{%block contents%}

{{conf}}

            <table class="table table-bordered">
            <tr>
              <th>
            Group name:
              </th>
              <td>
            {{ group.grpname }}
              </td>
            </tr>
            <tr>
              <th>
            Members :
              </th>
              <td>
                {%for m in  group.members %}
                {{m}},
                {%endfor%}
              </td>
            </tr>
            </table>

 <a href="/view_local_groups" role="button" class="btn btn-default"> << Back to group list</a>
 <a href="/delete_local_group?grpname={{group.grpname}}" role="button" class="btn btn-default"> Delete this group</a>

{%endblock%}
{%block help_header%}
Local group details
{%endblock%}
{%block help_body%}
<p>Use this screen to view details about a particular group that has been created. </p>
{%endblock%}
