{% extends 'logging_base.html' %}

{%block tab_header %}
    System alerts
{%endblock%}

{% block inside_content %}
  <p> *Repeat count is within 15 minutes of first report time </p>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th style="width:15%;text-align:center"> First reported time </th>
        <th style="width:5%;text-align:center"> Repeat count* </th>
        <th style="width:5%;text-align:center" > Subsystem </th>
        <th style="width:5%;text-align:center"> Component </th>
        <th style="width:5%;text-align:center"> Severity </th>
        <th style="width:65%;text-align:center"> Details </th>
      </tr>
    </thead>
    {% if alerts_list %}
      {% for a in alerts_list %}
        <tr {%if a.severity_id == 3%} style="background-color:red" {%elif a.severity_id == 2%} style="background-color:orange"{%endif%}>
          <td style="text-align:center">
            {{a.first_alert_time}}
          </td>
          <td style="text-align:center">
            {{a.repeat_count}}
          </td>
          <td style="text-align:center">
            {{a.subsystem|safe}}
          </td>
          <td style="text-align:center">
            {{a.component|safe}}
          </td>
          <td style="text-align:center">
            {{a.severity|safe}}
          </td>
          <td>
            {{a.alert_str|safe}}
          </td>
        </tr>
      {%endfor%}
    {%endif%}
  </table>


{%endblock%}

{%block help_header%}
  View alerts 
{%endblock%}

{%block help_body%}
  <p>The IntegralStor system constantly monitors the health of all GRIDCells. If any problems are found in any components of the GRIDCells, then an alert is generated. This page lists all the alerts that have been raised. If an email server setting has been configured in IntegralView then the alerts will also be emailed to the specified addresses.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("alerts_tab")
  </script>
{% endblock %}
