{% extends 'logging_base.html' %}

{%block tab_header %}
  {%if historical %}
    Rotated system audit trail
  {%else%}
    System audit trail
  {%endif%}
{%endblock%}

{%block inside_content %}

  <div style="width:95%;position: relative; margin: 0px 0px; padding: 9px 9px 4px; background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-radius: 4px 4px 4px 4px;">
    <table  class="table table-hover">
      <thead>
        <tr>
          <th> Time </th>
          <th> Action </th>
          <th> Details </th>
          <th> Initiated from </th>
        </tr>
      </thead>
      {%for d in audit_list %}
        <tr>
          <td> {{d.time}} </td>
          <td> {{d.action}} </td>
          <td> {{d.action_str}} </td>
          <td>
            {% if d.ip == "0.0.0.0"%}
              Batch process
            {%else%}
              {{d.ip}}
            {%endif%}
          </td>
        </tr>
      {%endfor%}
    </table>

    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      {%if audit_list and not historical%}
        <a href="/rotate_log/audit_trail" class="btn btn-primary">Rotate audit logs </a>
      {%endif%}
      <br>
      {% if historical %}
        <a href="/view_rotated_log_list/audit_trail/" role="button" class="btn btn-default">Back to log list</a>
      {%endif%}
    </div>

  </div>


{%endblock%}

{%block help_header%}
Audit trail
{%endblock%}

{%block help_body%}
  <p>The IntegralView system keeps a record of all system modifications that have been done using Integral View. This audit trail page lists these actions along with the time when they were performed and the IP address from where the action was initiated. This can be used to track down potentially harmful actions.</p>
{%endblock%}

{% block tab_active %}
  <script>
  {%if historical %}
    make_tab_active("view_rotated_audit_log_list_tab")
  {%else%}
    make_tab_active("view_current_audit_tab")
  {%endif%}
  </script>
{% endblock %}

