{% extends 'networking_base.html' %}

{%block tab_header %}
  Network interfaces and bonds
{%endblock%}

{%block global_actions %}
    <a href="/create_bond" class="btn btn-default btn-sm pull-right" style="color:#000" title="Click here to create a new network bond"> <i class="fa fa-plus-square-o fa-fw " ></i>&nbsp;Create new bond</a>
{%endblock%}

{% block inside_content %}

  <h5> Network interfaces </h5>

  {% if not nics %}
    <p>No network interfaces appear to be present. </p>
  {%else %}
    <div style="width:100%;position: relative; margin: 5px 0px; padding: 9px 9px 4px; background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-radius: 4px 4px 4px 4px;">
      <table  class="table table-bordered" style="width:95%">
        <tr>
          <th > Interface name </th>
          <th> Cable connected </th>
          <th> Interface up?  </th>
          <th> NIC bonding</th>
          <th> IP configured?  </th>
          <th> VLAN IDs </th>
          <th> &nbsp;</th>
        </tr>
        {%for name, d in nics.items %}
          {%if not d.bonding_master and name != 'lo' and not d.vlan%}
            <tr>
              <td> {{name}} </td>
              <td> {{d.carrier_status}} </td>
              <td> {{d.up_status}} </td>
              <td>
                {%if d.slave_to %}
                  Slave to {{d.slave_to}}
                {%else%}
                  Not bonded
                {%endif%}
              </td>
              <td>
                {% if 'AF_INET' in d.addresses  or d.bootproto == 'dhcp' or d.addresses.is_sysd_ip4 == True%}
                  Yes
                {%else%}
                  No
                {%endif%}
              </td>
              <td>
                {%if d.vlan_ids %}
                  {{d.vlan_ids|join:", "}}
                {%else%}
                  None
                {%endif%}
              </td>
              <td>
                <div class="btn-group btn-group-xs pull-right" >
                  <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#" title="Click for interface specific actions"> <i class="fa fa-cog fa-fw"></i>Actions&nbsp;<span class="fa fa-caret-down" title="Toggle dropdown menu"></span> </a>
                  <ul class="dropdown-menu">
                    <li><a class="action-dropdown" href="/view_interface?name={{name}}"> <i class="fa fa-cog fa-fw"></i>&nbsp;View details and configure</a></li>
                    {% if not d.slave_to %}
                      <li><a class="action-dropdown" href="/update_interface_address?name={{name}}" ><i class="fa fa-exchange fa-fw"></i>&nbsp;Edit interface address..</a></li>
                    {%endif%}
                    {%if not d.vlan %}
                      {%if d.up_status == 'up' %}
                        <li><a class="action-dropdown" href="/update_interface_state?name={{name}}&state=down" style="color:red"><i class="fa fa-stop-circle fa-fw"></i>&nbsp;Bring down this interface</a></li>
                      {%else %}
                        <li><a class="action-dropdown" href="/update_interface_state?name={{name}}&state=up"><i class="fa fa-play-circle fa-fw"></i>&nbsp;Bring up this interface</a></li>
                      {%endif%}
                    {%endif%}
                  </ul>
                </div>
              </td>
            </tr>
          {%endif%}
        {%endfor%}
      </table>
    </div>
  {%endif%}

  <p>
  <h5> Network bonds </h5>
  {% if not bonds %}
    <p>No network bonds appear to be present. </p>
  {%else %}
    <div style="width:95%;position: relative; margin: 5px 0px; padding: 9px 9px 4px; background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-radius: 4px 4px 4px 4px;">
      <table  class="table table-bordered">
        <tr>
          <th > Bond name </th>
          <th> Mii status </th>
          <th> Bonding mode </th>
          <th> Slaves </th>
          <th> IP configured?  </th>
        </tr>
        {%for name, d in bonds.by_master.items %}
          <tr>
            <td> {{name}} </td>
            <td> {{d.mii_status}} </td>
            <td> {{d.mode_str}} (Mode {{d.mode_num}}) </td>
            <td>
              {%for slave in d.slaves %}
                {{slave}},
              {%endfor%}
            </td>
            <td>
              {% for ifname, iface in nics.items %}
                {% if ifname == name %}
                  {%if 'AF_INET' in iface.addresses %}
                    Yes
                  {%else%}
                    No
                  {%endif%}
                {%endif%}
              {%endfor%}
            </td>
            <td>
              <div class="btn-group btn-group-xs pull-right" >
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#" title="Click for interface specific actions"> <i class="fa fa-cog fa-fw"></i>Actions&nbsp;<span class="fa fa-caret-down" title="Toggle dropdown menu"></span> </a>
                <ul class="dropdown-menu">
                  <li><a href="/view_bond?name={{name}}" role="button" > <i class="fa fa-cog fa-fw"></i>&nbsp;View details and configure</a></li>
                  <li><a href="/update_interface_address?name={{name}}" ><i class="fa fa-exchange fa-fw"></i>&nbsp;Edit bond address..</a></li>
                  <!--
                  {%if d.up_status == 'up' %}
                    <li><a href="/update_interface_state?name={{name}}&state=down" style="color:red"><i class="fa fa-stop-circle fa-fw" ></i>&nbsp;Bring down this bond</a></li>
                  {%else %}
                    <li><a href="/update_interface_state?name={{name}}&state=up" ><i class="fa fa-play-circle fa-fw"></i>&nbsp;Bring up this bond</a></li>
                  {%endif%}
                  -->
                    <li><a href="/delete_bond?name={{name}}" role="button" style="color:red"><i class="fa fa-trash fa-fw"></i>&nbsp;Remove this bond</a></li>
                </ul>
              </div>
            </td>
          </tr>
        {%endfor%}
      </table>
    {%endif%}

{%endblock%}

{%block help_header%}
  View all network interfaces
{%endblock%}

{%block help_body%}
  <p> This screen provides the list of all the network interfaces that have been created on this IntegralStor system. To view details about a particular network interface, please select the the desired interface from the list.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("view_interfaces_tab")
  </script>
{% endblock %}
