{% extends 'users-groups_base.html' %}

{%block tab_header %}
  Local user groups
{%endblock%}

{%block global_actions %}
  <a class="btn btn-default btn-sm pull-right"  href="/create_local_group" title="Create a new local group" style="color:#000"> <i class="fa fa-plus-square-o fa-fw "></i>&nbsp;Create new group </a>
{%endblock%}

{% block inside_content %}

  {% if warnings %}
    <i>The following problems occurred during the process : {{warnings}}</i><br><br>
  {%endif%}

  {% if not group_list %}
    No local groups appear to have been created. Click <a href="/create_local_group/"> here</a> to create a new local group. 
  {%else %}
    <div class="table-responsive" style=";width:100%;padding:0px 5px 0px 5px;margin-left:00px;margin-right:20px;border:1px solid #f4f4f4;height:350px;-webkit-overflow-scrolling: touch;">
      <table class="table table-striped">
        <thead>
          <tr>
            <th> Groupname </th>
            <th> Members </th>
            <th> Actions </th>
          </tr>
        </thead>
        {%for g in group_list %}
          <tr>
            <td> {{g.grpname}} </td>
            <td> {{g.members|join:","}} </td>
            <td> 
              <div class="btn-group btn-group-xs" >
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-cog fa-fw">&nbsp; </i>Actions <span class="fa fa-caret-down" title="Toggle dropdown menu"></span> </a>
                <ul class="dropdown-menu">
                  <li><a class="action-dropdown" href="/modify_group_membership?grpname={{g.grpname}}" > <i class="fa fa-cog fa-fw"></i>&nbsp;Modify group membership</a>
                  <li><a class="action-dropdown" href="/delete_local_group?grpname={{g.grpname}}" style="color:red"><i class="fa fa-trash fa-fw"></i>&nbsp; Delete this group</a>
                </ul>
              </div>
            </td>
          </tr>
        {%endfor%}
      </table>
    </div>
  {%endif%}

{%endblock%}

{%block help_header%}
  View local groups 
{%endblock%}

{%block help_body%}
{%endblock%}
