{% extends 'storage_base.html' %}

{%block tab_header %}
  Basic ZFS pool information and usage
{%endblock%}

{%block inside_content %}

  {% if not pool %}
    No information for the specified pool. Click <a href="/view_zfs_pools/"> here</a> to view all ZFS storage pools.
  {%else %}

    <div class="row" style="width:100%;margin:0 auto;border:0px solid">
      <div class="col-sm-9 form-group">
        <form class="form-horizontal"> 
          <label for="inputPassword" class="col-sm-2 control-label">View : </label>
          <div class="col-sm-8">
            <select class="form-control" onchange="$('.lightbox').show();location = this.options[this.selectedIndex].value;">
              <option value="/view_zfs_pool?name={{pool.pool_name}}&view=basic" selected="selected">Basic information and usage</option>
              <option value="/view_zfs_pool?name={{pool.pool_name}}&view=components" >Disk components, read & write caches and hot spares</option>
              <option value="/view_zfs_pool?name={{pool.pool_name}}&view=datasets_and_zvols">Filesystem datasets & block device volumes</option>        
              <!-- <option value="/view_zfs_pool?name={{pool.pool_name}}&view=quotas" >Pool quotas</option> -->
            </select>
          </div>
        </form>
      </div>
      <div class="col-sm-3 btn-group btn-group-sm pull-right"  style="border:0px solid">
        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-cog fa-fw"></i>&nbsp;Actions <span class="fa fa-caret-down" title="Toggle dropdown menu"></span> </a>
        <ul class="dropdown-menu">
          <li><a class="action-dropdown" href="/create_zfs_dataset?pool={{pool.pool_name}}&parent={{pool.pool_name}}"  title="Create a new file system dataset" > <i class="fa fa-plus fa-fw"></i>Create a new dataset</a> 
          <li><a class="action-dropdown" href="/create_zfs_zvol?pool={{pool.pool_name}}"  title="Create a new block device volume" > <i class="fa fa-plus fa-fw"></i>Create a new block device volume</a> 
          <li class="divider"></li>
          <li> <a class="action-dropdown" href="/scrub_zfs_pool?name={{pool.pool_name}}"><i class="fa fa-lemon-o fa-fw" ></i>Initiate a scrub</a>
          <li class="divider"></li>
          <li><a class="action-dropdown" href="/export_zfs_pool?pool_name={{pool.pool_name}}" style="color:red" title=""> <i class="fa fa-cloud-download fa-fw" ></i>Export this pool</a>
          <li><a class="action-dropdown" href="/delete_zfs_pool?name={{pool.pool_name}}" style="color:red" title=""> <i class="fa fa-trash-o fa-fw" ></i>Delete this pool</a>
          <li class="divider"></li>
          <li> <a class="action-dropdown" href="/view_zfs_pools"><i class="fa fa-list fa-fw" ></i>Back to pool list</a>
        </ul>
      </div>
    </div>

    <hr/>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h5 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Basic pool information <span class="caret"></span>
            </a>
          </h5>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
              <table class="table table-bordered table-hover table-responsive" style="width:800px">
                <tr><th> Pool name </th> <td><b>{{pool.pool_name}}</b></td></tr>
                <tr><th> Pool type </th> <td>{{pool.config.pool.type.upper}}</td></tr>
                <tr><th> Pool state </th> <td>{{pool.state}}</td></tr>
                <tr><th> Pool errors </th> <td>{{pool.errors}}</td></tr>
                <tr> <th> Pool scan </th> <td>{{pool.scan}}</td></tr>
              </table>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading2">
          <h5 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
              Pool Usage <span class="caret"></span>
            </a>
          </h5>
        </div>
        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
          <div class="panel-body">
              <div class="progress" style="background: rgba(204, 188, 188, 1); border: 1px solid rgba(245, 245, 245, 1); ">
                <div class="progress-bar {%if pool.usage.capacity.value > 50 and pool.usage.capacity.value < 70 %}  progress-bar-warning {%elif pool.usage.capacity.value >= 70 %}  progress-bar-danger{%else%} progress-bar-info {%endif%}" role="progressbar" aria-valuenow="{{pool.usage.capacity.value}}" aria-valuemin="0" aria-valuemax="100" style="{%if pool.usage.capacity.value %} width: {{pool.usage.capacity.value}}%;{%endif%}min-width: 3em;">
                  {{pool.usage.capacity.value|floatformat}}%
                </div>
              </div>
              <table class="table table-bordered table-hover table-responsive" style="width:800px">
                <tr><th> Space available for data </th> <td>{{pool.usage.available_for_data.value}}{{pool.usage.available_for_data.unit}}<td></tr>
                <tr><th> Space consumed by data </th> <td>{{pool.usage.used_by_data.value}}{{pool.usage.used_by_data.unit}}<td></tr>
                <tr><th> Raw space from all data disks </th> <td>{{pool.usage.size.value}}{{pool.usage.size.unit}}<td></tr>
                <tr><th> Space consumed by data & metadata </th> <td>{{pool.usage.allocated.value}}{{pool.usage.allocated.unit}}<td></tr>
                <tr><th> Space consumed percentage </th> <td>{{pool.usage.capacity.value}}{{pool.usage.capacity.unit}}<td></tr>
                <tr><th> Pool dedup </th> <td>{{pool.usage.dedup}}<td></tr>
                {%if pool.usage.dedup == 'on'%}
                  <tr><th> Pool dedup ratio</th> <td>{{pool.usage.dedupratio.value}}{{pool.usage.dedupratio.unit}}<td></tr>
                {%endif%}
                <tr><th> Pool fragmentation percentage</th> <td>{{pool.usage.fragmentation.value}}{{pool.usage.fragmentation.unit}}<td></tr>
                <tr><th> Pool autoexpand </th> <td>{%if pool.usage.autoexpand%} Enabled {%else%} Disabled{%endif%}<td></tr>
              </table>
          </div>
        </div>
      </div>

    </div>
  {%endif%}
  
  <a href="/view_zfs_pools" role="button" class="btn btn-default btn-sm"> <i class="fa fa-list fa-fw" ></i> &nbsp;Back to pool list</a>

{%endblock%}

{%block help_header%}
  View basic ZFS pool information
{%endblock%}

{%block help_body%}
  <p> This screen displays the basic pool information and its usage properties.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("view_zfs_pools_tab")
  </script>
{% endblock %}


