{% extends 'shares_base.html' %}

{%block tab_header %}
  Windows share details
{%endblock%}

{%block inside_content %}

  <table class="table table-striped" width="300px;">
    <tr>
      <th> Share name: </th>
      <td> {{ share.name }} </td>
    </tr>
    <tr>
      <th> Share path : </th>
      <td> {{ share.path }} </td>
    </tr>
    <tr>
      <th> Description: </th>
      <td> {{ share.comment }} </td>
    </tr>
    <tr>
      <th> Writeable? </th>
      <td>
        {% if share.read_only %}
          Readonly
        {%else%}
          Read/Write
        {%endif%}
      </td>
    </tr>
    <tr>
      <th> Visibility </th>
      <td>
        {% if share.browseable %}
          Browseable
        {%else%}
          Hidden
        {%endif%}
      </td>
    </tr>
  </table>
  <div class="btn-group btn-group-sm" role="group" aria-label="...">
    <a href="/view_cifs_shares" role="button" class="btn btn-default">Back to share list</a>
    <a href="/edit_cifs_share?share_id={{share.share_id}}" role="button" class="btn btn-primary">Modify settings</a>
    <a href="/delete_cifs_share?share_id={{share.share_id}}&name={{share.name}}" role="button" class="btn btn-danger">Remove this share</a>
  </div>
  <h4> Access control </h4>
  {% include 'ace_management.html' %}

{%endblock%}

{%block help_header%}
  Share details
{%endblock%}

{%block help_body%}
<p>Use this screen to view details about a particular share that has been created. </p>
{%endblock%}

{% block tab_active %}
  <script>
   make_tab_active("view_cifs_shares_tab")
  </script>
{% endblock %}

