{% extends 'keys_certs_base.html' %}

{%block tab_header %}
  Upload a SSL certificate
{%endblock%}

{%block inside_content %}


  <form id="create_form" name="upload_form" action="" method="POST">
    {%csrf_token%}
    <table class="table" style="width:800px">
      <tr>
        <th> Certificate name: </th>
        <td>
          <input type="text"  name="name" class="form-control" id="id_name" placeholder="Enter a name of the certificate" />
        </td>
        <td> {{ form.name.errors }} </td>
      </tr>
      <tr>
        <th> Certificate :</th>
        <td> {{form.certificate}} </td>
        <td> {{ form.certificate.errors }} </td>
      </tr>
      <tr>
        <th> Private key:</th>
        <td> {{form.private_key}} </td>
        <td> {{ form.private_key.errors }} </td>
      </tr>
    </table>

    <div class="btn-group btn-group-sm" role="group" aria-label="...">
       <a href="/keys_certs/view_ssl_certificates" role="button" class="btn btn-default"> Cancel</a>&nbsp;&nbsp;
       <button type="submit" class="btn btn-primary cover-page">Upload</button>
    </div>
  </form>
{%endblock%}

{%block help_header%}
  Upload a  SSL certificate
{%endblock%}

{%block help_body%}
  <p>Use this screen to upload a SSL certificate. The settings will take effect upon saving this information.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("ssl_certs_tab")
  </script>
{% endblock %}
