{% extends  'keys_certs_base.html' %}

{% block tab_header %}
   User SSH keys for {{selected_user}}
{% endblock%}

{%block global_actions %}
  <div class="btn-group btn-group-sm pull-right">
    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">       <i class="fa fa-cog fa-fw"></i>&nbsp;Actions &nbsp;<span class="fa fa-caret-down" title="Toggle dropdown menu"></span> 
    </a>
    <ul class="dropdown-menu">
      <li><a class="action-dropdown" href="/static/{{ssh_key}}" ><i class="fa fa-download fa-fw"></i>&nbsp;Download {{selected_user}}'s public key</a></li>
      <hr style="margin-top: 2px; margin-bottom: 2px; border: 0; border-top: 1px solid #7d7676;">
      <li><a class="action-dropdown" href="/keys_certs/upload_ssh_user_key/?user={{selected_user}}" ><i class="fa fa-upload fa-fw"></i>&nbsp;Add authorized key for {{selected_user}} </a></li>
    </ul>
  </div>
{% endblock  %}

{% block inside_content %}
  <table class="table" style="width:800px">
    <tr>
      <th> Select User :</th>
      <td> 
        <select name="user" id="id_user" class="form-control">
          <option value="replicator" {% if "replicator" == selected_user%} selected="selected" {% endif %}>replicator</option>
        </select>
      </td>
    </tr>

  </table>


  {%if authorized_keys %}
    Users Accepted SSH Key(s)
    <table class="table">
      <tbody>
        {% for key in authorized_keys %}    
          <form action="/keys_certs/upload_ssh_user_key/" method="POST" class="form-horizontal">      
            {%csrf_token%}
            <tr>
              <td >
                <input type="text" value="{{selected_user}}" name="selected_user" readonly class="form-control" style="display:none"/>
                <input type="text" value="{{key}}" name="authorized_key" readonly class="form-control" style="display:none"/>
                <textarea cols=100 rows=4 readonly> {{key}} </textarea>
              </td>
              <td><button class="btn btn-danger">Remove Access </button></td>
            </tr>
          </form>
        {% endfor %}
      </tbody>
    </table>
  {%endif%}

  <script>
    document.getElementById("id_user").onchange = function () {
      var user = $("#id_user").val()
      location.href = "/keys_certs/view_user_ssh_keys/?user="+user
    }
  </script>
{% endblock %}

{% block tab_active %}
  <script>
   make_tab_active("user_ssh_keys_tab")
  </script>
{% endblock %}
