{% extends 'logged_in_base.html' %}

{%block tab_items %}
  <li id="view_cifs_shares_tab">
    <a href="/view_cifs_shares/">View Shares</a>
  </li>
  <li id="create_cifs_shares_tab">
    <a href="/create_cifs_share/">Create share</a>
  </li>

{%endblock tab_items %}

{% block menu_active %}
  <script>
    make_side_menu_active("cifs_menu")
  </script>
{% endblock %}

<!--
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li id="view_cifs_shares_tab">
        <a href="/view_cifs_shares/">View Shares</a>
      </li>
      <li id="create_cifs_shares_tab">
        <a href="/create_cifs_share/">Create share</a>
      </li>
      {% include 'help_and_refresh.html' %}
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="content">
        {% block inside_content %}
          Information Not found. Please refresh the page
        {% endblock inside_content %}
      </div>
    </div>
  </div>
-->


