{% extends 'system_base.html' %}

{%block tab_header %}
Create a self signed SSL certificate
{%endblock%}
{%block inside_content %}
<br><br>

{{conf_message}}

<form id="create_form" name="create_form" action="/create_self_signed_cert/" method="post">
  <table class="table" style="width:800px">
  <tr>
    <td>
      <label for="id_name">Certificate name:</label>
    </td>
    <td>
      <input type="text"  name="name" class="form-control" id="id_name" placeholder="Enter a name of the certificate" />
    </td>
    <td>
      {{ form.name.errors }}
    </td>
  </tr>
  <tr>
    <td>
      <label for="id_key_length">Key length:</label>
    </td>
    <td>
      {{form.key_length}}
    </td>
    <td>
      {{ form.key_length.errors }}
    </td>
  </tr>
  <tr>
    <td>
      <label for="id_days">Validity (in days):</label>
    </td>
    <td>
      <input type="text"  name="days" class="form-control" id="id_name" placeholder="Enter required certificate validity" />
    </td>
    <td>
      {{ form.days.errors }}
    </td>
  </tr>
  <tr>
    <td>
      <label for="id_country">Country :</label>
    </td>
    <td>
      <input type="text"  name="country" class="form-control" id="id_country" placeholder="Enter 2 letter country code" />
    </td>
    <td>
      {{ form.country.errors }}
    </td>
  </tr>
  <tr>
    <td>
      <label for="id_state">State :</label>
    </td>
    <td>
      <input type="text"  name="state" class="form-control" id="id_state" placeholder="Enter the desired state" />
    </td>
    <td>
      {{ form.state.errors }}
    </td>
  </tr>
  <tr>
    <td>
      <label for="id_location">Location (City) :</label>
    </td>
    <td>
      <input type="text"  name="location" class="form-control" id="id_location" placeholder="Enter the city name" />
    </td>
    <td>
      {{ form.location.errors }}
    </td>
  </tr>
  <tr>
    <td>
      <label for="id_o">Organisation name :</label>
    </td>
    <td>
      <input type="text"  name="o" class="form-control" id="id_o" placeholder="Enter organisation name " />
    </td>
    <td>
      {{ form.o.errors }}
    </td>
  </tr>
  <tr>
    <td>
      <label for="id_ou">Organisational unit :</label>
    </td>
    <td>
      <input type="text"  name="ou" class="form-control" id="id_ou" placeholder="Enter organisational unit " />
    </td>
    <td>
      {{ form.ou.errors }}
    </td>
  </tr>
  <tr>
    <td>
      <label for="id_cn">Common name (hostname) :</label>
    </td>
    <td>
      <input type="text"  name="cn" class="form-control" id="id_cn" placeholder="Enter common name" />
    </td>
    <td>
      {{ form.cn.errors }}
    </td>
  </tr>
  <tr>
    <td>
      <label for="id_email">Email address:</label>
    </td>
    <td>
      <input type="text"  name="email" class="form-control" id="id_emailcn" placeholder="Enter email address" />
    </td>
    <td>
      {{ form.email.errors }}
    </td>
  </tr>
  </table>

 <a href="/view_certificates" role="button" class="btn btn-default"> Cancel</a>&nbsp;&nbsp;
 <button type="submit" class="btn btn-primary cover-page">Create</button>
</form>
<script>
{%endblock%}
{%block help_header%}
Create a  self signed SSL certificate
{%endblock%}
{%block help_body%}
<p>Use this screen to create a self signed SSL certificate. The settings will take effect upon saving this information.</p>
{%endblock%}

{% block tab_active %}
  <script>
   make_tab_active("certificates_tab")
  </script>
{% endblock %}
