
<table class="table">
  <tr>
    <th> Set permissions for :</th>
    <td>
    	<span id="id_path_value">{% if form.path.value == "/tmp/" %} {{form.dataset}} {% else %} {{ form.path.value }}{% endif %}</span>

    </td>
    <td> &nbsp </td>
  </tr>
  <tr>
    <td> <b>Set owner user:</b><br> (Current owner user is {{username}})</td>
    <td> {{ form.set_owner }} </td>
    <td> {{ form.set_owner.errors }} </td>
  </tr>
  <tr>
    <th> Select owner user:</th> 
    <td>
      <select name="uid" class="form-control">
        {% for choice in form.uid.field.choices %} 
          <option value="{{choice.0}}" {%if form.initial.uid == choice.0%} selected="selected" {%endif%}>{{choice.1}}</option>
        {%endfor%}
      </select>
    </td>
    <td> {{ form.uid.errors }} </td>
  </tr>
  <tr>
    <td><b> Set owner group:</b><br>(Current owner group is {{grpname}})</td>
    <td> {{ form.set_group }} </td>
    <td> {{ form.set_group.errors }} </td>
  </tr>
  <tr>
    <th> Select owner group:</th>
    <td>
      <select name="gid" class="form-control">
        {% for choice in form.gid.field.choices %} 
          <option value="{{choice.0}}" {%if form.initial.gid == choice.0%} selected="selected" {%endif%}>{{choice.1}}</option>
        {%endfor%}
      </select>
    </td>
    <td> {{ form.gid.errors }} </td>
  </tr>
  <tr>
 <table>
  <thead>  
    <tr> 
      <td> Permissions </td> 
      <td> Owner </td> 
      <td> Group </td>
      <td> Others </td> 
    </tr>
  </thead>
  <tbody>
    <tr>
     <td> 
       <tr>
         <td> Read </td>
         <td> {{form.owner_read}} </td>
         <td> {{form.group_read}} </td>
         <td> {{form.other_read}} </td>
     </td>   
     <td> 
       <tr>
         <td> Write </td>
         <td> {{form.owner_write}} </td>
         <td> {{form.group_write}} </td>
         <td> {{form.other_write}} </td>
     </td>   
     <td> 
       <tr>
         <td> Execute </td>
         <td> {{form.owner_execute}} </td>
         <td> {{form.group_execute}} </td>
         <td> {{form.other_execute}} </td>
     </td>   
    </tr>
  </tbody>
</table>

 <!--
  <th> Owner permissions:</th>
    <td>
      <table>
        <tr>
          <th> Read</th>
          <td>{{form.owner_read}} </td>
        </tr>
        <tr>
          <th> Write</th>
          <td>{{form.owner_write}} </td>
        </tr>
        <tr>
          <th> Execure</th>
          <td>{{form.owner_execute}} </td>
        </tr>
      </table>
    </td>
    <td> &nbsp; </td>
  </tr>
  <tr>
    <th> Group permissions:</th>
    <td>
      <table>
        <tr>
          <th> Read</th>
          <td>{{form.group_read}} </td>
        </tr>
        <tr>
          <th> Write</th>
          <td>{{form.group_write}} </td>
        </tr>
        <tr>
          <th> Execure</th>
          <td>{{form.group_execute}} </td>
        </tr>
      </table>
    </td>
    <td> &nbsp; </td>
  </tr>
  <tr>
    <th> Others permissions:</th>
    <td>
      <table>
        <tr>
          <th> Read</th>
          <td>{{form.other_read}} </td>
        </tr>
        <tr>
          <th> Write</th>
          <td>{{form.other_write}} </td>
        </tr>
        <tr>
          <th> Execure</th>
          <td>{{form.other_execute}} </td>
        </tr>
      </table>
    </td>
    <td> &nbsp; </td>
  -->
  </tr>
</table>
<div class="btn-group btn-group-sm" role="group" aria-label="...">
</div>


<script>
  function check_status() {
    if (document.getElementById("id_set_owner").checked){
      document.getElementsByName("uid")[0].disabled = "";
    }else{
      document.getElementsByName("uid")[0].disabled = "disabled";
    }
    if (document.getElementById("id_set_group").checked){
      document.getElementsByName("gid")[0].disabled = "";
    }else{
      document.getElementsByName("gid")[0].disabled = "disabled";
    }
  }
  check_status()
  document.getElementById("id_set_owner").onchange = function (){check_status()}
  document.getElementById("id_set_group").onchange = function (){check_status()}
</script>
