            <tr>
              <td>
                <label for="id_scheduler">Schedule Task</label>
              </td>
              <td>
                <input type="checkbox" name="id_scheduler" id="id_scheduler">
              </td>
            </tr>
            <tr>
              <td>
                <label for="id_minute">
                  Minute <br />
                  Allowed Values : 2-59 <br />
                  Example : 2, 4, 7-9,56-59
                </label>
              </td>
              <td>
                <input type="text" name="id_minute" id="id_minute" class="form-control" value="*">
              </td>
            </tr>
            <tr>
              <td>
                <label for="id_minute">
                  Hour <br />
                  Allowed Values : 1-24 <br />
                  Example : 2, 4, 7-9, 12-22
                </label>
              </td>
              <td>
                <input type="text" name="id_hour" id="id_hour" class="form-control" value="*">
              </td>
            </tr>
            <tr>
              <td>
                <label for="id_day_of_month">
                  Day Of Month <br />
                  Allowed Values : 1-31 <br />
                  Example : 2, 4, 7-9, 26-31
                </label>
              </td>
              <td>
                <input type="text" name="id_day_of_month" id="id_day_of_month" class="form-control" value="*">
              </td>
            </tr>
            <tr>
              <td>
                <label for="id_month">
                  Month <br />
                  Allowed Values : 1-12 <br />
                  Example : 2, 4, 4-7, 9-10
                </label>
              </td>
              <td>
                <input type="text" name="id_month" id="id_month" class="form-control" value="*">
              </td>
            </tr>
            <tr>
              <td>
                <label for="id_week">
                  Day of Week <br />
                  Allowed Values : 0-7  (Sunday - 0, Saturday - 7)<br />
                  Example : 2, 4, 6-7 
                </label>
              </td>
              <td>
                <input type="text" name="id_week" id="id_week" class="form-control" value="0">
              </td>
            </tr>
