{% extends 'system_base.html' %}

{%block tab_header %}
Upload a SSL certificate
{%endblock%}
{%block inside_content %}
<br><br>

{{conf_message}}

<form id="create_form" name="upload_form" action="/upload_cert/" method="post">
  <table class="table" style="width:800px">
  <tr>
    <td>
      <label for="id_name">Certificate name:</label>
    </td>
    <td>
      <input type="text"  name="name" class="form-control" id="id_name" placeholder="Enter a name of the certificate" />
    </td>
    <td>
      {{ form.name.errors }}
    </td>
  </tr>
  <tr>
    <td>
      <label for="id_certificate">Certificate :</label>
    </td>
    <td>
      {{form.certificate}}
    </td>
    <td>
      {{ form.certificate.errors }}
    </td>
  </tr>
  <tr>
    <td>
      <label for="id_private_key">Private key:</label>
    </td>
    <td>
      {{form.private_key}}
    </td>
    <td>
      {{ form.private_key.errors }}
    </td>
  </tr>
  </table>

 <a href="/view_certificates" role="button" class="btn btn-default"> Cancel</a>&nbsp;&nbsp;
 <button type="submit" class="btn btn-primary cover-page">Upload</button>
</form>
<script>
{%endblock%}

{%block help_header%}
Upload a  SSL certificate
{%endblock%}
{%block help_body%}
<p>Use this screen to upload a SSL certificate. The settings will take effect upon saving this information.</p>
{%endblock%}

{% block tab_active %}
  <script>
   make_tab_active("certificates_tab")
  </script>
{% endblock %}
