{% extends 'logged_in_base.html' %}

{%block page-header%}
  GRIDCell Configuration
    <br /><small>
      GRIDCell
      <i class="fa fa-angle-double-right smaller-80"></i>
      GRIDCell Configuration
  </small>

{%endblock%}


{%block contents%}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body" id="myModalBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="row margin-left-1">

{% for hostname, v in system_info.items %}
  <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
     <div class="box box-success">
        <div class="box-header">
            <h3 class="box-title">{{hostname}}</h3>
        </div>
        <div class="box-body">
            <a href="/show/node_info/{{hostname}}/?from=system_config" role="button" class="btn btn-default">Details.. </a>
        </div><!-- /.box-body -->
    </div>
  </div>
{%endfor%}
</div>


{%endblock%}
{%block help_header%}
System configuration 
{%endblock%}
{%block help_body%}
<p>This page allows displays the list of all GRIDCells that are part of the IntegralStor system. Please select any GRIDCell to view its configuration.</p>
{%endblock%}

