{% extends 'dashboard_base.html' %}

{%block tab_header %}
  ZFS pools status
{%endblock%}

{% block inside_content %}

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <span class="margin-left-5"> CPU Utilization Graph (Utilization VS Time)</span>
      {% if data_dict %}
        <canvas id="dashboard_chart" width="800" height="300" class="margin-left-5"></canvas>
      {% else %}
        <br /> <br />
        <span class="margin-left-5 red">No Data Found</span>
      {% endif %}
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="row"><br/>
        <div class="col-sm-1 col-md-1 col-lg-1">
        </div>
        {% for keys in data_dict.keys %}
          <div class="col-sm-2 col-md-2 col-lg-2">
            <span id="color_{{forloop.counter}}" class="color-box"></span><br/>&nbsp; &nbsp;<br /> {{keys|title}}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <br />
  <hr>
  <br />
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <span class="margin-left-5">Load Average Graph (Load Average VS Time) </span>
      {% if data_dict_queue %}
        <canvas id="queue_chart" width="800" height="300" class="margin-left-5"></canvas>
      {% else %}
        <br /> <br />
        <span class="margin-left-5 red">No Data Found</span>
      {% endif %}
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="row"><br/>
        <div class="col-sm-1 col-md-1 col-lg-1">
        </div>
        {% for keys in data_dict_queue.keys %}
          <div class="col-sm-2 col-md-2 col-lg-2">
            <span id="queue_{{forloop.counter}}" class="color-box"></span><br />&nbsp; &nbsp; <br />{{keys|title}}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-8">
      <span class="margin-left-5">Memory Graph (Memory Used in GB VS Time) </span>
      {% if data %}
        <canvas id="dashboard_chart" width="800" height="300" class="margin-left-5"></canvas>
      {% else %}
        <br /> <br />
        <span class="margin-left-5 red">No Data Found</span>
      {% endif %}
    </div>
    <div class="col-sm-12 col-md-1 col-lg-1">
    </div>
  </div>
  <br></br>
  <table class="table table-bordered table-hover table-responsive margin-left-2" >
    <tr>
      <th > Total memory </th>
      <td> {{memory_status.mem_total.value|floatformat}} {{memory_status.mem_total.unit}} </td>
    </tr>
    <tr>
      <th > Free memory </th>
      <td> {{memory_status.mem_free.value|floatformat}} {{memory_status.mem_free.unit}} </td>
    </tr>
  </table>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <span class="margin-left-5">Network Graph (Network Utilization VS Time) </span>
      {% if data_dict %}
        <canvas id="dashboard_chart" width="800" height="300" class="margin-left-3"></canvas>
      {% else %}
        <span class="margin-left-5 red">No Data Found</span>
      {% endif %}
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
       <div class="row margin-left-5"><br/>
         {% for keys in data_dict.keys %}
           <div class="col-sm-1 col-md-1 col-lg-1">
             <span id="color_{{forloop.counter}}" class="color-box"></span><br /><br /> {{keys|title}}
           </div>
         {% endfor %}
       </div>
    </div>
  </div>

  <script src="/static/js/Chart.js"></script>

  <script>
    var labels = []
    {% for l in labels %}
      labels.push("{{l}}")
    {% endfor %}

    Chart.defaults.global.animationSteps = 1;
    Chart.types.Line.extend({
      name: "LineAlt",
      initialize: function (data) {
        Chart.types.Line.prototype.initialize.apply(this, arguments);
        var xLabels = this.scale.xLabels;
        xLabels.forEach(function (label, i) {
          if ( i % 60 == 0 )
            xLabels[i] = '';
        })
      }
    });
    var data = {
      labels: labels, 
       datasets: [
         {
           label: "Memory Chart",
           fillColor: "rgba(220,220,220,0.2)",
           strokeColor: "rgba(220,220,220,1)",
           pointColor: "rgba(220,220,220,1)",
           pointStrokeColor: "#fff",
           pointHighlightFill: "#fff",
           pointHighlightStroke: "rgba(220,220,220,1)",
           data: {{data}}
          },
       ]
    };
    var ctx = document.getElementById("dashboard_chart").getContext("2d");
    var myLineChart = new Chart(ctx).LineAlt(data, {});

  </script>

  <!--
  {%if not pools %}
    No storage pools created
  {%else%}
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

      {%for pool in pools %}

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h5 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{pool.pool_name}}" aria-expanded="true" aria-controls="collapse{{pool.pool_name}}">
                Pool : {{pool.pool_name}}. <span class="label {%if pool.config.pool.root.status.state == 'ONLINE' %} label-default {%elif pool.config.pool.root.status.state == 'DEGRADED'%} label-warning {%else %} label-danger {%endif%}"> Status : {{pool.config.pool.root.status.state}}</span>&nbsp; <span class="caret">&nbsp;</span>
              </a>
            </h5>
          </div>
          <div id="collapse{{pool.pool_name}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{pool.pool_name}}">
            <div class="panel-body">
      
              <table class="table table-bordered table-hover table-responsive" style="width:800px">
                <thead>
                  <th > Pool name </th>
                  <th > Pool type </th>
                  <th> Status details </th>
                  <th> Errors </th>
                  <th> Scan status </th>
                </thead>
                <tr>
                  <td> {{pool.pool_name}} </td>
                  <td> {{pool.config.pool.type.upper}} </td>
                  <td>
                    {{pool.config.pool.root.status.read}} read errors, <br>{{pool.config.pool.root.status.write}} write errors, <br>{{pool.config.pool.root.status.read}} checksum errors 
                  </td>
                  <td> {{pool.errors}} </td>
                  <td> {{pool.scan}} </td>
                </tr>
              </table>

              <h5>Storage pool status</h5>
              <ul>
                <li> {{pool.pool_name}} (Pool)- State ({{pool.config.pool.root.status.state}}), Read ({{pool.config.pool.root.status.read}}), Write ({{pool.config.pool.root.status.write}}), Checksum ({{pool.config.pool.root.status.chksum}})
                {%if pool.config.pool.root.status.state == 'ONLINE'%}
                  <i class="fa fa-check-circle green fa-1x"></i>	
                {%else%}
                  <i class="fa fa-remove red fa-2x"></i>	
                {%endif%}
                <ul>
                  {%for child in pool.config.pool.root.children %}
                    <li> {{child.name}} ({{child.type}}), State ({{child.status.state}}), Read ({{child.status.read}}), Write ({{child.status.write}}), Chksum ({{child.status.chksum}})
                    {%if child.status.state == 'ONLINE'%}
                      <i class="fa fa-check-circle green fa-1x"></i>	
                    {%else%}
                      <i class="fa fa-remove red fa-2x"></i>	
                    {%endif%}
                    {%if child.children %}
                      <ul>
                        {%for gr_child in child.children %}
                          <li> {{gr_child.name}} ({{gr_child.type}}), State ({{gr_child.status.state}}), Read ({{gr_child.status.read}}), Write ({{gr_child.status.write}}), Chksum ({{gr_child.status.chksum}})
                          {%if gr_child.status.state == 'ONLINE'%}
                            <i class="fa fa-check-circle green fa-1x"></i>	
                          {%else%}
                            <i class="fa fa-remove red fa-2x"></i>	
                          {%endif%}
                          {%if gr_child.children %}
                            <ul>
                              {%for gr_gr_child in gr_child.children %}
                                <li> Name - {{gr_gr_child.name}}, Type - {{gr_gr_child.type}}, <br>Status - State ({{gr_gr_child.status.state}}), Read ({{gr_gr_child.status.read}}), Write ({{gr_gr_child.status.write}}), Chksum ({{gr_gr_child.status.chksum}})
                                {%if gr_gr_child.status.state == 'ONLINE'%}
                                  <i class="fa fa-check-circle green fa-1x"></i>	
                                {%else%}
                                  <i class="fa fa-remove red fa-2x"></i>	
                                {%endif%}
                              {%endfor%}
                            </ul>
                          {%endif%}
                        {%endfor%}
                      </ul>
                    {%endif%}
                  {%endfor%}
                </ul>
            </ul>
            {%if pool.config.spares%}
              <h5>Spare disk status</h5>
              <table class="table table-bordered table-hover table-responsive" >
                <th> Disk ID </th>
                <th> Status </th>
                {%for id, status in pool.config.spares.items%}
                  <tr>
                    <td> {{id}} </td>
                    <td> {{status}} </td>
                  </tr>
                {%endfor%}
              </table>
            {%endif%}
      
            {% if pool.config.logs %}
              <h5>Write cache status</h5>
              <ul>
                {%if pool.config.logs.root.status %}
                  <li>  Write cache Status - State ({{pool.config.logs.root.status.state}}), Read ({{pool.config.logs.root.status.read}}), Write ({{pool.config.logs.root.status.write}}), Checksum ({{pool.config.logs.root.status.chksum}})
                    {%if pool.config.logs.root.status.state == 'ONLINE'%}
                      <i class="fa fa-check-circle green fa-2x"></i>	
                    {%else%}
                      <i class="fa fa-remove red fa-2x"></i>	
                    {%endif%}
                {%endif%}
                  
                {%for child in pool.config.logs.root.children %}
                  <li> Name - {{child.name}}, Type - {{child.type}}, Status - State ({{child.status.state}}), Read ({{child.status.read}}), Write ({{child.status.write}}), Chksum ({{child.status.chksum}})
                  {%if child.status.state == 'ONLINE'%}
                    <i class="fa fa-check-circle green fa-2x"></i>	
                  {%else%}
                    <i class="fa fa-remove red fa-2x"></i>	
                  {%endif%}
                  {%if child.children %}
                    <ul>
                      {%for gr_child in child.children %}
                        <li> Name - {{gr_child.name}}, Type - {{gr_child.type}}, Status - State ({{gr_child.status.state}}), Read ({{gr_child.status.read}}), Write ({{gr_child.status.write}}), Chksum ({{gr_child.status.chksum}})
                        {%if gr_child.status.state == 'ONLINE'%}
                          <i class="fa fa-check-circle green fa-2x"></i>	
                        {%else%}
                          <i class="fa fa-remove red fa-2x"></i>	
                        {%endif%}
                        {%if gr_child.children %}
                          <ul>
                            {%for gr_gr_child in gr_child.children %}
                              <li> Name - {{gr_gr_child.name}}, Type - {{gr_gr_child.type}}, Status - State ({{gr_gr_child.status.state}}), Read ({{gr_gr_child.status.read}}), Write ({{gr_gr_child.status.write}}), Chksum ({{gr_gr_child.status.chksum}})
                              {%if gr_gr_child.status.state == 'ONLINE'%}
                                <i class="fa fa-check-circle green fa-2x"></i>	
                              {%else%}
                                <i class="fa fa-remove red fa-2x"></i>	
                              {%endif%}
                            {%endfor%}
                          </ul>
                        {%endif%}
                      {%endfor%}
                    </ul>
                  {%endif%}
                {%endfor%}
              </ul>
            {%endif%}
      
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
      
{%endif%}
  -->


{% endblock %}

{%block help_header%}
  View ZFS pool status
{%endblock%}

{%block help_body%}
  <p> 
  This screen gives the status of all the ZFS pools that have been created. You can click on the entry next to the pool name to expand a tab which gives you details about that pool.
  </p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("pools_tab")
  </script>
{% endblock%}

{% block js %}
  <script src="/static/js/Chart.js"></script>
  <script>
    var labels = []
    {% for l in labels %}
      labels.push("{{l}}")
    {% endfor %}

    Chart.defaults.global.animationSteps = 1;
    Chart.types.Line.extend({
      name: "LineAlt",
      initialize: function (data) {
        Chart.types.Line.prototype.initialize.apply(this, arguments);
        var xLabels = this.scale.xLabels;
        xLabels.forEach(function (label, i) {
          if ( i % 60 == 0 )
            xLabels[i] = '';
        })
      }
    });
    var colors = ["37,103,5","134,212,186","182,115,253","239,109,255"]
    for (var i=1; i<=colors.length;i++){
      $("#color_"+i).attr("data-color",colors[i-1]);
      $("#color_"+i).attr("style","background:rgb("+colors[i-1]+")");
    }
    var queue_colors = ["37,103,5","134,212,186","182,115,253","239,109,255"]
    for (var i=1; i<=colors.length;i++){
      $("#queue_"+i).attr("data-color",queue_colors[i-1]);
      $("#queue_"+i).attr("style","background:rgb("+queue_colors[i-1]+")");
    }
    var data = {
      labels: labels, 
      datasets: [
        {% for keys,values in data_dict.items %}
          {
            label: "{{keys}}",
            fillColor: "rgba("+$('#color_{{forloop.counter}}').attr('data-color')+",0.2)",
            strokeColor: "rgba("+$('#color_{{forloop.counter}}').attr('data-color')+",1)",
            pointColor: "rgba("+$('#color_{{forloop.counter}}').attr('data-color')+",1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba("+$('#color_{{forloop.counter}}').attr('data-color')+",1)",
            data: {{values}}
          },
        {% endfor%}
      ]
    };
    var ctx = document.getElementById("dashboard_chart").getContext("2d");
    var myLineChart = new Chart(ctx).LineAlt(data, {});
    var data = {
      labels: labels, 
      datasets: [
        {% for keys,values in data_dict_queue.items %}
          {
            label: "{{keys}}",
            fillColor: "rgba("+$('#queue_{{forloop.counter}}').attr('data-color')+",0.2)",
            strokeColor: "rgba("+$('#queue_{{forloop.counter}}').attr('data-color')+",1)",
            pointColor: "rgba("+$('#queue_{{forloop.counter}}').attr('data-color')+",1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba("+$('#queue_{{forloop.counter}}').attr('data-color')+",1)",
            data: {{values}}
          },
        {% endfor%}
      ]
    };
    var ctx = document.getElementById("queue_chart").getContext("2d");
    var myLineChart = new Chart(ctx).LineAlt(data, {});
  </script>
{% endblock %}

