{% extends 'users_groups_base.html' %}

{%block tab_header %}
  Delete a local user - confirmation
{%endblock%}

{% block inside_content %}


  <p id="p-warning-text">Are you sure you want to delete the local user "{{username}}"? </p>
  <br>
  <form action="" method="POST">
    {%csrf_token%}
    <input type=hidden name="username" value="{{username}}">
    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <a href="/users_groups/view_local_users" role="button" class="btn btn-default btn-sm"> Cancel</a>&nbsp;&nbsp;
      <button type="submit" class="btn btn-danger" onClick ="$('#processing').modal('show');">Confirm and delete </button>
    </div>
  </form>

{%endblock%}

{%block help_header%}
  Deleting local users.
{%endblock%}

{%block help_body%}
  <p>Confirming this operation results in a local user of the IntegralStor system being deleted.</p>
{%endblock%}

{% block tab_active %}
 <script>
    make_tab_active("view_local_users_tab")
 </script>
{% endblock %}
