{% extends 'users_groups_base.html' %}

{%block tab_header %}
  Local user details
{%endblock%}

{% block inside_content %}

  <table class="table table-bordered">
    <tr>
      <th> User name: </th>
      <td> {{ user.username }} </td>
    </tr>
    <!--
    <tr>
      <th> Primary group : </th>
      <td> {{user.grpname}} </td>
    </tr>
    -->
    <tr>
      <th> Group membership : </th>
      <td>
        {%for g in user.other_groups %}
          {{g}},
        {%endfor%}
      </td>
    </tr>
    <tr>
      <th> Actual name </th>
      <td> {{ user.comment |slice:"18:"}} </td>
    </tr>
  </table>
  <div class="btn-group btn-group-sm" role="group" aria-label="...">
    <a href="/users_groups/view_local_users" role="button" class="btn btn-default">  <i class="fa fa-list fa-fw"></i>&nbsp;Back to user list</a>
    <a href="/users_groups/update_local_user_password?username={{user.username}}" role="button" class="btn btn-primary"> <i class="fa fa-exchange fa-fw"></i>&nbsp;Change password</a>
    <a href="/users_groups/delete_local_user?username={{user.username}}" role="button" class="btn btn-danger"> <i class="fa fa-trash fa-fw"></i>&nbsp;Delete this user</a>
    <a href="/users_groups/update_local_user_group_membership?username={{user.username}}" role="button" class="btn btn-primary"> <i class="fa fa-exchange fa-fw"></i>&nbsp;Modify group membership</a>
  </div>

{%endblock%}

{%block help_header%}
  Local user details
{%endblock%}

{%block help_body%}
<p>Use this screen to view details about a particular user that has been created. </p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active("view_local_users_tab")
  </script>
{% endblock %}
